[2017-12-07 02:23] jihoonson commented on #4289
I'm working on this.

[2017-12-07 03:08] dkhwangbo opened #5144 "User-specific timezone format sometimes not applied in GroupBy query result"
Hi.
When I submit groupby query with periodgranularity, timestamp of result has not all the same format.
Here's the query i used.
[code]
It's result
[code]

I refer this [doc](http://druid.io/docs/0.10.0/querying/granularities.html) to get timestamp of result formatted with `2017-12-06T00:00:00.000+09:00`, not  `2017-12-05T15:00:00.000Z`

[2017-12-07 03:10] dkhwangbo commented on #5144
I'm using Druid 0.10.0 and all the component is under UTC.

[2017-12-07 03:44] jihoonson commented on #5144
Looks like the same issue with https://github.com/druid-io/druid/issues/4126. Would you try again after upgrading your cluster to 0.10.1?

[2017-12-07 04:12] dkhwangbo commented on #5144
@jihoonson Ah, Thanks for your comment. I'll try again. Now close this issue and I'll reopen If I find same symptom out.

[2017-12-07 04:12] #5144 closed

[2017-12-07 04:28] jihoonson commented on #5144
@dkhwangbo thanks. Please let us know if you still have the problem.

[2017-12-07 06:30] NextSunrises opened #5145 "Hadoop Index Task Fail"
When I load data by using wikiticker-2015-09-12-sampled.json,I got the following error from the druid overLord Web Log:
2017-12-07T11:49:03,844 ERROR [task-runner-0-priority-0] io.druid.indexing.overlord.ThreadPoolTaskRunner - Exception while running task[HadoopIndexTask{id=index_hadoop_wikiticker_2017-12-07T11:48:19.523+08:00, type=index_hadoop, dataSource=wikiticker}]
java.lang.RuntimeException:

[2017-12-07 07:39] littlebeandog commented on #5093
这不是一个项目

[2017-12-07 09:33] tralfredochua commented on #4456
WORKS LIKE A CHARM!!!!!!!!! :* :* :* :*

[2017-12-07 10:07] #5093 closed

[2017-12-07 17:39] gianm commented on #2433
This is done, there is a finalizingFieldAccess post-aggregator now.

[2017-12-07 17:39] #2433 closed

[2017-12-08 09:57] Zhifeiyu opened #5147 "I would like to have a finalizeFieldAccess post aggregator with topN query"
[code]

[code]

pls, help me.

[2017-12-11 00:42] amalakar commented on #4977
I was able to get it working by doing the following:
- Add hortonworks maven repository http://repo.hortonworks.com/content/repositories/releases
- Add spring.io maven repository  http://repo.spring.io/plugins-release
- Set `hadoop.compile.version` to: `2.7.3.2.5.3.0-37`
- Had to disable module `druid-kerberos`
- Built the distro and there were no more runtime version incompatibility:

Following e

[2017-12-11 06:39] jason-heo commented on #2330
@yaochitc

Sounds great! Your approach is the same as what I'm thinking. Is your work open publicly? Or would you please suggest some start points?

Currently, I'm testing [Druid Hadoop Inputformat](https://github.com/implydata/druid-hadoop-inputformat). But not sure it provides high read-throughput and uses inverted index.

Thanks.

[2017-12-11 21:26] amalakar opened #5150 "Druid-parquet-extensions fails on timestamps (stored as INT96) in parquet files"
I am trying to use the druid-parquet-extensions to ingest parquet data in druid. As per my understanding parquet uses INT96 as the datatype for timestamps:

optional int96 logged_at

Trying to read this parquet files in hadoop index job throws an error that INT96 not supported. It looks like INT96 field may need to be read as an byte array, has anyone seen similar error, suggestion?

I am using dr

[2017-12-12 18:00] himanshug opened #5153 "RetryQueryRunner might fail on parsing responseContext to get missingSegments"
responseContext from data node is returned in a header which could get truncated and not be a valid json, and results in json parsing exception in RetryQueryRunner ( https://github.com/druid-io/druid/blob/druid-0.11.0/processing/src/main/java/io/druid/query/RetryQueryRunner.java#L118 )

there was an effort ( https://github.com/druid-io/druid/pull/3319 )  to move response context into response payl

[2017-12-12 18:00] himanshug commented on #5153
not a critical bug though as most of the time, there are no missingSegments .

[2017-12-12 19:37] gianm commented on #5150
Hi @amalakar, it seems like this is due to Parquet's parquet-to-avro converter (which Druid uses for reading Parquet files) not supporting int96. I'm not sure what the best fix is. Maybe upgrading parquet would help if it's been fixed in a newer version. Or maybe using a Parquet reading strategy that doesn't involve conversion to Avro. If you're familiar enough with Parquet to help contribute the

[2017-12-12 19:44] gianm opened #5154 "Protection against unemitted alerts"
See https://github.com/druid-io/druid/pull/5141 for a patch that recently fixed some unintentionally unemitted alerts.

Maybe it's possible to have a static analysis check for ignored return values of type `AlertBuilder`. It's suspicious if one is created and then neither emitted nor assigned to a variable.

Or maybe change the API to

[code]

rather than

[code]

which may make it tougher to forg

[2017-12-12 22:29] amalakar commented on #5150
Looks like it is not fixed in newer parquet - https://github.com/apache/parquet-mr/blob/master/parquet-avro/src/main/java/org/apache/parquet/avro/AvroSchemaConverter.java#L279

The parquet-avro repo also seems to have no commit in last one year. Getting rid of the avro converter in the druid parquet extension looks like the right path to me. I will probably take a stab, but I  am very new to druid

[2017-12-13 08:42] sjtoik commented on #4289
Cool! The endpoint configuration should be trivial with the new AWSClient-builder thingy. That just needs to be propagated trough-out the stack.

[2017-12-13 09:06] clintropolis opened #5156 "Timewarp and Timezones"
Queries using both `timewarp` post processing and a `PeriodGranularity` specifying a `timezone` do not correctly offset dates if a daylight savings time transition occurs between the source data interval and the query interval. For example, a query of the form

[code]
returns results that are shifted by an hour
[code]
Currently, `TimewarpOperator` is unaware of the timezone and thus any daylight s

[2017-12-13 10:31] QiuMM opened #5158 "Why not let groupBy v2 support chunkPeriod"

[2017-12-13 14:05] yuppie-flu opened #5159 "Kafka integration tests fail with plain docker without docker-machine"
I'm trying to run integration tests with Druid inside docker on Linux.
I set `DOCKER_IP` variable to 127.0.0.1
However two integration tests fail:
1. ITKafkaTest.testKafka
2. ITKafkaIndexingServiceTest.testKafka

According to logs, indexing_task for ITKafkaTest failed with the following error
[code]
How to run integration tests on linux? Current documentation here: https://github.com/druid-io/drui

[2017-12-13 14:16] cesure commented on #4219
I just had the same issue:
- Druid 0.9.2
- Lookup DimensionSpec in nested GroupBy
- GroupByStrategy V2
- Lookup was configured with `lookups-cached-global` and is read from CSV from HDFS

I noticed that this was my only Lookup which had `injective: true`. As soon as I changed it to `false` everything was fine again.

[2017-12-13 15:34] cesure commented on #4219
If you run [this](https://gist.github.com/gianm/97c08f7910cae1a08bec4e1cbae509a3) test from @gianm it will succeed. If you then change  the parameter for `MapLookupExtractor.isOneToOne` to `true` (which means injective afaik) then the test fails. It should succeed in both cases in my opinion.

I had no chance to test this in newer Druid versions yet.

[2017-12-13 17:01] nishantmonu51 opened #5160 "Make druid Null handling behave like SQL standard by default and deprecate older behaviors"
With the changes in https://github.com/druid-io/druid/pull/4754 druid can now handle nulls as per SQL standard, this task is to make this default standard behavior and remove legacy code/tests related to old behavior.

NOTE: - This change will *NOT* be backwards compatible

[2017-12-13 17:37] jfmwz commented on #802
Hi

![image](https://user-images.githubusercontent.com/3073892/33953249-a776ea76-e034-11e7-9639-366b5403c165.png)

I think that this bug is fixed. I have tested, and the column duration it is not more 0

[2017-12-14 00:10] dclim opened #5161 "Committed datasource metadata can be inconsistent with generated segments"
In the following scenario, the committed datasource metadata will not match the segments:

1) task starts at offset X
2) supervisor tells it to stop at Y
3) task uploads some of its segments but fails halfway through
4) new task starts at X again
5) supervisor tells new task to end at Z

Since this task will have the same sequence name as the previous failed one, it will reuse the same segment IDs

[2017-12-14 08:41] jihoonson commented on #5159
@yuppie-flu I guess the IP address is wrong. Would you check it again? If you're using Ubuntu, localhost might be 127.0.1.1. Also, please try ```export DOCKER_IP=$(docker-machine ip integration)```.

[2017-12-14 08:46] yuppie-flu commented on #5159
@jihoonson I'm using Archlinux and pretty sure that localhost is 127.0.0.1
[code]
I did `export DOCKER_IP=127.0.0.1`. I can not execute the above command, cause I do not have `docker-machine` command. This tool is only for MacOS and Windows afaik.

[2017-12-14 09:10] jihoonson commented on #5159
@yuppie-flu then, container's IP address is probably ```172.17.0.1```. Would you check it? If the integration test fails, you can see the containers are still running instead of being stopped on failures. Then, you can get the IP address via several ways like ```docker inspect```.

BTW, docker machine is also available for linux. Please check out https://docs.docker.com/machine/install-machine/.

[2017-12-14 12:55] leventov commented on #5160
`SchemalessTestSimpleTest.testFullOnTopN()` needs to be re-enabled maybe

[2017-12-14 17:22] 2PacIsAlive commented on #4877
Removing the "timestamp" column fixed the issue.

http://druid.io/docs/latest/development/extensions-core/lookups-cached-global.html#jdbc-lookup

[2017-12-14 17:22] #4877 closed

[2017-12-14 18:43] abrhwang opened #5163 "Timeout on Druid restart in Ambari"
I get the following error message when trying to restart a Druid component from ambari:

Python script has been killed due to timeout after waiting 600 secs

It appears to be timing out on chown based on the last stdout message:

checked_call[['hadoop', 'fs', '-chown', '-R', 'druid:', '/user/druid']] {'user': 'hdfs'}
Command failed after 1 tries

Is there a way to either increase the timeout perio

[2017-12-14 18:45] mohanrajnaidu opened #5164 "Configurations like "fetchTimeout" is getting stripped off from the Druid task and payload"
I am ingesting a S3 file with following configurations
    "ioConfig" : {
      "type" : "index",
      "firehose" : {
        "type" : "static-s3",
        "uris" : [ "s3://dp-cdp-druid/freewheer_sor_data/year=2017/month=12/day=10/1512882000-1512885600/part-00000-fc315240-8d51-4d2a-ba11-a6be41dd9cf9.csv" ],
        "prefixes" : [ ],
        "maxCacheCapacityBytes" : 3073741824,
        "maxFetchC

[2017-12-15 01:14] jihoonson commented on #5164
Hi @mohanrajnaidu, thank you for the report. It's a bug in 0.10.1 and will be fixed in 0.11.0. Please see https://github.com/druid-io/druid/pull/4948.

[2017-12-15 19:04] nishantmonu51 opened #5167 "DistinctCountAggregator in contrib-extensions does not work with BaseSingleValueDimensionSelector"
BaseSingleValueColumnSelector -  getRow() method returns IndexedInts with [0] always.
{code}
@Override
  public IndexedInts getRow()
  {
    return ZeroIndexedInts.instance();
  }
{code}

Now DisctinctCountAggregator and DistinctCountBufferAggregator adds these indexes to a bitmap and counts the size of bitmap which will always be 1 in this case.

[2017-12-17 02:05] yaodwwy opened #5168 "Wrong libs Path reference in JDK9"
Errors occurred while build effective model from C:\Users\Adam\.gradle\caches\modules-2\files-2.1\com.alibaba\druid\1.1.5\89c05586e0d4e28a543d0239cbc63df28fda202\druid-1.1.5.pom:
    'dependencies.dependency.systemPath' for com.alibaba:jconsole:jar must specify an absolute path but is ${env.JAVA_HOME}/lib/jconsole.jar in com.alibaba:druid:1.1.5
    'dependencies.dependency.systemPath' for com.alib

[2017-12-17 21:24] nishantmonu51 opened #5169 "Avoid calling getObject twice on MapVirtualColumnValueSelector when Sql-null handling is enabled."
Reference discussion - https://github.com/druid-io/druid/pull/4754#discussion_r152708622
When SQL null handling is enabled getObject is called twice for MapVirtualColumnValueSelector This is to avoid calling it twice by either the object and avoiding computing it twice or changing the isNull api.

[2017-12-17 21:27] nishantmonu51 commented on #5160
Also look into https://github.com/druid-io/druid/issues/5169 before enabling it by default.

[2017-12-18 06:36] skyler-tao opened #5170 "ParseException: Duplicate column when only "case" difference"
related issue: https://github.com/druid-io/druid/issues/3750

and when specify metricsSpec:

`"metricsSpec": [
    {
      "type": "longSum",
      "name": "PV",
      "fieldName": "pv"
    },
    {
      "type": "longSum",
      "name": "UV",
      "fieldName": "uv"
    }
]`
also trigger the same problem.

[2017-12-18 19:21] Neema09 opened #5173 "Pagination over union of datasources"
Hi,
      I am following http://druid.io/docs/latest/querying/select-query.html to get pagination working. I am having one issue if i try to use pagination with select query type on a single datasource that is working fine, but if I use union of datasources it fails with illegal argument exception. Would you please guid me if I am doing something wrong here. Please find requests below.

First Requ

[2017-12-19 15:34] gvsmirnov commented on #5135
@himanshug I fixed this issue here for `0.10.1`: https://github.com/Plumbr/druid/commit/640277f00861cbcd2500477703bba54f3e114e9d. We have by now successfully reindexed some months' worth of data with a version built from that branch. However, porting the fix to `master` is non-trivial because `io.druid.indexer.hadoop.DatasourceInputFormat` was changed in newer versions. We also don't have a `0.11`

[2017-12-19 21:09] himanshug commented on #5135
@gvsmirnov In Druid code dev workflow, bugs are always fixed in master and then backported into specific release branch if necessary. we wouldn't be able to do a new druid release of 0.10.1 even if we merged it in 0.10.1 and it would be weird for a bug to be fixed in an older unreleased branch but not in master and upcoming releases.

[2017-12-19 22:13] himanshug opened #5179 "[Proposal] Add support for multiple grouping specs in groupBy query"
Recently I came across following use case.

User sends 3 groupBy queries similar to following ...
1. Report unique-users(user-id-sketch) for groupBy "quarter", "product" .
2. Report unique-users(user-id-sketch) for groupBy "quarter"
3. Report unique-users overall.

Note that, it is possible for Druid Broker to run first query and construct results for 2nd and 3rd query by doing further aggregation

[2017-12-20 10:09] rockamitk opened #5180 "MetricsSpec fields having type doubleSum returned 0.0 on groupBy query"
Please help to solve this issue.
#Task
`{
  "type" : "index",
  "spec" : {
    "dataSchema" : {
      "dataSource" : "fr_json_schema_1k",
      "parser" : {
        "type" : "string",
        "parseSpec" : {
          "format" : "json",
          "timestampSpec" : {
            "column" : "WeekDate",
            "format" : "auto"
          },
          "dimensionsSpec" : {
            "dimensions"

[2017-12-20 11:46] spyk opened #5181 "druid-azure-extensions extension does not support batch indexing via Hadoop"
Although Azure blob storage can be used for deep storage via real-time ingestion (http://druid.io/docs/latest/development/extensions-contrib/azure.html), the extension does not support indexing through Hadoop and will result in a NullPointerException.

This has been already discussed / reported here:
- https://groups.google.com/forum/#!topic/druid-user/noMzOxU3S8s
- https://groups.google.com/forum

[2017-12-20 13:13] nishantmonu51 opened #5182 "Implement NullableBufferAggregator null logic using BitSet"
NullableBufferAggregator can implement the null handling logic using the bitset.

[2017-12-20 14:10] leventov commented on #5182
It feels that it's going to be impossible to impelement this transparently for query engines and indexing. It should be backed in ad-hoc manner into TopN, GroupBy engines, indexing, etc, all separately.

[2017-12-20 17:46] himanshug commented on #2373
its frequency has increased recently, I have seen it fail a couple of times.

[2017-12-20 18:48] himanshug opened #5183 "DruidAvaticaHandlerTest transient failure (times out)"

[2017-12-20 19:28] nishantmonu51 commented on #2373
i wonder if this might be related to zk issue, bumping up version might help.

[2017-12-20 22:41] himanshug commented on #5183
another failure...
[code]

[2017-12-21 02:56] #5121 closed

[2017-12-21 11:31] rockamitk opened #5189 "Druid Segments update based on critera"
I want to update some metrics and dimension values from segments.
i,e i wish to update rows from the segments like
`Update **dataSource**  set metricField = '10' where dimension1 = 10 and dimension2 = 20;`

Do i need to declare those dimension of tasks.
Here is the task config.
`{
  "type" : "index",
  "spec" : {
    "dataSchema" : {
      "dataSource" : "schema_sample",
      "parser" : {

[2017-12-21 14:23] joshlemer commented on #3236
Hello? No reply to this issue or to the topic in google groups for 18 months?

[2017-12-21 14:24] joshlemer commented on #3236
@gianm @leventov @jihoonson ?

[2017-12-21 16:16] drcrallen opened #5190 "Druid does not work with java 9"
[code]

Results in the following:

[code]

[2017-12-21 16:18] drcrallen commented on #5190
aactually I'm getting `Unable to find any JVMs matching version "1.9".` so this may be incorrect.

[2017-12-21 16:20] drcrallen commented on #5190
Yeah, it breaks on this:

[code]

[2017-12-21 18:48] leventov commented on #5190
I wouldn't say this is a bug. Java 9 broke compatibility (mostly unspecified features, but still) in many ways. It's a feature of a project to support both Java 8 and 9.

[2017-12-21 19:59] himanshug commented on #2373
another failure stacktrace ...

[code]

[2017-12-21 20:21] himanshug commented on #5161
proposed fix in #5187 sounds good to me.

[2017-12-21 21:32] #5183 closed

[2017-12-22 01:18] jihoonson commented on #2373
@himanshug the latest failure is 100% reproducible even in my local laptop. Do you have any idea about it?

[2017-12-22 05:58] gianm commented on #3236
I haven't commented so far since I don't have super strong feelings about it. Personally I like mailing lists better than chat for open source communities, since they are easier to search and work better when people operate in different time zones. But if someone wants to set one up then that is fine by me.

[2017-12-22 12:16] leventov commented on #4390
for note Spark 2.3 updated it's Netty dep to 4.1

[2017-12-22 13:22] gvsmirnov commented on #5135
@himanshug I see. This is reasonable, I agree. It will likely take some time before I can verify the fix in a version built from `master`, though. Cannot give an ETA at the moment, but will get back to it.

[2017-12-22 14:16] csimplestring opened #5192 "JDBC lookup does not work but map lookup works in Druid 0.10.1"
Hi, I am running the example cluster in Docker for Druid 0.10.1. everything works fine except for when I tried to use the 'Lookup'.

Based on the document, the first time I tried the 'map' Lookup, it works. But then when I tried the 'jdbc' Lookup, it gave error:

error: Could not resolve type id 'cachedNamespace' into a subtype of [simple type, class io.druid.query.lookup.LookupExtractorFactory]

[2017-12-22 14:17] #4962 closed

[2017-12-22 20:07] himanshug commented on #2373
@jihoonson being reproducible is even better, thanks for quick fix.

[2017-12-26 04:10] hntdabenlv opened #5195 "The lowest supported queryGranularity is millisecond."
Why not consider supporting lower time accuracy?
Such as microseconds.

[2017-12-26 09:45] ChenMingHe opened #5196 "MySQL语法解析错误"
## 版本

1.1.6

## 错误的SQL语句

[code]

## 错误堆栈

在解析到 `ON UPDATE NO ACTION`这里的时候出错:

[code]

## 错误位置

定位到: com.alibaba.druid.sql.parser.SQLExprParser#parseReferenceOption

![image](https://user-images.githubusercontent.com/1975542/34353676-8a7df542-ea64-11e7-9e9e-4002d303351a.png)

这里的代码解析有问题

[2017-12-27 08:54] quenlang opened #5198 "druid 0.11.0 kafka-emitter extension error"
## I already uploaded kafka-emitter jars to the extensions directory and loaded the extension.
[code]

## When i start the service ,error occur.but under version 0.10.0, kafka-emitter works normally.my kafka version is 0.10.2. Is this a bug?
2017-12-27T15:55:43,216 INFO [main] io.druid.guice.JsonConfigurator - Loaded class[class io.druid.curator.ExhibitorConfig] from props[druid.exhibitor.service.

[2017-12-27 16:50] pjain1 commented on #5009
Fixed by https://github.com/druid-io/druid/pull/5139

[2017-12-27 16:50] #5009 closed

[2017-12-28 09:21] ighack opened #5199 "load data from file show error in log"
cker', binaryVersion='9'}]}].
2017-12-28T08:16:15,718 INFO [task-runner-0-priority-0] io.druid.indexing.overlord.TaskRunnerUtils - Task [index_hadoop_wikiticker_2017-12-28T08:15:04.474Z] status changed to [SUCCESS].
2017-12-28T08:16:15,722 INFO [task-runner-0-priority-0] io.druid.indexing.worker.executor.ExecutorLifecycle - Task completed with status: {
  "id" : "index_hadoop_wikiticker_2017-12-28

[2017-12-29 03:33] erikdubbelboer commented on #2693
Since #3030 is closed I'm closing this as well for now.

[2017-12-29 03:33] #2693 closed

[2017-12-29 03:33] erikdubbelboer commented on #5127
We have updated everything to `0.11.0`. This issue is happening less than before but still happens at least once a week.

[2017-12-29 03:34] #4088 closed

[2017-12-29 09:14] leventov commented on #5196
This issue belongs to this repo: https://github.com/alibaba/druid, please create one there.

[2017-12-29 09:14] #5196 closed

[2017-12-29 13:35] yuppie-flu commented on #5159
After deeper investigation I found that current Kafka integration tests setup (`ITKafkaTest` and `ITKafkaIndexingServiceTest`) does not allow to use plain docker without `docker-machine` or separate remote host for running docker containers with druid cluster under tests. It's because these tests assume that druid services inside docker containers can access Kafka broker nodes via ip of docker-mac

[2018-01-01 16:04] erankor opened #5200 "Illegal instant due to time zone offset transition"
Hi all,

I have the following query -
[code]
When I post it to Druid, I'm getting the following exception -
[code]
If I change the timezone to `Etc/GMT+3` it works fine.
I see the following exception in one of the historical nodes -
[code]
Since the failed timestamp occurs somewhere within the requested interval (it's not close to the edges), I believe this is a bug in Druid (I'm using Druid 0.10.

[2018-01-01 16:33] nishantmonu51 commented on #5200
As per link - http://joda-time.sourceforge.net/faq.html#illegalinstant
The error "Illegal instant due to time zone offset transition" refers to the gap in time caused due to DST.

[2018-01-01 17:08] erankor commented on #5200
Thanks @nishantmonu51, I figured that part... however, since the timezone in the exception (2017-10-15T00:00:00.000) is not a timestamp I send, I can't really solve it on my side... it's contained within the interval I send (2017-10-10T00:00:00-03:00/2017-11-09T23:59:59-03:00) but it's not one of them.
I believe it's a bug in the Druid code that breaks the query into sub-queries for sending to the

[2018-01-01 22:48] jihoonson commented on #5159
@yuppie-flu thank you for the investigation! Would you please submit a patch to fix this issue?

[2018-01-02 02:14] ighack opened #5202 "Error: com.google.inject.util.Types.collectionOf(Ljava/lang/reflect/Type;)Ljava/lang/reflect/ParameterizedType;"
cp $DRUID_HOME/lib/*guice* $HADOOP_HOME/share/hadoop/yarn/lib/
cp $DRUID_HOME/lib/*guice* $HADOOP_HOME/share/hadoop/mapreduce/lib/
It's still fail.

[2018-01-02 04:48] ighack commented on #5202
you need restart druid

[2018-01-02 07:07] ericgogh opened #5203 "GroupBy on one dim error"
When groupby on one dim will raise the error (version 0.11.0):
only increasing druid.processing.buffer.sizeBytes  can't fix the problem completely

2017-12-28T15:33:08,772 ERROR [processing-2] io.druid.query.groupby.epinephelinae.GroupByMergingQueryRunnerV2 - Exception with one of the sequences!
io.druid.java.util.common.ISE: A record of size [1048744] cannot be written to the array buffer at offs

[2018-01-02 07:33] jihoonson commented on #5203
Hi @ericgogh, the log is saying that the record size is about 1 MB (1048744). The record size is computed based on the metrics specified in your query. Would you post your query if possible?

BTW, ```IntGrouper``` isn't supposed to be used if ```aggregation key cardinality * record size``` exceeds the buffer capacity. Maybe this is a bug. Would you try hash aggregation by setting ```forceHashAggre

[2018-01-02 10:35] yuppie-flu commented on #5159
@jihoonson I'm working on it, but it will take some time...

[2018-01-02 12:03] jihoonson commented on #5159
@yuppie-flu great! Please take your time.

[2018-01-03 02:42] ericgogh commented on #5203
@jihoonson hi, I try forceHashAggregation but not work.
here is my query json

`{
    "aggregations": [
        {
            "fieldName": "pv",
            "name": "pv",
            "type": "longSum"
        },
        {
            "fieldName": "uv",
            "name": "uv",
            "type": "thetaSketch"
        },
        {
            "fieldName": "click_wpa_count",
            "name": "c

[2018-01-03 03:12] jon-wei commented on #5198
I did a bit of investigation, all of the configuration properties are null when trying to instantiate KafkaEmitterConfig. I haven't figured out a resolution, but I believe the problem is related to the following:

- KafkaEmitterConfig's property names have the form "a.b"
- #4722 changed how such properties are handled in JsonConfigurator, such that "bootstrap.servers" would be interpreted as `{"dr

[2018-01-03 03:16] jon-wei commented on #5198
Just saw that a PR was opened for this but closed since it broke other things: https://github.com/druid-io/druid/pull/5201

[2018-01-03 04:18] quenlang commented on #5198
@jon-wei Does it will merge into Druid 0.12.0 ?

[2018-01-03 05:40] jihoonson commented on #5203
@ericgogh which error did you get when forceHashAggregation is set? Would you post the stack trace for that error?
Your query looks fine. If you have more memory, you can try increasing the buffer size (```druid.processing.buffer.sizeBytes```). 512 MB of buffer looks quite small to aggregate 1 MB records.

[2018-01-03 06:50] leanken opened #5205 "-XX:OnOutOfMemoryError="kill -9 %p""
I was trying to set the -XX:OnOutOfMemoryError="kill -9 %p" inside jvm.config, and try to start. But it turn out that node.sh start service using following:

java `cat jvm.config | xargs` to specific jvm parameters. xargs will cut the whole string to several one because xargs will use \n, space, tab as delimeter. so for -XX:OnOutOfMemoryError="kill -9 %p" parameter it's not working at all.

i thin

[2018-01-03 06:50] leanken commented on #5205
if agreed, i can do a pull request to fix it.

[2018-01-03 11:03] nishantmonu51 commented on #5198
@jon-wei, yeah, I initially created a PR to add the property keys where property name was in the form a.b to fix this Issue but that broke the configurator for ParametrizedUriEmitterConfig since that expects properties to be in the form of Map instead of being separated by dot('.').

One way to fix this would be to change the KafkaEmitterConfig property names to follow camel casing and be consiste

[2018-01-03 11:04] nishantmonu51 commented on #5198
@quenlang moved to milestone 0.12.0

[2018-01-03 21:55] jon-wei commented on #4635
@gianm I tried upgrading to Calcite 1.15.0, `testFilteredAggregationWithNotIn()` in CalciteQueryTest now passes, but there's a regression where the query in `testCountStarWithTimeFilterOnLongColumnUsingExtractEpoch()` is now unplannable:

[code]

[2018-01-03 21:57] jon-wei commented on #4635
upgrade patch for druid here: https://github.com/jon-wei/druid/tree/calcite15

[2018-01-03 22:39] jon-wei commented on #5198
Fixed by #5201

[2018-01-03 22:39] #5198 closed

[2018-01-03 22:50] jon-wei commented on #4945
Just checked this against Calcite 1.15.0, this filter simplifies correctly. (There's a new regression with Calcite 1.15.0 though, see #4635)

[2018-01-04 00:13] #5161 closed

[2018-01-04 01:53] jon-wei opened #5211 "[WIP] Druid 0.12.0 release notes"
# DRAFT

Druid 0.12.0 contains over a hundred performance improvements, stability improvements, and bug fixes from almost 40 contributors. This release adds major improvements to the Kafka indexing service.

Other major new features include:
- Prioritized task locking
- Improved automatic segment management
- Test stats post-aggregators
- Numeric quantiles sketch aggregator
- Basic auth extension

[2018-01-04 02:09] ericgogh commented on #5203
I try increasing the buffer size  to 1GB is still not work.
I think the best way is fix the bug.

[2018-01-04 04:12] jihoonson commented on #5203
Right. If this is a bug, it should be fixed. I'm looking into it and suspecting the cardinality might be wrong, but not sure. It might take some time. I'll let you know when it's ready.

BTW, the weird thing is you should be able to run by setting ```forceHashAggregation``` to ```true``` or increasing the buffer size.

This error message means, Druid is trying to write something at the offset 2025

[2018-01-04 06:44] ericgogh commented on #5203
I set

1. query json set forceHashAggregation is true
return error
[code]

2. historical error stack
[code]

[2018-01-04 08:56] leventov commented on #4734
@wysstartgo would you be able to provide a patch that fixes this bug?

[2018-01-04 09:16] dragonls opened #5212 "Typo in auth.md#L39"
Missing a backquote after druid.auth.authenticationChain.

Location:
- docs/content/configuration/auth.md#L39

[2018-01-04 19:05] himanshug commented on #5127
@erikdubbelboer I came across a workaround to give historical segments priority . it is described in https://github.com/druid-io/druid/pull/4764#issuecomment-355369156 . hopefully that would help you solve this issue.

[2018-01-04 20:10] #5212 closed

[2018-01-04 20:11] #4635 closed

[2018-01-05 03:19] #4996 closed

[2018-01-05 03:22] Llinjing opened #5216 "hadoop-based batch ingestion get “java.lang.NullPointerException” error"
**error message:**
[code]
**data：**
[code]

**json file：**
[code]
**code：**
[code]

Because first column has two commas, after the split, there is a column is empty, in the update, the empty pointer will be reported exceptions, here need to add to the empty judgment

[2018-01-05 03:24] Llinjing opened #5217 "Is there a way to make listDelimiter only work on dimension?"
json file
[code]
data
[code]

[2018-01-05 03:28] zhangxinyu1 opened #5218 "[Proposal] Virtual Datasource"
# Motivation

In our experience, the number of dimensions of a datasource typically range from a dozen to dozens. However, queries about the datasource always only involve several dimensions. As we know, the fewer dimensions a datasource has, the less time a query cost. Based on the idea of changing time with space, druid can build a derived datasource which only contains several common dimensions

[2018-01-05 04:16] #5217 closed

[2018-01-05 09:05] Crystark commented on #2977
That would be really great! I wanted to use the following but realized it was only possible at query time.

[code]

[2018-01-05 09:42] amoussoubaruch opened #5219 "Realtime ingestion stop after some time"
Hi,

I was using Druid since few month and try a realtime ingestion with tranquility spark scala API.
I used a kafka topic to take messages in real time (300 messages per second).
I start my spark jar with hour Granularity. Ingestion start well and take something like 10 min for ingestion and nothing after. I don't have any data. I am using 2 hours for window period so i can explain why i have no

[2018-01-05 11:15] amoussoubaruch opened #5220 "Realtime Node is it necessary for realtime ingestion???"
Hi,

Realtime node is it necessary for realtime ingestion?
In druid documentation, it explain that we have 2 ways for realtime ingestion. First is use raeltime node and second is  indexing service and tranquility.
What's best way?
Can you Explain me please with your experience what's is the best solution?

Thanks

[2018-01-05 11:18] jihoonson commented on #5220
Hi @amoussoubaruch, the realtime node is not supposed to be used for production.
If you're using Kakfa, the Kafka indexing service is the best way for streaming ingestion. Otherwise, you should try with Tranquility.

[2018-01-05 11:22] amoussoubaruch commented on #5220
hi @jihoonson
It's Ok .
Many thanks

[2018-01-05 20:04] himanshug opened #5222 "Refactor IndexingServiceClient to have runTask instead of runQuery method"
there are two weird things about the xxxQuery classes that are passed to IndexingServiceClient.runQuery(Object) method.

    - xxxQuery gives the impression that they are some query types as in groupBy
    - xxxQuery serialized json is expected to be deserializable into a Task object. so, probably we should use corresponding Task classes themselves rather that creating these new xxxQuery (which ar

[2018-01-06 05:16] #5220 closed

[2018-01-06 10:46] kaytrance opened #5227 "Retain/drop periods with shift"
Is there a way to define retain/drop periods for historical so that, for example, one node could have last month data, other one last 6 month data excluding last month without defining strict datetime intervals like 01072017-30112017.

For example if today is 01st january 2018, then one historical have P1M data  rule (whole december) but other should then have data from july till november (somethi

[2018-01-07 05:40] QubitPi opened #5228 "New ColumnSelectorFactory affects downstream project"
I see `makeObjectColumnSelector` method in `ColumnSelectorFactory` is gone in master. It used to be an interface method in old Druid. Are we removing this method in version 12?

[2018-01-07 06:24] himanshug opened #5229 "[Proposal] Merge multiple Druid source subprojects into fewer projects."
There have been multiple discussions about Druid source having too many sub-projects which really doesn't provide much value and often leads to complications e.g. `server/src/main/java/io/druid/client/indexing/ClientXXXQuery.java` classes are equivalent to `XXXTask.java` classes in `indexing-service/` and needs to stay in sync .. more such classes are created in #5102 .
similar desire has been men

[2018-01-07 07:07] QubitPi commented on #4734
@leventov I have some experiences on developing custom Druid aggregator and I am a core contributor of a [Druid-based project](https://github.com/yahoo/fili). Could I try and submit a patch for this issue? Looks like @wysstartgo didn't have much time for it.

[2018-01-07 07:17] leventov commented on #5229
Duplicate of #4312

[2018-01-07 09:12] leventov commented on #5228
Yes, see #4886. Closing this issue, please continue discussion in #4886

[2018-01-07 09:12] #5228 closed

[2018-01-07 16:07] QubitPi commented on #5211
@jon-wei Do we have an ETA for version 12?

[2018-01-08 06:39] litao91 opened #5230 "Port confliction in peon"
Occasionally, my index realtime job failed with the following error message:

[code]

There is exactly one MM running on the machine and there is no other service other than some server maintenance service provided by infrastructure team running on it.

I guess here is what happened:

1. MiddleManager found a unused port PORT
2. Unfortunately a mysterious TCP local connection used that PORT right

[2018-01-08 10:11] kaytrance commented on #5195
then its probably not druid that is needed. One of the pillars about druid is that to roll-up incoming data to some bigger and normalized granularity.

[2018-01-08 10:35] Fokko commented on #5211
I see a lot of performance improvements, are there benchmarks available?

[2018-01-08 13:18] #5170 closed

[2018-01-08 18:36] QubitPi opened #5231 "Implement custom Druid Aggregator"
I'm implementing a custom [BufferAggregator](https://github.com/druid-io/druid/blob/master/processing/src/main/java/io/druid/query/aggregation/BufferAggregator.java). The doc in the code level is pretty good! I just have extra questions that, as a dev user, could ask:

* ~~What does [buf](https://github.com/druid-io/druid/blob/master/processing/src/main/java/io/druid/query/aggregation/BufferAggreg

[2018-01-08 23:18] himanshug commented on #5229
Closing in favor of #4312

[2018-01-08 23:19] himanshug commented on #4312
Copied description from #5229 ...

There have been multiple discussions about Druid source having too many sub-projects which really doesn't provide much value and often leads to complications e.g. `server/src/main/java/io/druid/client/indexing/ClientXXXQuery.java` classes are equivalent to `XXXTask.java` classes in `indexing-service/` and needs to stay in sync .. more such classes are created in

[2018-01-08 23:39] himanshug commented on #5230
scenario, you described, is indeed possible. but if you're hitting it too often then something else is likely going on. I have had two instances of above problem with following causes (just-in-case if you're having one of those)

- `druid.port` at MM being same as `druid.indexer.runner.startPort`
- another software deployed which dynamically used port in same port range. (you've probably already c

[2018-01-08 23:40] #4485 closed

[2018-01-08 23:42] himanshug commented on #5227
it is possible to define per-tier load/drop rules... so you can configure two different `druid.tier` setting on  different historicals..then you can configure two different rules for those two tiers.

[2018-01-09 02:22] zhangxinyu1 commented on #5218
@gianm @leventov
What do you think about this proposal?

[2018-01-09 06:59] kaytrance commented on #5227
yes, that is clear, but my question was more related on what do I have to write exactly to achieve this.

Period definition uses ISO 8601 standart, right? So if I want to define a rule that states "retain last month data" I can set it to `period: "P1M"`, right? So when it comes to another tier what I have to write to say that on that tier I want to have "last 6 month data without last month data"?

[2018-01-09 08:00] jihoonson commented on #4312
@himanshug +1. sounds nice.

[2018-01-09 08:09] donpinkus opened #5233 "TopN docs are incorrect"
In the [TopN](http://druid.io/docs/latest/querying/topnquery.html) docs, it says that "aggregations" and "postAggregations" are **not** required.

This is incorrect.

A TopN query will fail if you don't provide an aggregation:

`{"error":"Instantiation of [simple type, class io.druid.query.topn.TopNQuery] value failed: Must have at least one AggregatorFactory"}`

[2018-01-09 08:16] donpinkus opened #5234 "TopN query error seems incorrect - "Must have an AggregatorFactory""
When I run a TopN query, I get an error that I must give an "AggregatorFactory" for a particular metric.

I'm using the standard "longMax" aggregation in my query. (see query below)

Why am I getting this error?

**Error:**
[code]

**Query:**
[code]

[2018-01-09 08:24] kaytrance opened #5235 "Create new data sources with another specs based on existing (historical) data"
Our cluster takes data from `kafka` and puts them into one data source with 5 minute granularity.

We now want to create couple more data sources that should be based on the same data, but having bigger granularities, like `30m`, `6h` and `1d`.

When it comes to new incoming data we can (at least that's the way we see it) just put our data onto some different `kafka` topics as well and each ingest

[2018-01-09 10:55] jihoonson commented on #5233
Hi @donpinkus, where did you see that TopN doesn't require aggregations and postAggregations? I can't find it.

[2018-01-09 11:05] jihoonson commented on #5234
Hi @donpinkus, did you see the error message when executing the above query? Looks weird because the metric name of the error (```e2e_latency```) is different from that in the query (```purchase_amount```).

[2018-01-09 11:13] jihoonson commented on #5227
You can configure two rules for the lower spec tier: one for loading last 6 month data and one for dropping last 1 month data. Please note that the ordering of rules is important.

[2018-01-09 14:30] leventov commented on #4312
+1

[2018-01-09 17:58] donpinkus commented on #5233
@jihoonson - what TopN docs are you looking at?

If you go to the main [TopN doc page](http://druid.io/docs/latest/querying/topnquery.html), and look at the required properties for the query, it has "aggregations" and "postAggregations" marked as "no".

Btw if you end up making a change, include me on the PR! Would love to see how to update the docs code.

[2018-01-09 18:03] donpinkus commented on #5234
@jihoonson - ah yes, sorry had to change some of the query fields to make it more legible / less proprietary ;)

[2018-01-09 18:22] donpinkus opened #5236 "TopN with threshold 1 - is this super inaccurate?"
A few of us are looking through the docs on TopN and trying to understand the `threshold` parameter.

(Note I will happily update the docs once I understand it myself)

**Example:**
I have a database with a row for each commit made on GitHub.  How can I get the longest commit, for each minute? (1 minute intervals)

Example datasource "github_commits":
[code]

TopN query, with a threshold of 1
[cod

[2018-01-09 18:30] #4945 closed

[2018-01-09 18:35] gianm commented on #4835
Should be irrelevant now since scan-query became merged into the core code in #4751.

[2018-01-09 18:35] #4835 closed

[2018-01-09 18:37] drcrallen commented on #4372
A profile `-P spark2` was added in https://github.com/druid-io/druid/pull/4808

[2018-01-09 18:37] #4372 closed

[2018-01-09 18:38] gianm commented on #4693
I believe this is still an issue but should be less of an issue due to incremental handoffs from #4815 (meaning less work to do at the end of the task).

[2018-01-09 18:43] gianm commented on #3274
I think we can close this due to the incremental handoff ability in indexing tasks (#4815). We shouldn't be generating these huge publish actions anymore.

[2018-01-09 18:43] #3274 closed

[2018-01-09 19:28] himanshug commented on #5179
It was discussed in dev-sync today. Overall, feature is agreed upon. It would make sense to support full on rollup/cube features in Druid-Sql as well.

[2018-01-09 19:33] himanshug commented on #4246
Though it wasn't directly targeted by https://github.com/druid-io/druid/pull/4699 , but might have fixed this issue due to https://github.com/druid-io/druid/blob/0.11.0/server/src/main/java/io/druid/curator/discovery/CuratorDruidLeaderSelector.java#L102 and other changes.
Let us close this for now and re-open if observed in releases 0.11.0 onwards.

[2018-01-09 19:33] #4246 closed

[2018-01-09 19:45] himanshug opened #5238 "[Proposal] Support ingestion data from RDBMS via Local Indexing feature."
In many cases, users have input data inside RDBMS and current approach is to dump it out on disk/hdfs and then use Druid's batch indexing mechanisms.

This proposal is to enable direct ingestion with Local Batch Indexing. Idea is to write a `SQLFirehose` that takes DB connection information where input data is stored and a SQL query to fetch data out. With this firehose, user can do Local Batch In

[2018-01-09 19:46] himanshug commented on #5238
This was discussed in dev-sync and agreed upon.

[2018-01-09 22:13] himanshug commented on #5227
I agree with @jihoonson suggestion on what rules to use.

technically you can implement your own custom LoadRule in a Druid extension to do exactly what you need but that would be the option for more complicated use cases.

[2018-01-09 22:15] himanshug commented on #4312
do others agree/disagree ?

[2018-01-09 22:22] leventov commented on #4312
@himanshug I don't think there could be any debate about this, it wasn't implemented just because nobody had time for this

[2018-01-09 22:24] himanshug commented on #4312
let us briefly talk about this one in next dev sync to resolve any concerns upfront.

[2018-01-09 23:17] himanshug commented on #5236
yes, `threshold` is behaving same way ... it is 'N' of the 'TopN' .

however the difference is that historicals will send their top 1000 results by default and top 1 would be chosen from the merged results of those... which may or may not be accurate depending upon your data.

if you wanted accurate behavior than you would use groupBy query with order-by and limit 1 .

[2018-01-09 23:28] himanshug commented on #5235
replied on the mailing list.

[2018-01-09 23:41] fjy commented on #5238
👍 great!

[2018-01-10 01:39] donpinkus commented on #5236
@himanshug

"however the difference is that historicals will send their top 1000 results by default and top 1 would be chosen from the merged results of those... which may or may not be accurate depending upon your data."

Ok, I'm going to translate this back to you - and let me know if I understand it correctly.

"Historicals" are a node in Druid that processes data when you run a query.
Data can

[2018-01-10 02:24] jihoonson commented on #5233
Ah yeah, actually it is partially correct. The requirement of aggregations depends on the [metric type](http://druid.io/docs/latest/querying/topnmetricspec.html). ```Numeric TopNMetricSpec``` requires to specify aggregators.
Raised https://github.com/druid-io/druid/pull/5240.

[2018-01-10 02:34] QubitPi commented on #5231
Is `BufferAggregator` for off-heap aggregation and `Aggregator` on-heap(slower) ?

[2018-01-10 02:38] jon-wei commented on #5211
@QubitPi We don't have an ETA for 0.12.0 presently, that depends on how many issues surface during our release candidate phase(s). The first RC should be out soon though, possibly sometime next week, as the 0.12.0 milestone has almost been cleared of open issues.

@Fokko PR #4704 and #5048 have benchmarks in the PR threads.

@leventov Do you happen to have benchmarks for #4762, #4811, and #5094?

[2018-01-10 04:10] #5233 closed

[2018-01-10 04:15] jihoonson opened #5242 "New Config Object for compactConfig"
```CoordinatorDynamicConfig``` is designed to accept simple configuration values rather than complicated JSON objects. #5102 introduces a new configuration, ```compactConfig```, which is implemented as a part of ```CoordinatorDynamicConfig``` in that PR. Since ```compactConfig``` is a complicated JSON object, we need another new config object for it rather than using ```CoordinatorDynamicConfig```

[2018-01-10 04:19] jihoonson commented on #5234
Still weird.

This means, you specified a longSum aggregator for ```purchase_amount```, but the metric in the query is ```e2e_latency```. This is different from the above query in two ways: the aggregator type and the metric name.

[2018-01-10 04:26] jihoonson commented on #5231
Hi @QubitPi, here are my answers.

- ```BufferAggregator``` is supposed to simply put/update/get some value at the given position of the given buffer. It isn't supposed to duplicate or slice the given buffer because it doesn't have to keep the intermediate status. See ```LongSumBufferAggregator``` as an example.
- Yes, ```BufferAggregator``` and ```Aggregator``` are for off-heap and on-heap, respe

[2018-01-10 04:55] #5229 closed

[2018-01-10 06:15] erikdubbelboer opened #5243 "Using namespace lookup extraction in a quert filter not possible anymore"
[The documentation](http://druid.io/docs/latest/querying/dimensionspecs.html#lookup-extraction-function) show the example where a `namespace` lookup extraction function is being used. But when trying this in `0.11.0` I always get the error `Could not resolve type id 'namespace' into a subtype of [simple type, class io.druid.query.lookup.LookupExtractor]`.

Judging by [the code](https://github.com/

[2018-01-10 06:22] kang-junyoung commented on #5211
When will do you release 0.12.0  ?

[2018-01-10 07:48] kaytrance opened #5244 "Data just doesn't want to rollup!"
ok, I am feeling my brains are somewhat leaking out already, because I cannot understand what is happening.

We have our main data source that gathers data from kafka. We decided to create new data source that will use the **same kafka topic**, so this data source will be based on the same data, but only grouped with higher granularity. To do that we left only dimensions that are groupable on high

[2018-01-10 16:41] kaytrance commented on #5227
Ok, thank you!

[2018-01-10 16:41] #5227 closed

[2018-01-10 19:46] jon-wei commented on #5211
@kang-junyoung There's no ETA right now as I mentioned in the comment above, it depends on how many issues come up during the RCs

[2018-01-10 21:31] donpinkus commented on #5234
@jihoonson sorry, forgot to change that `e2e_latency` to be `purchase_amount`!

Edited in the original post.

[2018-01-10 22:27] himanshug commented on #5244
from a quick scan, it should work fine with the spec you've given above.

- what druid version are you using?
- how did you get the two events, you mentioned above, to verify that events are not being merged?
- events are expected to not merge when they end up going to two different segments. during indexing, they might temporarily be in different segments due to hitting "maxRowsInMemory" but they

[2018-01-10 22:52] himanshug commented on #5243
I think the docs are wrong ( PR to fix it would be great) and its probably called `cachedNamespace` now and part of extension http://druid.io/docs/0.11.0/development/extensions-core/lookups-cached-global.html .

this happened in 0.9.2 release and noted in those release notes at https://github.com/druid-io/druid/releases?after=druid-0.10.0-rc1 .

so, I'm assuming you upgraded from 0.9.1 to 0.11.0 o

[2018-01-10 22:57] himanshug commented on #5236
Yes. Step-3 is a bit more involved in that it would gather top-1000 for each chunk on that historical, then do a merging pass on historical itself to merge top-1000 from all chunks to create another top-1000 and that would be sent to broker.

No, low "threshold" wouldn't decrease accuracy.

[2018-01-10 22:58] himanshug commented on #5236
also, http://druid.io/docs/0.11.0/misc/papers-and-talks.html has some good links to understand what various nodes are etc .

[2018-01-11 04:12] dragonls opened #5249 "Typo in configuration/index.md"
1. Missing a backquote after druid.emitter.http.flushTimeOut.
Location: [docs/content/configuration/index.md#L223](https://github.com/druid-io/druid/blob/master/docs/content/configuration/index.md#L223)

2. Typo of `io.druid.server.emitter.HttpEmitterMonitor`, which should be `io.druid.server.emitter.HttpEmittingMonitor` reffering to [`HttpEmittingMonitor`](https://github.com/druid-io/druid/blob/m

[2018-01-11 05:06] erikdubbelboer commented on #5243
@himanshug That doesn't work either. That just gives me `Could not resolve type id 'cachedNamespace' into a subtype of [simple type, class io.druid.query.lookup.LookupExtractor]`.

The lookups-cached-global documentation only describes how to create the lookups, not how to actually use them.

In the source the only classes that implement the `LookupExtractor` interface are [MapLookupExtractor](htt

[2018-01-11 06:09] kang-junyoung commented on #5211
@jon-wei Thank you.

[2018-01-11 07:11] kaytrance commented on #5244
We have `taskCount: 4` what reads input data from `kafka` stream. Each 5 minute about 12M rows is inserted to `kafka` (that will then end up in druid). I also have `maxRowsInMemory  : 250000` and `maxRowsPerSegment: 15000000`.

In first 5 minutes I see that druid creates empty 4 shards and starts to gather data to them from `kafka`. In that first round of 5 minutes it gathers 12m rows. And on a ne

[2018-01-11 09:30] jihoonson commented on #5249
Fixed in #5250.

[2018-01-11 09:30] #5249 closed

[2018-01-11 13:08] hoesler commented on #4977
@gianm I compiled druid 0.11.0 against hadoop 2.8.3 and both hdfs deep storage and hadoop indexing (local) finally seem to work fine with s3a using a v4 endpoint. Here are my changes: https://github.com/druid-io/druid/compare/0.11.0...hoesler:feature/hadoop2.8

Do you think that it is feasible to upgrade hadoop dependencies in 0.12.0? Do you want me to send a pull request? If so, which branch shou

[2018-01-11 17:18] quenlang opened #5251 "druid 0.11.0 reindex task failed with apache hadoop 2.7.3"
**@jon-wei
As we konw Druid build against Hadoop 2.7.3 libraries after 0.10.1 , but there is a problem when i using 0.11.0 .
hadoop cluster env**
[code]

**my reindex task spec file**
[code]
**Then i launched the task , but problem occur.**
[code]

**I had try adding mapreduce.job.classloader = true or mapreduce.job.user.classpath.first = true to the tuningConfig -> jobProperties of the ingestion

[2018-01-11 20:39] #5156 closed

[2018-01-11 22:30] himanshug commented on #5243
@drcrallen would know more about `lookups-cached-global` but your investigation sounds accurate to me. Feel free to use `lookups-cached-single` if that works for you.
that said, I think documentation needs fixing at the very least and let us keep this ticket open till docs are fixed.

[2018-01-11 22:56] pjain1 commented on #5236
@donpinkus - here's my understanding.

Lets take an example of when TopN can be approximate. Assume there are 100 segments present on 100 historical nodes. Now, lets say we want Top 1000 results (equivalent to default threshold value) for a dimension `A` using a metric `M` and the data in segments looks like this -
[code]
Looking at the data we can see that the Top 1000 results should contain `a10

[2018-01-12 00:26] jon-wei commented on #5251
@quenlang Do you have any `druid.indexer.task.defaultHadoopCoordinates` configurations in your properties that aren't hadoop 2.7.3?

[2018-01-12 00:40] quenlang commented on #5251
@jon-wei There is only one option in middelManager runtime configuration file and it is point to hadoop 2.7.3 .
[code]

[2018-01-12 02:46] himanshug commented on #5244
Say `number of kafka partitions` = 8 and `taskCount` = 4
Then Druid KafkaSupervisor would launch 4 KafkaIndexTask that would each consume from 2 kafka topic partitions.
In Druid-0.11.0 each KafkaIndexTask would independently index each kafka-topic-partition assigned to it. That is, it will create a "chain of segments" for each kafka-topic-partition.

So, in this case at least 8 segments would be c

[2018-01-12 03:12] erikdubbelboer commented on #5243
I tried using `lookups-cached-single` but it appears you have to specify your jdbc connection options in your query instead of in some global place which seems weird and won't work for us. I had to read the code again to figure this out as the documentation was severely lacking.

[2018-01-12 07:36] kaytrance commented on #5244
Great thank you @himanshug for you explanations, they help a lot.
I will close this case for now.

[2018-01-12 07:36] #5244 closed

[2018-01-12 07:49] litao91 commented on #5230
@himanshug I don't think the `druid.port` at MM matters. The port finding logic in MM will find a available port before starting Peon. The `druid.port` won't be available at that time thus that port will be skipped.

I have no control on the heartbeat/health checking services provided by system admin.

It occurs in a fairly low probability actually, but as our cluster becoming busier (more than 50

[2018-01-12 13:07] leventov commented on #5211
@jon-wei

On #4762: I don't have benchmarks but we have seen 50% CPU reduction on Middle Manager nodes, in practice (between two Druid versions differing not only by this change, but I largely attribute this improvement to the changes that were equivalent to #4762). I suggest to emphasize in release notes, that this improvement won't happen automatically, but only if users explicitly change `segme

[2018-01-12 21:22] jon-wei commented on #5251
@quenlang Can you provide more info on how the hadoop environment was created/configured and what extensions you have loaded?

I've run 0.11.0 against 2.7.3 hadoop successfully with ` mapreduce.job.user.classpath.first = true` (hadoop was running in docker, using https://hub.docker.com/r/sequenceiq/hadoop-docker/~/dockerfile/ modified to install 2.7.3 instead)

[2018-01-12 21:33] jon-wei commented on #5211
@leventov Thanks for the details, I've updated the section on the segmentWriteOutMedium to point out that the new off-heap buffers need to be explicitly configured

[2018-01-13 16:41] quenlang commented on #5251
@jon-wei I'm so sorry. It's my mistake. I've try again with the option ```mapreduce.job.user.classpath.first = true``` and it worked very well.
Configurations:
[code]
The problem i saw two days ago maybe be caused by the unnormal status of druid cluster or too big size of mapreduce.map/reduce.memory.mb options, but i'm not sure and it does not reapper.

Thank you so much !

[2018-01-15 09:56] kang-junyoung commented on #5244
@himanshug
[code]
you mean maxRowsInSegment -> maxRowsPerSegment ??!!

[2018-01-15 14:34] psalaberria002 commented on #5135
We are having the same issue with the properties not being passed to hadoop. Is there any other way to set them?

[2018-01-16 09:07] chaotao opened #5257 "[msql only] jdbi ResultIterator not closed , cause streaming resources not closed and Failed to commit transaction"
when i use druid 0.9.1.2 and open kill segment  task , i found some exception, I debug the DruidCoordinatorSegmentKiller task and find the internal exception is

"java.sql.SQLException: Streaming result set com.mysql.jdbc.RowDataDynamic@5d751bf0 is still active. No statements may be issued when any streaming result sets are open and in use on a given connection. Ensure that you have called .close(

[2018-01-16 09:53] miaojiuchen opened #5258 "Can I use post-aggregation to rollup record during ingestion time?"
I want to store some metrics about CPU, memory usage, etc., but it seems that using aggregations like max or sum is not appropriate, I want to store an average metric value of these records that share the same set of dimensions.

[2018-01-16 09:55] amoussoubaruch opened #5259 "Segment don't close after segment granularity period"
Hi,

I was started a real time ingestion and i used 10 min for segmentGranularity. Most task create for each real time task don't close the segment. Since 12 hours i have now more than 20 tasks already running.
My comprehension is that after segmentGranularity period plus a window period segment for this time are being closed.
I don't understand why i have more tasks running since 12 hours.
Please

[2018-01-16 12:25] NirajaM commented on #1376
Implemented the same - https://github.com/druid-io/druid/pull/5260

[2018-01-17 00:20] akashdw opened #5263 "Long running travis job"
https://travis-ci.org/druid-io/druid/builds/329583957 is running for last ~6 hours.
Some of the build have completed but containers are still running, e.g https://travis-ci.org/druid-io/druid/jobs/329583960 .

Looks like other Travis jobs are stuck because of this.

@nishantmonu51 @gianm

[2018-01-17 00:25] jihoonson commented on #5263
Just canceled and restarted that build.

[2018-01-17 00:30] donpinkus commented on #5236
@himanshug - it says in the docs low thresholds decrease accuracy: `"TopNs can be made more accurate by increasing the threshold."`

However, you said `"No, low "threshold" wouldn't decrease accuracy."`

Are you correct, or are the Druid docs?

[2018-01-17 00:38] akashdw commented on #5263
Thanks @jihoonson.
Looks like build backlogs are related to https://www.traviscistatus.com/incidents/c1s4dlyxd4lf

[2018-01-17 00:53] donpinkus commented on #5236
@pjain1 - ahhh that's a great explanation, thanks for taking the time to write it all out.

I'm going to close the issue - but that should probably be added to the docs, since the current explanation makes usage of "threshold" ambiguous.

[2018-01-17 00:53] #5236 closed

[2018-01-17 03:35] zhangxinyu1 commented on #5218
@jon-wei @himanshug Could you please give me some suggestions?

[2018-01-17 08:25] xinchen0104 opened #5265 "Report a ParseException when i load data from a csv/tsv file if some metric columns value is "null""
My data file is from hive table, which expresses NULL by str "null"(without quote in csv).But when I load it to Druid with batch task , it seems treated as a string and task fails .How can I solve this problem?

`	at io.druid.indexer.HadoopDruidIndexerMapper.map(HadoopDruidIndexerMapper.java:91)
	at org.apache.hadoop.mapreduce.Mapper.run(Mapper.java:146)
	at org.apache.hadoop.mapred.MapTask.runNew

[2018-01-17 10:27] richiesgr commented on #4258
Hi
I'm using imply 2.4.0 version and the problem still exists
after restarting the broker the SQL server lose the metadata of the data source.
After some time it come back but not always
Is there any workaround ?
Thanks

[2018-01-17 11:09] leventov commented on #5218
Pruning dimensions doesn't win you anything because when querying historical data, unused dimensions are neither accessed in memory nor loaded from disk.

This is the primary advantage of columnar storage. If it wasn't the case, there would be no point in Druid neither any other columnar data store to choose this architecture.

[2018-01-17 11:14] leventov commented on #5218
Side note: enable caching (druid supports both historical- and broker-level query results cache) to reduce the amount of repetitive calculations.

[2018-01-17 11:40] zhangxinyu1 commented on #5218
@leventov Thanks for the new title.

Pruning dimensions can reduce the number of rows. For example, there are two dimensions A and B in a segment. The cardinality of A is 10, and the cardinality of B is 100.  The max number of rows in this segment is 10*100. However, if there is only dimension A in this segment, the max number of rows in is 10.

[2018-01-17 11:46] sixtus commented on #5218
You can already do it via union queries. I don’t think it‘s worth adding it to druid itself.

[2018-01-17 12:30] meazza opened #5266 "Druid SQL cannot support paging query"
A paging query sql like: select * from table limit 100, 10 cannot supported by Druid SQL plugin now, would you have a plan to support this grammar？

[2018-01-17 12:33] zhangxinyu1 commented on #5218
@leventov

Indeed, query caching can reduce the amount of repetitive calculations. It stores the results on a per segment basis and a given query. This proposal pre-calculates the results based on dimensions and the results are considered as a datasource. We can calculate any query (with given dimensions) based on the datasource instead of a given query.

[2018-01-17 12:36] zhangxinyu1 commented on #5218
@sixtus
 I don't know how to do it via union queries. Could you please explain it.

[2018-01-17 13:40] leventov commented on #5218
Could you explain what do you mean by "row" here? "Number of rows" in Druid terms could be "maximum" or "minimum", it's just static, and independent of dimensions's cardinalities.

[2018-01-17 13:56] nishantmonu51 commented on #5218
I think what @zhangxinyu1 wants to point out here is that you will get better rollup when you have fewer dimensions with less cardinality, which means less rows to scan at query time which is expected to lead to better query performance.

Havn't really thought through all the proposed implementation details, Few initial questions -
1) How would segment versioning work between derived datasource an

[2018-01-17 14:04] zhangxinyu1 commented on #5218
Let me use a more detail example to explain it.
Given a datasource with dimension A and B, such as:

Dimension A | Dimension B | Metrics A
-- | -- | --
a1 | b1 | 1
a2 | b1 | 3
a1 | b2 | 5
a2 | b2 | 7

In this datasource, there are 4 rows.

If we prune Dimension B, we can get the datasource:

Dimension A | Metrics A
-- | --
a1 | 6
a2 | 10

There are only 2 rows in this datsource.

Then, we want to

[2018-01-17 14:26] leventov commented on #5218
Ok, I understand now. It specializes for a specific aggregation, sum in your example.

I think your proposition with "transparent" data source names and special handling on historical query side is too complex. IMO it would be more reasonable to add handling of this on ingestion / batch indexing side, by adding some type of "multi data source ingestion spec", with multiple parts, where each part s

[2018-01-17 14:59] leventov opened #5267 "Add regression testing for low-garbage DimensionSelectors and Object ColumnValueSelectors"
Optimizations like object reuse (in order to produce little garbage) could be relatively easily broken by committing some unconcerned code, without breaking semantics of Druid. It would be nice to add regression tests to prevent that.

[2018-01-17 15:18] jihoonson commented on #5218
@zhangxinyu1 thanks for the proposal. I wonder what are the primary benefits of the derivedDataSource. Is the query speed the only one?

This can also happen even in batch append ingestion. I think this is important and should be supported because most Druid users will append new data to existing dataSources in some ways.

[2018-01-17 20:22] julianhyde commented on #5218
What @ zhangxinyu1 is proposing is a very old idea - the summary table. (Vertica called it a "projection" because they were academic relational folks, and so to them, projecting also implied removing duplicates.)

Summary tables tend to yield benefits if the number of rows decreases significantly, but their cost is additional storage and maintenance overhead. This would apply in Druid as in any ot

[2018-01-17 21:40] himanshug commented on #5230
I remember this being an issue at least once for a customer. When MM starts , it would select ports for the tasks to be restored and spawn peon process ( which would go on to start server sockets) asynchronously... and at this point MM would also starts its own jetty server ... a port conflict could happen in this situation if MM `druid.port` and startPort were same. I never confirmed it because p

[2018-01-17 21:43] himanshug commented on #5244
Yes

[2018-01-17 21:43] jon-wei commented on #5251
Cool, good to hear it's working!

[2018-01-17 21:43] #5251 closed

[2018-01-17 21:53] himanshug commented on #5236
@donpinkus `"TopNs can be made more accurate by increasing the threshold."` comment in the document refers to increasing the the number `druid.query.topN.minTopNThreshold` (1000 by default) explained later in the doc. if that is true then document is misleading and needs to be corrected.

I don't think that increasing `threshold` param in the query would increase accuracy.

other devs can probably

[2018-01-17 22:06] gianm commented on #5236
Increasing it should not have an effect on accuracy until you increase it beyond the minTopNThreshold. Then it will have an effect for the reasons that @pjain1 laid out.

[2018-01-17 22:27] pjain1 commented on #5236
@himanshug you are correct, added a note in the comment.

[2018-01-17 23:14] himanshug commented on #5218
zhangxinyu1 thanks for the proposal.

here are my thoughts..

while tempting, it might not always be a good idea as you're duplicating data and need extra hardware to store/cache it. in some cases, it would be better to give that extra hardware to the original dataSources and queries might become faster without doing anything drastic.

it is already possible if customer desires so. Currently, it i

[2018-01-18 02:47] zhangxinyu1 commented on #5218
@leventov

Historical node doesn't do anything. Instead, broker replaces the base datasource with a derived-datasource, and coordinator is responsible for submitting Kill-Task or Reindex-Task when the timeline or version of derived-datasource doesn't meet the conditions.

Thanks for your suggestion. It makes the design simpler, but how to add or remove derived datasources.

[2018-01-18 02:56] zhangxinyu1 commented on #5218
@jihoonson

The primary benefits of the derivedDataSource is speed. Besides, it helps to use less CPU and memory.

Yes, it's really important. I also considered it before, but I didn't come up with ways to implement it. Do you have some suggestions?

[2018-01-18 06:37] JingJunShen opened #5270 "When do druid support join queries"
The join query is a strong demand

[2018-01-18 06:43] kaytrance commented on #5235
Maybe @himanshug you can help me with [my latest comment](https://groups.google.com/d/msg/druid-user/4I9lUreb60k/JdWIyE1xAAAJ) as well. The thing there is that after `kafka_index` job aggregation metrics are always 0. I cannot figure out why, the syntax seems to be correct.

[2018-01-18 07:18] chaotao commented on #5257
i found druid has fix it by set setMaxRows and  Iterator will traverse all items  , because ResultSetResultIterator will be closed when it call next to the end.  i guess the author didn't realize it.
but i strongly suggest that ResultIterator call close manually
this only recurrence in mysql , ResultSetResultIterator.close will finally call mysql ResultSet.close  , so unit test (based on derby) wi

[2018-01-18 12:13] leventov commented on #5270
See #4118

[2018-01-18 12:13] #5270 closed

[2018-01-18 23:24] wooly commented on #3435
This appears to still be the case.

Can anyone shed any light on why it's not there?

[2018-01-18 23:35] akashdw opened #5273 "Deep storage migration from s3 to hdfs"
I'm running hadoop distcp to copy existing segments from s3 to hdfs but druid segments in s3 have `:` in the paths which is a bad uri for hadoop.
I see https://github.com/druid-io/druid/blob/master/api/src/main/java/io/druid/segment/loading/DataSegmentPusher.java#L96 and https://github.com/druid-io/druid/blob/master/extensions-core/hdfs-storage/src/main/java/io/druid/storage/hdfs/HdfsDataSegmentPu

[2018-01-21 06:48] vvc11 commented on #4645
Hi @gianm !
 Apologies for the delay. Here is the pull request : [https://github.com/druid-io/druid/pull/5276](url)
My test checks if the properties returned by the StatusResource class is the same that's used in the project (by comparing values). Also, when I was trying to run tests for the druid-server module I was getting a Forbidden Method Invokation in LookupExprMacro.java . Did not touch tha

[2018-01-22 12:05] #5235 closed

[2018-01-22 12:51] kaytrance opened #5277 "Hadoop reindex job produces metrics equal to 0"
Maybe a bug or some things are not clear in documentation.

I have a hadoop reindex task to create new data source from existing one:
[code]
Original `old_datasource` datasource have 5 minute granularity, dimensions `xxx` and `yyy` are unique to `5m` granularity so they must be excluded when making `reindex-1h` data source (which I did in `dimensionExclusions`).

Task log shows no errors and task

[2018-01-22 14:14] nishantmonu51 commented on #5277
havn't looked into it or reproduced myself,
It looks like a bug indeed from the description.

Can you also try adding your metrics to the dimension list in the ingestion spec as below -

[code]

[2018-01-22 19:30] gianm commented on #5179
Hi @himanshug are you still planning on tackling this? If so I would love to help review so we can start thinking early about how it's going to work with SQL.

[2018-01-22 21:53] b-slim commented on #5273
@akashdw I have not done this TBH. Please share with us your tricks once you accomplish this.

[2018-01-22 22:09] himanshug commented on #5179
@gianm thanks... yes. I'm gonna do a draft PR this week to make ideas more concrete.

[2018-01-22 22:46] himanshug commented on #5179
@gianm https://github.com/druid-io/druid/pull/5280 should be enough to get discussion started.

[2018-01-22 22:51] himanshug commented on #5273
had a quick discussion with @akashdw offline. it appears that Druid is always writing the correct URIs as expected by S3 and HDFS naming conventions.
Problem is Distcp not supporting functionality to rename URIs as it writes to HDFS which doesn't support ':' .

Its a one time activity and my suggestion is to do following.
1. copy relevant segments to another temp location on same S3 region.
2. ren

[2018-01-22 23:15] herlenashavi opened #5281 "NullPointerException with Kafka indexing service"
Hi,

We're using Druid version 0.12.0 cloned off of the master branch. Druid 0.12.0 has a feature that are particularly interested in, batch ingestion (mapping a single Kafka message to multiple rows in a table). We're using Kafka version 0.11.0.2.

Some of the indexing tasks fail with a `NullPointerException`. Find below the stacktrace. Attached  Extended log containing logs from right before cra

[2018-01-23 00:25] pjain1 commented on #5281
You are hitting NPE when the index is being logged. This is a bug fixed in https://github.com/druid-io/druid/pull/5268. Please use the code that has this commit, also since you are using not yet released code you might hit these kind of bugs.

[2018-01-23 02:45] himanshug commented on #5277
@kaytrance can you try to use the same "metricSpec" as is used by original ingestion spec and see if that produces sensible metrics.

reindexing code is expected to work with exact same metricSpec that is used for original ingestion to support the "delta ingestion" use case.

we'll update the docs if that fixes the issue for you and indeed the cause here.

[2018-01-23 04:22] QubitPi opened #5282 "How to reset Aggregator?"
Since `reset()` method has been removed in new release, what is the equivalent of doing reset? Or do we forget about it while implementing custom `aggregator`?

[2018-01-23 05:22] herlenashavi commented on #5281
@pjain1 : We used code that had this commit. Seems like that commit didn't fix this issue. Do we have an ETA on when 0.12.0 would be released?

[2018-01-23 06:59] kaytrance commented on #5277
hmmm.. we kind of want to reindex data so that new data source could have another granularity, and in the same time it should have couple more aggregation metrics, like min and max. So, do I understand correctly that it is not possible to make a new data source if you want to have more aggregation metrics in that new data source?

[2018-01-23 14:04] leventov commented on #5282
Forget, aggregators are "disposable"

[2018-01-23 14:04] #5282 closed

[2018-01-23 19:02] leventov opened #5284 "Remove class duplication between indexing-service and server modules"
@himanshug [noted](https://github.com/druid-io/druid/issues/4312#issuecomment-356127914) that there are some classes that are duplicated between `indexing-service` and `server` modules (which classes?)

We don't want to resolve this by just merging this into one larger module, because it would bring hadoop dependencies to historical, broker, and router nodes.

The proposal is to
 1. Identify all d

[2018-01-23 19:03] leventov commented on #4312
@himanshug I extracted your comment into a separate issue #5284

[2018-01-23 19:08] himanshug commented on #4312
@leventov thanks.

I would like to note the motivation around not merging druid-server druid-indexing-service. currently, Hive depends only on druid-server to power Hive-Druid integration . druid-indexing-service depends on indexing-hadoop and subsequently hadoop, so merge would require Hive to pull-in everything which might create conflicts and also bloat the hive packaging.

[2018-01-23 22:47] himanshug commented on #5277
yes, that is a limit ... for now, you can't change the metric spec.

reason for that limit is related to "delta ingestion" support where user could be reading partially from Druid segments and partially late arriving data on hdfs. In that case, same set of aggregators must be used to read and process both datasets.
unfortunately, this restriction isn't really necessary for pure re-indexing use cas

[2018-01-23 23:17] jon-wei commented on #3565
Addressed by https://github.com/druid-io/druid/pull/5149

[2018-01-23 23:17] #3565 closed

[2018-01-24 03:20] pphust opened #5291 "hadoop ingesting problem of segmentGranularity when moving from UTC to UTC+8"
I am trying to move my druid segments from UTC to UTC+8. And my druid cluster is 0.9.1.1
The original segments are generated with UTC and queryGranularity is HOUR. And I hope my new segments is based on UTC+8 and queryGranularity is DAY.

I create one ingesting file to submit hadoop ingesting job.
1. The original data setting defined in inputSpec of ioconfig looks like:
            "inputSpec": {

[2018-01-24 07:08] kaytrance commented on #5277
maybe we can add come kind of flag somewhere (probably in `ingestionSpec`) so to state to ignore original specs?

I can see that this usecase could be pretty common in case you want to introduce new dataset (with higher granularity probably) and with some different metrics, but based on ones that are already in the datasource.

My usecase can be as example. We store realtime metrics, each having 5

[2018-01-24 10:37] xy-xin opened #5292 "YarnChild cannot be started due to java.lang.NoSuchMethodError: io.druid.guice.PolyBind.createChoiceWithDefault"
I built druid-0.11.0, and run the example batch indexing job, however i got an exception:
[code]
I have copied the hadoop xml files to druid-conf/druid/_common/, and turned on "mapreduce.job.classloader".

From the log, it seems it's not a hadoop jar problem. I suspect that it loaded the druid-api-0.9.1.jar (which was published in druid-hdfs-storage) other than what i expect druid-api-0.11.0.jar,

[2018-01-24 19:37] himanshug commented on #5277
My understanding is, that in KafkaIndexingService, your metric spec was...
[code]
using same in reindex task is totally expected to work and I can confirm that we regularly use that in many of our own reindexing jobs. What version of Druid are you using?

Now, on the topic of being able to change metricSpec for reindexing jobs, I think it does make sense to have a config enabling that use case. Qu

[2018-01-24 19:43] b-slim opened #5295 "Aws key and secret should not be printed to log."
Tracking https://github.com/druid-io/druid/pull/5085 in case of the issue still open.

[2018-01-25 04:54] xy-xin commented on #5292
I found it is because the druid jars' version is different with those in druid_home/lib. now i rebuild the project and get a consistent version.

Close it.

[2018-01-25 04:55] #5292 closed

[2018-01-25 11:44] kaytrance commented on #5277
Thanks @himanshug!

So if I specify exact same `metricSpecs` that was in original data source (even if it does not makes sense since `value` field existed in kafka, and in druid it's `val`, so referring to `value` field seems illogical, but nwm) or do not specify anything there at all I will get aggregations working.

When it comes to patch we will evaluate it at some day, because now we are force

[2018-01-25 11:44] #5277 closed

[2018-01-25 21:03] himanshug commented on #4312
another motivation for merging api, processing etc inside a core module - https://github.com/druid-io/druid/pull/5298/commits/9a51d27faa873e44449728b20edd621bf7844b0d#diff-49ebe227dd316b6e3199aa4ba1ab20f0R35

[2018-01-25 21:26] knoguchi commented on #3505
We can close this issue as the jq support has been merged.

[2018-01-25 21:26] #3505 closed

[2018-01-25 21:40] pjain1 commented on #5281
Are you sure you are running with the patch #5268 because the stacktrace clearly shows `toString` being called on `AbstractIndex` from `toString` of `FireHydrant`. We are also running latest master internally and don't see the same problem.

[2018-01-25 21:42] pjain1 commented on #5281
Release candidate for 0.12.0 is already out, should be declared stable fairly soon.

[2018-01-26 11:56] xwhfcenter commented on #3969
+1

[2018-01-29 04:36] jihoonson commented on #5218
@zhangxinyu1 thanks for the reply. DerivedDataSource for accelerating query speed makes sense to me.

I think two major challenges here are:

- How to update derivedDataSource on updates on original dataSource?
- How to rewrite user queries to choose the proper dataSource between derivedDataSource and original one (or both)?

The proposal explains well how these challenges are addressed, but I wou

[2018-01-29 18:26] #3786 closed

[2018-01-30 08:51] zhangxinyu1 opened #5304 "[Proposal] The 2nd version of implementation for materialised view"
The motivation of 'materialised view' is in issue #5218 .
The implementation of 'Materialised View' is diveded into two parts. One is **the management of DerivedDatasource**, and the other is **optimizing query with DerivedDatasource**.

# Management of DerivedDatasource
Each derived-datasource is managed by a derived-datasource supervisor(like kafkaSupervisor).

### CREATE
DerivedDatasource is cr

[2018-01-30 08:54] zhangxinyu1 commented on #5218
@jihoonson Thanks for your suggestions!
I proposed the 2nd version of implementation for materialised view in #5304 based on all your suggestions. Could you please review it?

[2018-01-30 11:15] zp-shadowolf commented on #5304
😁 Thank you very much for your email! The problem has been solved, I
restarted IDEA.

2018-01-30 16:51 GMT+08:00 zhangxinyu1 <notifications@github.com>:

[2018-01-30 16:34] himanshug opened #5305 "[Proposal] Coordinator Auto Kill feature config to ignore segments marked unused in last x days/weeks etc"
Currently users can configure auto kill of unused segments to completely wipe them out (from metadata store as well as deep storage) automatically. However, it is not considered safe for production because sometimes segments get marked unused accidentally when load/drop rules are changed or someone accidentally clicks "disable" button for a dataSource on the coordinator console ( On one of our clu

[2018-01-30 17:12] himanshug commented on #5238
@jihoonson we're hoping to reuse `PrefetchableTextFilesFirehoseFactory` for this. Is there some inherent limitation that requires `PrefetchableTextFilesFirehoseFactory` to work on `TEXT` files only or is it written hardcoded to text data because that was the original use case?
For example, could it work with sql row set (with possibly byte[] columns) without unnecessarily convert data to text (and

[2018-01-30 17:15] gianm commented on #5238
I guess it's just because it's the original use case. It would be nice to expand it to support Parquet and ORC files too.

[2018-01-30 18:27] jihoonson commented on #5238
@himanshug yeah, @gianm is correct. It was due to its original use case. It should be expandable for other file formats.

BTW, is this proposal for one time ingestion from RDBMS? Last year, I thought about the continuous ingestion from an RDBMS when data is continuously appended to that. For this use case, I think it can be easily implemented with the indexing service using the supervisor. Like ka

[2018-01-30 19:57] himanshug commented on #5238
@jihoonson yes, this proposal is about supporting ad-hoc batch ingestion where user would be explicitly submitting the local indexing task. users can automate and submit these jobs periodically based on data production inside their ETL pipelines that push data to RDBMS.
however, I would be in general be supportive about "continuous/automatic" ingestion from RDBMS if there is a use case and that he

[2018-01-31 04:48] QiuMM opened #5313 "[Bug] Unparseable timestamp found!"
This error occured months ago, and it will reappear in a very low frequency. I do not know why this happened. From the log the timestamp looks correct. Here is the log:

[code]

[2018-01-31 04:50] QiuMM commented on #5313
In the log, we can see the timestamp is 1503551029000, not null.

[2018-01-31 06:39] zhangxinyu1 commented on #5305
Auto kill feature is very useful for us!
Maybe we can set the time or the frequency to decide when deleting the unused data, like 'crontab' in linux.

[2018-01-31 20:45] jihoonson commented on #5305
I wonder if a similar goal can be achieved by checking segment intervals rather than adding a new column in the metastore. It means, the coordinator can check the segment interval is old enough and make sure that the segment interval is not overlapped with the configured "safe" period (like dropRules). I guess usually old segments are marked as unused, and will be killed at some point. In this use

[2018-01-31 22:07] himanshug commented on #5305
@jihoonson I don't really want to couple rules with auto-kill and have the feeling that implementation would become unnecessarily complex that way... also there are many different ways a segment can get disabled, having a column that clearly tells when the segment was disabled allows very simple semantics without worrying about all the different ways user could've disabled the segment.
In #5315 on

[2018-01-31 23:44] jihoonson commented on #5305
I didn’t mean to couple rules and auto-kill feature. I meant, auto-kill feature can be implemented with segment intervals like dropRule.

I understand what you mean and it sounds making sense. I’ll look into the PR as well.

[2018-02-01 06:50] kaytrance opened #5317 "Sometimes tasks fails with OffsetOutOfRangeException"
Sometimes, pretty random my ingestion tasks fails with `OffsetOutOfRangeException`. In result data for particular task is not ingested into druid and I can see gaps in time like this:

![periods](https://i.imgur.com/bZRYZ56.png)

Here's a log fragment that I think is the most relevant:
[code]

The randomness is whats bothers me, since this is a 3 hour task and we have retention period in kafka set

[2018-02-01 18:12] himanshug commented on #5305
Maybe we can set the time or the frequency to decide when deleting the unused data, like 'crontab' in linux.

@zhangxinyu1 that wouldn't solve the problem for most of our users whose "frequency" would be in hours and not in weeks. Also, it is always possible that auto-kill executes immediately after you accidentally disabled segments.

[2018-02-01 18:51] himanshug opened #5319 "unlimited number of off-heap buffers created from IntermediateProcessingPool"
Intermediate Processing Pool (powered by StupidPool ) has no limit on how many objects can be constructed. It is usually fine for historical nodes where concurrency is limited by `druid.processing.numThreads` .

However, at broker, when nested groupBy queries come.. they each need at least one buffer to process the outer query.
It is definitely not accounted in GroupBy-v1 implementation and even i

[2018-02-01 18:59] gianm commented on #5319
It should be ok in groupBy v2 since v2 uses merge buffers, not processing buffers, and those come from a limited-size pool.

[2018-02-01 19:11] himanshug commented on #5319
@gianm thanks, good to know that, so one workaround available is to migrate to groupBy-v2 which might not be possible immediately in current user scenario for various reasons.

that said, even if things are fixed in query implementation ... it is good to have a hard limit inside intermediate-processing-pool itself just in case there were bugs in the code using intermediate-processing-pool.
I hope

[2018-02-01 19:15] jihoonson commented on #5319
BlockingPool is the limited-size pool and it might be better for this use case.

[2018-02-01 19:31] gianm commented on #5319
I think it would be fine to switch the intermediate pool to a BlockingPool (same as merge buffers)

[2018-02-01 21:11] himanshug commented on #5319
yeah, I'm ok with using `BlockingPool` to enable that too.

[2018-02-01 23:05] pjain1 commented on #5317
This means that Kafka index tasks are not able to consume at rate by which messages are being produced by Kafka producers. You have set `resetOffsetAutomatically` which tells Index tasks to skip to the latest offset whenever the next offset that the task was going to consume got deleted from Kafka partition most probably because of Kafka retention. The way to solve is to increase `taskCount` so th

[2018-02-02 01:14] drcrallen opened #5320 "Calcite causes segment metadata request logs as soon as it starts up"
`io.druid.sql.calcite.schema.DruidSchema#refreshSegmentsForDataSource` calls a bunch of `SegmentMetadataQuery` requests on startup on the brokers, which causes crazy entries in the logs. There also is not any sort of tracer associated with these queries (like a special query id) which makes them hard to track through the system.

They also have a crazy rendering for their intervals, causing giant

[2018-02-02 03:36] gianm commented on #5320
Are you talking about request logs (the ones that can go to files and such) or some other kind of logs? The `identity` field might be a good way to separate the logs, if you are using a cluster that has authentication enabled. The auto-generated queries use the escalator so they should be using the system identity.

[2018-02-02 04:28] gianm commented on #5313
I see from your logs that you are running Druid 0.10.1. This looks like #4791, which was fixed in 0.11.0.

[2018-02-02 04:28] #5313 closed

[2018-02-02 08:00] kaytrance commented on #5317
ok, I will try to increase `taskCount` and see how it goes, thanks

[2018-02-02 08:00] #5317 closed

[2018-02-02 08:20] gianm opened #5325 "HTTP segment load/drop peons getting unauthorized"
Noticed this when testing #4874 on a cluster with authentication enabled. Perhaps it needs to use an escalated http client?

[code]

/cc @himanshug

[2018-02-02 08:22] gianm opened #5326 "Netty error: "exception was thrown by a user handler while handling an exception""
I think I haven't seen this before. Noticed it with the current master. I'm not sure what is going on, but it looks related to the read-timeout handler we add in NettyHttpClient.

[code]

[2018-02-02 10:34] gianm opened #5331 "HttpServerInventoryView: startup delayed unexpectedly"
I just tried the http based segment view stuff today, and noticed that my broker took a long time to start up. It seems to be related to timing out waiting for servers to initialize. However the initialization seems fine, in that when I query `/druid-internal/v1/httpServerInventoryView` after the broker is done starting, the server "ip-172-31-0-22.ec2.internal:8303" does appear in the list and loo

[2018-02-02 13:06] treidco opened #5332 "Minor Lookups documentation issue"
The documentation for lookups indicates that lookups can be configured by posting a JSON object to: /druid/coordinator/v1/lookups/config. Posting JSON to this endpoint results in a 405 Method Not Allowed.
It appears the correct endpoint is /druid/coordinator/v1/lookups. This endpoint works for both creating new lookups and updating existing lookups.

[2018-02-02 16:44] #5325 closed

[2018-02-02 17:51] himanshug commented on #5331
@gianm Thanks for testing and documenting the findings.

Behavior looks expected but log and "debug info" is a bit cryptic I guess. Let me try to explain and in the long run we would change them to become more self explanatory hopefully.

`2018-02-02T10:16:56,250 WARN [HttpServerInventoryView-1] io.druid.client.HttpServerInventoryView - Await initialization timed out for server [ip-172-31-0-22.ec2

[2018-02-02 20:30] gianm commented on #5331
@himanshug, thanks for explaining.

In light of your explanation I could suggest two changes that would have helped me.

1. If a sync fails, then on the next successful sync after a failure, log at INFO level that it is working again. (This way we know how long it took a node to become synced.) After that, as long as it keeps succeeding, no need to log anything at INFO level.
2. The adjustment to

[2018-02-02 22:26] millbraeming opened #5337 "SQL filtering with "__Time =" does not work in Pivot"
SQL filtering with "__Time =" returns error, while "__Time <" or "__Time >" work correctly.  Please find attached screen shots.

**Case where __Time filter works :**
<img width="1260" alt="screen shot 2018-02-02 at 1 59 36 pm" src="https://user-images.githubusercontent.com/9752231/35757671-1b5c611a-0825-11e8-95f4-b344de631085.png">

**Case where __Time filter does not work**
<img width="1180" alt=

[2018-02-02 22:52] jihoonson commented on #5337
@millbraeming thank you for reporting, but it looks not a bug to me. The reason that the last query returns an empty result is that there is no row having `2016-06-27T00:00:36.000Z` value for `__time` column. I guess it should be `2016-06-27T00:00:36.027Z` if you want to get the second row. Would you try again?

[2018-02-02 23:03] pjain1 opened #5338 "Potential bug in HttpPostEmitter causing high CPU usage"
After upgrading to 0.11.0, some of the deployments are facing high CPU usage issue.

After taking a thread dump, it was a suspicion that emitter thread might be causing it.

[code]

To verify the issue, we added an executor in DruidCoordinator class which just keeps on emitting events in while(true) loop like this -
[code]
We found that after some time, [batch.tryAddEvents](https://github.com/meta

[2018-02-02 23:55] leventov commented on #5338
I reviewed quickly but I couldn't find any bug. Could you add some logging code:
in

https://github.com/metamx/java-util/blob/f33e0b0f275fa96bfe79a1d68b4ea70d09cd496e/src/main/java/com/metamx/emitter/core/HttpPostEmitter.java#L244-L246

add
[code]

Also, add batchNumber field in Batch.toString() impl;

Also, add logging after successful `compareAndSetState()` calls in `Batch.tryReleaseShared()`.

[2018-02-03 01:36] jihoonson commented on #5337
Ok. This is a feature request rather than a bug. It looks good to me to support it.

[2018-02-03 04:49] gianm commented on #5337
Check this out:

`__time = TIMESTAMP '2017-11-20 19:07:26.561'` plans to intervals `"2017-11-20T19:07:26.000Z/2017-11-20T19:07:26.001Z"`

but `__time >= TIMESTAMP '2017-11-20 19:07:26.561'` plans to `"2017-11-20T19:07:26.561Z/146140482-04-24T15:36:27.903Z"`

So, there is at least a bug here somewhere.

The exception applying `DruidQueryRule:WHERE_FILTER` also is a bug, rules shouldn't fail outrigh

[2018-02-03 09:48] fanwu72 opened #5340 "Exceptions in broker: Channel disconnected"
Hi there,

Some queries(dozens every day) fails in my production environment. I found below exceptions from the broker logs. It seems that the connection between broker and peon gets disconnected during querying.

`2018-02-03 09:41:01,115 ERROR io.druid.server.QueryResource: Exception handling request: {class=io.druid.server.QueryResource, exceptionType=class io.druid.java.util.common.RE, exceptio

[2018-02-04 08:58] fanwu72 opened #5341 "Get the maximum value along with timestamp in group by query."
Hi there,

I am facing a query scenario based on a business requirement. I would like to get the max value along with its timestamp. Say I have below data in druid:

**timestamp domain isp val
1517731200 a.com dx 10
1517731260 a.com dx 11
1517731320 a.com dx 9
1517731200 b.com dx 3
1517731260 b.com dx 2
1517731320 b.com dx 1
1517731200 c.com yd 123**
...
other records
...

The  dimension is domain

[2018-02-05 00:09] drcrallen opened #5342 "Lookup dynamic config needs promoted to first-class DB metadata object"
Right now the lookup config is just stored as a DB config item, all lookups in one blob. This can cause issues when many, many lookups are in one database https://github.com/druid-io/druid/issues/4838 .

This suggestion is to move the lookups into their own config table in the metadata.

[2018-02-05 00:11] drcrallen commented on #4838
Whoops, missed this one in prior release notes. Next one should probably include it and close out the issue.

[2018-02-05 04:18] erankor opened #5343 "Kafka indexing tasks occasionally fail with 'Stream closed'"
Hi all,

I seeing sometimes failed Kafka indexing tasks, the task log look quite empty (~180 lines) - ends with this -
[code]
Looking at the middle manager, I see this exception -
[code]
I saw this exception was reported in https://github.com/druid-io/druid/issues/3054, but this seems to be different, as here it's sporadic. I'm mainly concerned about whether I may be losing events when it happens.

[2018-02-05 04:18] erankor commented on #5343
Btw, I'm using druid-0.10.0

[2018-02-05 11:55] zhangxinyu1 commented on #3347
Why not create java.io.tmpdir automatically？
I wonder that why we should use bin/init to create directories, but not create theses directories automatically.

[2018-02-05 11:57] #5332 closed

[2018-02-05 17:16] nishantmonu51 opened #5346 "Turn ObjectColumnSelector into an abstract class."
This task is to see if ObjectColumnSelector could be turned into abstract class from interface, and isNull method is made final. Follow up comment from https://github.com/druid-io/druid/pull/5278#discussion_r166013339

[2018-02-05 17:22] leventov opened #5347 "Structured approach to segment format evolving and versioning"
In order to enable innovation in segment format (see [`Segment Format and Ser/De`](https://github.com/druid-io/druid/labels/Area%20-%20Segment%20Format%20and%20Ser%2FDe) tag) I think some system should be developed, so that when somebody want to improve something in the segment format, very little work is required, except actual segment format (and consequently query engines) changes. Currently th

[2018-02-05 17:27] leventov commented on #5346
It's a very small thing (goal was just to make one method `final`), I thought it could be a part of that PR, otherwise doesn't worth a separate issue IMO.

[2018-02-05 17:30] leventov commented on #5346
I just checked and can say - it could be turned into an abstract class.

[2018-02-05 17:39] #5346 closed

[2018-02-05 17:41] jihoonson commented on #5337
@gianm thanks for clarifying this issue. I didn't know that the Calcite timestamp type supports millisecond fraction. Good to know.

[2018-02-05 18:30] gianm commented on #5347
Well, I think it would be great if it was easier to add features to the storage format, so it's a good area of discussion.

A question: what do you mean by "segment format"? Like the structure of the segment itself (meta.smoosh, columns with `ColumnPartSerde` headers, etc)? Or the structure of individual columns?

I would add one other requirement: long term backwards-compatibility towards written

[2018-02-05 18:44] leventov commented on #5347
I don't have a clear picture. If we are talking about about what should be changed as the result of this discussion, it might be:
 - On-disk data formats, but probably only around writing versions and/or "serializer codes" somewhere in headers/metadata. Improvements to formats themselves (like new dictionary format) is not subject of this discussion, but it should be enabled (or eased) by the chan

[2018-02-05 19:16] gianm commented on #4080
I ran some benchmarks using JavaFastPFOR today and got the following sizes and timings. The dataset was ints with randomness uniformly distributed over some number of bits. I did three scans: at 10%, 95%, and 100% selectivity.

Some notes:

1. "uncompressed" means VSizeColumnarInts (byte packing). "compressed" means byte packing + LZ4 with blocksize of 64KB (however many byte-packed ints fit in).

[2018-02-05 19:32] gianm commented on #4080
/cc @lemire

[2018-02-05 19:53] gianm commented on #4080
Btw we already have implemented a better long (int64) compression about a year ago, although it is still off by default. It uses fixed length bit packing so it supports relatively random access. Maybe it's time to turn it on by default and disable LZ4 by default.

Some sizings and timings are in https://imply.io/post/2016/12/07/compressing-longs.html.

(Here, we did test more distributions, and fo

[2018-02-05 19:56] lemire commented on #4080
@gianm

I'm available and interested in helping out.

Note: This could end up generating an interesting paper if you guys care about documenting the work. I'd love to help make this happen.

email: lemire@gmail.com

[2018-02-05 20:22] gianm commented on #4080
@lemire Thanks for the offer. At this point I have one main question: do you know if your JavaFastPFOR library is still the best freely-licensed, small-ish-integer compression library for Java that you are aware of? (I'm looking to compress the offset section of string columns; in Druid we expect these to be positive ints with the max value being the cardinality of the column -- which is never mor

[2018-02-05 20:51] gianm commented on #4080
I edited the original comment to include BinaryPacking too (the paper says it's fixed-width bit packing). They look similar to FastPFOR at the current block sizes I'm testing.

[2018-02-05 23:04] himanshug opened #5350 "[Proposal] Extensible Datasource to segments mapping."
Introduce a new interface something like below......
[code]

When Broker receives a query where dataSource field is any implementation of `SegmentsDataSource`, then Broker would ask that implementation to provide list of segments to query from various historicals .

`UnionDataSource` could be reimplemented by being an implementation of it and would return segments from all the dataSources given in

[2018-02-06 00:54] lemire commented on #4080
In case you don't know about Upscaledb: https://upscaledb.com

cc @cruppstahl

[2018-02-06 05:11] jihoonson commented on #2373
Recently. the same task has been failing frequently.

- https://travis-ci.org/druid-io/druid/jobs/336714990
- https://travis-ci.org/druid-io/druid/jobs/337813434

[2018-02-06 05:43] #4879 closed

[2018-02-06 08:02] bendrecm opened #5353 "Nested SQL query throws error on latest version 0.11.0"
For dataset se-druid, following query was working for 0.10.1 version but throws error on latest version 0.11.0

`SELECT gender, country, count(distinct unique_users) as unique_users FROM \"se-druid\" GROUP BY gender, country HAVING gender <> '' and country in (SELECT country FROM \"se-druid\" WHERE country <> '' and country is not null GROUP BY country ORDER BY count(distinct unique_users) desc LI

[2018-02-06 20:13] #5242 closed

[2018-02-07 01:36] niketh commented on #5338
We are facing the same issue, had an outage as a lot of the historicals started spinning at 100% CPU utilization and the queries couldn't return. A lot of threads are stuck here
`at com.metamx.emitter.core.HttpPostEmitter.emitAndReturnBatch(HttpPostEmitter.java:244)
	at com.metamx.emitter.core.HttpPostEmitter.emit(HttpPostEmitter.java:214)
	at com.metamx.emitter.service.ServiceEmitter.emit(Service

[2018-02-07 02:33] visualskyrim opened #5362 "[Proposal] Support Map in orc-extensions"
I saw `orc-extensions` [support List](https://github.com/druid-io/druid/blob/master/extensions-contrib/orc-extensions/src/main/java/io/druid/data/input/orc/OrcHadoopInputRowParser.java#L95).

I wonder if we can make it also support `Map`.

[2018-02-07 05:59] dansuzuki commented on #5362
I would like to take on this with the following handling.

Explode map-type field into several fields having its name prefixed with parent fieldname + underscore. E.g.

From this...
[code]

To this...
[code]

[2018-02-07 08:13] samarthjain opened #5364 "Wrong partitioner class potentially used in IndexGeneratorJob"
In IndexGeneratorJob#run() method, it looks we are setting the partitioner class twice. I am not sure which one is the right partitioner class to use, though.

First, we set the partitioner class here:
[code]

which internally sets the partitioner class to:

[code]

Following that, we again set the partitioner class here:

[code]

[2018-02-07 15:32] leventov commented on #5338
@niketh could you do what I asked in the comment above?

[2018-02-07 15:41] himanshug commented on #5338
added it to 0.12.0 milestone. technically it appears to be a regression in 0.11.0 but it would only be patched in 0.12.0

[2018-02-07 17:18] pjain1 commented on #5338
@leventov I can try doing what you suggested however it is easily reproducible locally just add following code in some executor -
[code]
Please see if you can reproduce at your end. I'll let you know the outcome of extra logging.

[2018-02-07 18:18] leventov commented on #5338
@pjain1 see #5365.

If it's easily reproducible, could you create a test?

[2018-02-07 21:26] drcrallen opened #5368 "Coordinator datasources endpoint returns nonsensical `servers`"
`/druid/coordinator/v1/datasources/${DATASOURCE}/intervals/${INTERVAL}?full`

is supposed to return a `servers` field which lists the hosts which are serving that segment. But when the interval covers more than one segment granularity on our cluster the returned server list is way beyond what is actually hosting segments. When limiting the interval to even boundaries of the segment granularity (ex

[2018-02-07 22:30] pjain1 commented on #5338
I have been unsuccessful so far to reproduce this issue with latest master or with unit test for emitter 0.6.0. So, I took log statements from PR https://github.com/druid-io/druid/pull/5365 and added them to emitter 0.6.0 which druid 0.11.0 uses and I can see the problem happening. Apart from what you suggested, I also added statement `System.out.println("No new batches, current batch " + concurre

[2018-02-07 23:10] pjain1 commented on #5338
Here's the output with more information, with druid 0.11.0 and emitter 0.6.0 -
[code]

[2018-02-07 23:18] leventov commented on #5338
@pjain1 thanks, is it possible to add threads and time information to the output?

[2018-02-07 23:18] leventov commented on #5338
Like this: `2018-02-07T23:08:28,138 INFO [Coordinator-Exec--0]` prefix before each line.

[2018-02-07 23:28] pjain1 commented on #5338
OK, I will do that and post updated output.

[2018-02-08 02:42] pjain1 commented on #5343
Most probably the task got killed by overlord, check overlord logs and search for the task id. On a side note, Kafka Indexing Service is constantly being improved upon and a more stable version of which will land in 0.12.0 release.

[2018-02-08 06:41] dragonls commented on #5273
I faced the same problem while migrating segments from local storage to HDFS storage.
And I did extracly as @himanshug suggested. That works fine.

[2018-02-08 06:59] dragonls commented on #5219
Maybe you can try the [Stream Pull Ingestion](http://druid.io/docs/0.11.0/ingestion/stream-pull.html).

AFAIK, you can query the result in a realtime using Stream Pull Ingestion once druid ingest data from Kafka.
But by using Stream Push Ingestion, you will have to wait a window period.

[2018-02-08 07:51] dragonls opened #5371 "Add Kafka 1.0 support for realtime ingestion."
The druid extension for druid to ingest data from Kafka is `druid-kafka-eight`, which based on Kafka 0.8.2.

Using Kafka 0.8.2, we need to connect to the Zookeeper of the Kafka cluster using `zookeeper.connect`, which actually may not be known.
The newer version of Kafka(0.9.x and so on) uses `bootstrap.servers` to connect to the Kafka cluster. And we just need to know the broker of Kafka cluster.

[2018-02-08 08:55] erankor commented on #5343
Thanks @pjain1, unfortunately, I don't currently have these logs (few days passed...), I will make sure to check it next time it happens.

[2018-02-08 09:17] yuppie-flu commented on #5159
Fixed in #5314

[2018-02-08 09:17] #5159 closed

[2018-02-08 10:32] Llinjing opened #5373 "Failed to create tmp directory error"
When the "**tmp**" directory is not created, submit the task, will be reported "**Failed to create directory within 10000 attempts (tried 1470845895301-0 to 1470845895301-9999)**" error. Found to be using Guava's createTempDir method has a problem.
[code]
Use mkdirs () instead of mkdir (), you can solve the error.

 At the same time, init script can be removed, because after the change, all the di

[2018-02-08 17:07] pjain1 commented on #5338
@leventov
[code]

[2018-02-08 17:37] pjain1 commented on #5338
Here are multiple thread dumps when this situation happens - https://gist.github.com/pjain1/534c5941390037663b94c7ddcf6a0a3c

[2018-02-08 17:52] pjain1 commented on #5338
I have been trying to reproduce this issue on master but have been successful only once in multiple tries.

[2018-02-09 03:19] dragonls commented on #5371
I think there is a better way to accomplish this like using FirehoseV2. So closing this.

[2018-02-09 03:19] #5371 closed

[2018-02-09 04:19] BugRookie opened #5375 "tranquility overlord error"
[code]

[2018-02-09 08:40] zhztheplayer commented on #5373
In my own experience, you can check the following:

1. Whether the tmp dir exists or not (The dir should be created manually)
2. Ensure The number of tmp files has not reached the file system limit.

[2018-02-09 16:15] hoesler opened #5377 "mysql connector should (probably) allow utf8mb4 as character set"
I tried to set up druid with mysql as metadata storage. It has utf8mb4 as default character set, which currently seems to be the [recommended best practice](https://stackoverflow.com/questions/766809/whats-the-difference-between-utf8-general-ci-and-utf8-unicode-ci). Druid rejected it with "Database default character set is not UTF-8." [here](https://github.com/druid-io/druid/blob/0105cdbc19828009d

[2018-02-09 19:52] gianm commented on #1926
Fwiw when you group by `FLOOR(__time TO X)` then Druid SQL will run a query similar to @vogievetsky's suggested workaround. The reason is because that's more like what SQL semantics would expect.

[2018-02-09 21:23] jihoonson opened #5378 "DefaultLimitSpec doesn't respect sortByDimsFirst"
The timestamp is always compared first in the ordering created by DefaultLimitSpec (https://github.com/druid-io/druid/blob/master/processing/src/main/java/io/druid/query/groupby/orderby/DefaultLimitSpec.java#L201-L253). This breaks the behavior `sortByDimsFirst`.

I'm fixing this bug, and wonder what is the correct behavior of `sortByDimsFirst`. If some metrics are specified as well as dimensions

[2018-02-10 01:49] b-slim commented on #4645
@gianm  and @vvc11 can we add a list of exclusion that by defaults includes the sensible information like metadata passwords and AWS key if any. This should be straightforward.

[2018-02-10 08:27] leventov commented on #5338
@pjain1 "s" thread must complete `onSealExclusive()` successfully, but for some reason it didn't do this. Please continue to debug this by adding logging in `onSealExclusive()`, and also in the "s" thread, wrap the while loop with try-catch (Throwable), to print anything that might be thrown from there (I suspect IllegalStateException)

[2018-02-11 07:26] licl2014 commented on #5375
i think this problem has happened because your overlord has a disk which can not be accessed or writed, you can check your `tmp dir ` in overlord configuration file .

[2018-02-11 07:28] licl2014 opened #5381 "DruidCoordinatorCleanupOvershadowed will be failed because of IllegalArgumentException"
There are many redundant segments  in our cluster,  they are not removed by DruidCoordinatorCleanupOvershadowed  thread and i found coordinator has as follows exception.

[code]
then i review the code and find DruidCoordinatorCleanupOvershadowed thread do not catch any exception when it cleans up segments. so whether or not catch exception could solve this problem here? @gianm @leventov please hav

[2018-02-11 07:30] licl2014 commented on #5381
my druid version is 0.9.2

[2018-02-11 08:38] erankor commented on #5343
@pjain1, got a few more failed tasks, I'm not sure if it's exactly the same as the first one, but I'm seeing these warnings/errors on the overlord -
[code]
Looks like the integrity constraint violation happens quite often, don't know if this is expected -
[code]
Full log - [kafkaIssue.log](https://github.com/druid-io/druid/files/1714186/kafkaIssue.log)

Thanks!

Eran

[2018-02-12 20:02] himanshug commented on #5378
@jihoonson yes I agree.

[2018-02-12 20:39] pjain1 commented on #5338
After wrapping the while loop in try-catch I found that the `acquireBuffer` call in `onSealExclusive` method in `HttpPostEmitter` was throwing `java.lang.OutOfMemoryError: Java heap space` exception and after this the `HttpPostEmitter` will get into situation where it cannot emit anymore and keeps on spinning in while(true) loop in `emitAndReturnBatch` method indefinitely as `concurrentBatch` will

[2018-02-12 21:47] raravena80 opened #5383 "ec2 autoscaler doesn't seem to work in regions other than us-east-1"
it launches instances if I'm running in us-east-1 but not if if I use us-west-1 (us-west-1a) for example:

[code]

Using druid 0.11.0

Tried with aws-sdk `1.11.275` and `1.10.77`

Looks like we may need another parameter in the request, perhaps vpc-id? When I launched in in us-east-1 with no value for avzone or subnet it launched in the default VPC.

This also worked fine for me using the aws cli

[2018-02-12 21:51] pjain1 commented on #5343
I don't think integrity constraint violation is the problem, the problem is `failed to respond to [pause] in a timely manner, killing task`. So, I would check the task logs around this time to figure out why it did not pause, what was the task doing ? Or I would just wait and upgrade druid to 0.12.0 once it is out and see if the problem still persists.

[2018-02-13 02:00] raravena80 commented on #5383
Confirmed that we need this somewhere:

[code]

Perhaps in this file, in the constructor:

https://github.com/druid-io/druid/blob/master/indexing-service/src/main/java/io/druid/indexing/overlord/autoscaling/ec2/EC2AutoScaler.java#L68

[2018-02-13 04:57] gianm opened #5384 "Update Kafka docs for 0.12.0"
After #4815 the Kafka indexing service changed how it generates segments, in a way that invalidates the "On the Subject of Segments" section of kafka-indexing.md. This is great since the new way is better! But, the docs need to be rewritten.

/cc @pjain1 @dclim

[2018-02-13 15:40] leventov commented on #5338
@pjain1 please try #5386.

[2018-02-14 01:00] #5338 closed

[2018-02-14 01:13] pjain1 commented on #5384
I can modify the docs

[2018-02-14 08:21] kaytrance opened #5388 "io.druid.indexing.kafka.supervisor.KafkaSupervisor - Resetting dataSource"
For unknown reasons we started to experience this kind of error
[code]
I cannot find any good indications before this line what may have caused this besides this
[code]
but when it happens we have all tasks status `FAILED` and we loose 30 minutes of data . I also a bit confused why exactly 30 minutes when we have `segmentGranularity` set to 1 hour, the same for `taskDuration`, and there's no anyth

[2018-02-14 17:46] drcrallen commented on #5383
Can you just set `aws.region` as per https://github.com/aws/aws-sdk-java/blob/1.11.277/aws-java-sdk-core/src/main/java/com/amazonaws/SDKGlobalConfiguration.java#L62 ?

[2018-02-14 18:10] drcrallen commented on #5377
hmmm

https://github.com/druid-io/druid/blob/druid-0.11.0/extensions-core/mysql-metadata-storage/src/main/java/io/druid/metadata/storage/mysql/MySQLConnector.java#L98-L108 is where the check is enforced. Do you have any good suggestions on how to make sure the DB is configured sanely?

Also, if it does need to change to not just utf8, then https://github.com/druid-io/druid/blob/druid-0.11.0/docs/c

[2018-02-14 18:11] drcrallen commented on #5373
is the problem here that `java.io.tmpdir` does not exist, so the `mkdir` fails?

[2018-02-14 18:14] drcrallen commented on #5340
If I recall this was fixed recently to allow peons to soft-shutdown and not just kill queries.

[2018-02-14 20:14] gianm commented on #5377
It sounds like utf8mb4 is the right thing to do these days. @hoesler would you mind doing a PR to loosen up the check in Druid?

[2018-02-14 22:23] hetul opened #5389 "SQL: Selecting column names that are keywords always needs to be escaped"
I have a datasource with a dimension called `year`, which becomes a `VARCHAR` column name in the SQL schema.

The following SELECT statement fails:
[code]

This results in a `org.apache.calcite.sql.parser.SqlParseException`.

The workaround is to escape all column names in Druid SQL queries like so:
[code]

But other flavors of SQL that I've worked with do not share this problem (i.e. MySQL, Postg

[2018-02-14 22:28] gianm commented on #5389
Hi @hetul, as far as I know we inherit this behavior from Calcite (which we use for SQL parsing & planning). I don't know if it's customizable. If it is, I'd definitely merge a PR that changed the behavior to be less finicky. Otherwise I think we should close this wontfix.

Do you (or anyone else listening) happen to know?

[2018-02-14 22:31] hetul commented on #5389
Thanks @gianm, it does sound like a Calcite issue. I don't have experience with Calcite, so I don't know if it's configurable.

Totally fair to close as wontfix since the workaround is simple enough, though mildly surprising. I just wanted to point it out if it was an unknown issue!

[2018-02-14 22:37] gianm commented on #5389
Hmm, I checked the Calcite SQL parser config briefly and don't see an obvious way to change this. So I'll close this. Hope it's not too bad of an inconvenience!

[2018-02-14 22:37] #5389 closed

[2018-02-14 23:45] pjain1 commented on #5388
Its same as https://github.com/druid-io/druid/issues/5317 and its resetting automatically because you might have set `resetOffsetAutomatically` to `true`.

[2018-02-15 00:02] b-slim commented on #4080
@gianm Am also wondering if we are taking advantage of the fact that the array of ints is sorted with known min and max, I guess that should help.

[2018-02-15 00:11] gianm commented on #4080
@b-slim Binary packing definitely takes advantage of the fact that the mins and maxes are known. I didn't pick encodings that take advantage of sortedness, however, because in general we can only expect at most one dimension's values to be sorted (the first one, and only if segmentGranularity = queryGranularity). In some cases this does happen and would be a useful optimization, but I wasn't worry

[2018-02-15 07:45] kaytrance commented on #5388
It keeps resetting due to error in UPDATE section, so it seems. Everything was fine before and suddenly we started to experience this.
What may be the reason of "Still waiting for Handoff for Segments" messages? It seems that it waits with that messages until `completionTimeout` is hit and then we loose some of the data.

[2018-02-15 15:45] #5181 closed

[2018-02-15 16:52] jcollado opened #5391 "Add documention for the servers"
Documentation for the servers endpoint in the coordinator API is missing. This is a useful endpoint because it returns information useful to calculate the storage utilization of historical nodes.

Related: [forum post](https://groups.google.com/forum/#!topic/druid-user/dbnfi42pgKg)

[2018-02-15 17:57] #5384 closed

[2018-02-15 22:37] #5391 closed

[2018-02-16 01:19] visualskyrim commented on #5362
Thanks a lot for making those changes!

[2018-02-16 01:19] #5362 closed

[2018-02-16 23:26] #5378 closed

[2018-02-17 17:13] hoesler commented on #5377
Okay, I'll take a look.

[2018-02-19 20:02] a2l007 opened #5400 "Deadlock bug within HttpRemoteTaskRunner"
Recently identified a deadlock happening within the Overlord which caused all our indexing tasks to get stuck as the overlord became unresponsive. Taking a thread dump showed that TaskQueue-Manager thread holds a giant lock at
https://github.com/druid-io/druid/blob/305ecc2a782e189d35af2deea9c29ebceb46c1cc/indexing-service/src/main/java/io/druid/indexing/overlord/TaskQueue.java#L227
inside the task

[2018-02-20 07:30] gianm opened #5404 "Kafka: Play nice with transactional topics"
See https://groups.google.com/d/topic/druid-user/QNgVy7IDsgA/discussion for issues reported with transactional topics. It sounds like the "there will be no message gaps" assumption is not valid in the transactional world. So we should at least look at that, and also make sure that in general we are calling the consumer properly.

The message gap check was a nice sanity check on the Kafka consumer

[2018-02-20 16:54] nishantmonu51 opened #5405 "Consider merging Float/Double/LongGenericColumnPartSerde classes in single class."
They only differ by type.
Same for Float/Double/LongGenericColumnPartSerdeV2

[2018-02-20 16:55] nishantmonu51 opened #5406 "Fix Incoherency in Expression Selectors"
Review comment - https://github.com/druid-io/druid/pull/5278#discussion_r169359642
There is an incoherency. This is a selector of ExprEval, not of ExprEval.value(). This class is used only in ExpressionSelectors.makeExprEvalSelector(). This incoherency already causes problems in AggregatorUtil: ExpressionSelectors.makeExprEvalSelector() is used there only to call getObject(), not taking advantage

[2018-02-20 16:55] nishantmonu51 commented on #5406
+cc @gianm for thoughts.

[2018-02-20 17:46] gianm commented on #5406
The main reason I did this was because some selectors wrap expression selectors and prefer an `ExprEval` object so they can get object casting behavior (`asDouble`, `asString`, etc). If we have some standard functions for casting `Object` to various Druid types then I think the ExprEval selectors aren't needed, and we can go with the first solution: "ExpressionSelectors.makeExprEvalSelector() shou

[2018-02-20 17:47] gianm commented on #5406
Btw, there is no incoherency that I'm aware of in the current code. It is just confusing since there are both ExprEval selectors and normal value Object selectors, and callers have to use the right one.

[2018-02-20 17:54] nishantmonu51 opened #5407 "[Proposal] Enable checkstyle checks for class declaration order"
The goal is to set guidelines and enforce ordering for declarations in a class. A contibutor and reviewer can have conflicting opinions for such cases based on their personal coding preference and can lead to increasing back and forth in PRs where different committers have different opinions about orderings requirements to be followed.

IMO following order should be followed for code consistency -

[2018-02-20 18:07] nishantmonu51 commented on #5406
Thanks for your thoughts @gianm. Will refactor things accordingly in a follow up PR.
the incoherancy in comment here is for the newly added isNull method, which returns false for ObjectSelectors instead of computing the object and determine its nullability for performance reasons.

[2018-02-20 21:09] leventov commented on #5406
@gianm the fact that `AggregatorUtil` misses the optimization at the moment is the sign of the inconsistency.

[2018-02-21 07:16] singhania commented on #3495
Hi,

We are using druid 0.9.2 and once we submit shoutdown command to overlord for supervisor.It returns with supervisor id but doesn't stop the task.Task kept on running.

Also if we try to query about same supervisor we get supervisor doesn't exists.

I believe we are getting this issue but it should be fixed in 0.9.2.

[2018-02-21 08:51] Jinchul81 commented on #4301
@gianm I am struggling to make a reproduction scenario for TDD.

You mentioned the root cause. But, I don't understand the meaning of the versus. I guess the column points dimension of extraction, so the column can be either exists or not exists. Could you please give me more explanation about this?

I am trying to make a test case which is based on
`GroupByQueryRunnerTest.testGroupByWithExtractio

[2018-02-21 10:51] #3525 closed

[2018-02-21 18:01] #5135 closed

[2018-02-21 22:15] manujose0 commented on #5234
Had the same issue. Seems like in the aggregations the name and fieldName should be the actual metric_name ... weird and seems like a bug.

"aggregations": [
    { "type": "longMax", "name": "max_purchase_amount", "fieldName": "purchase_amount" }
  ],

Should be :

"aggregations": [
    { "type": "longMax", "name": "purchase_amount", "fieldName": "purchase_amount" }
  ],

[2018-02-22 16:04] drcrallen opened #5415 "Async future handling needs a guava friendly way we can maintain."
As per https://github.com/druid-io/druid/pull/5414#discussion_r170006127 , we need an abstraction that plays nice with Guava versions across a wide range, and ideally uses Java intrinsics whenever possible.

[2018-02-22 20:59] leventov commented on #5415
`java.util.concurrent.CompletableFuture` alone covers a lot, if not all, cases when Druid uses Guava's ListenableFutures and utilities.

[2018-02-23 01:15] fanwu72 commented on #5340
@drcrallen Thanks for the reply.  If the root cause is the peon shutdown, the issue should occurs periodically, but it is not. Could you please tell me the relevant issue or commit? I'll check it. Thanks again.

Best regards,
Ryan

[2018-02-23 17:01] 13Homer opened #5419 "ORC file and numeric dimension ends with error"
Hi,
I'm using Druid 0.11.0 with druid-orc-extension. Ingestion using this kind of config:
[code]

ends with this exception:
[code]
If there is no "metric as a numeric dimension" import ends successfully. Seems like column metric1 is imported always as string.
Is this a problem with orc extension or in druid directly? Is there any workaround for this?
Regards

[2018-02-23 17:20] herlenashavi opened #5420 "Publishing segments with Kafka Index service failed"
Hi,

I'm using Druid's Kafka indexing service to ingest data from Kafka into Druid. After running for about 10 hours I see some ingestion tasks failing with the following error.

Druid Version: 0.11.0
HDFS Version: 2.7.4 (Should this be 2.7.3 since the hadoop client being used in Druid 0.11.0 is 2.7.3?)

[code]

I see a whole bunch of HDFS errors reported in the task logs about failure to rename t

[2018-02-23 17:43] gianm commented on #3393
This should be fixed with the java-util upgrade in http://github.com/druid-io/druid/pull/5239 (and was preserved in the ensuing merge of java-util into Druid in #5289).

[2018-02-23 17:43] #3393 closed

[2018-02-23 17:44] gianm commented on #5340
@fanwu72 I think the PR that @drcrallen was talking about is https://github.com/druid-io/druid/pull/4716. It looks like it hasn't been merged yet.

Another thing that could cause disconnects is https://github.com/druid-io/druid/issues/3393 which will have a fix in 0.12.0 (https://github.com/metamx/java-util/pull/73 was incorporated by way of #5289).

[2018-02-23 18:00] b-slim commented on #5404
I have looked into this and found out that the issue is not really the transactional world (transactions are part of separate topics) but as pointed by @gianm the optional log compaction that can happen to the Kafka log as [per docs](https://kafka.apache.org/documentation/#compaction)  Kafka Brokers can compact record with the same key, therefore Kafka log can have gaps. This option is on by defau

[2018-02-24 02:51] Llinjing commented on #5373
The problem can be resolved by create tmp dir. But i should to run init.sh file before i start the cluster for first time.I think is not a good way to maintain a cluster.I hope this path can be created automatically when it is used.

[2018-02-24 09:03] fanwu72 commented on #5340
Thank you @gianm

[2018-02-24 16:16] herlenashavi commented on #5420
Just an update, I tried testing this with Hadoop version 2.7.1 and HadoopFSWrapper compiled with hadoop 2.3.0. Still get the same error. While using Druid 0.11.0, which version of Hadoop client (2.3.0 or 2.4.0) is recommended with HDFS version 2.7.1?

[2018-02-24 17:32] herlenashavi commented on #5420
Found this [post](https://groups.google.com/forum/#!msg/druid-user/mFRYT2dRS7g/XUDWIPjhAwAJ) which answers my question.

[2018-02-24 17:32] #5420 closed

[2018-02-25 10:08] licl2014 commented on #418
why linear shard segments can not be merged by coordinator? @fjy @gianm

[2018-02-25 13:03] vvc11 commented on #5368
hi @drcrallen , I'd like to fix this issue but I'm unable to replicate it though. Can you please provide an example to help me understand better?
Thanks

[2018-02-26 02:51] visualskyrim opened #5422 "Batch ingestion: Use partitions in the path as dimensions"
Hi, community!

I wonder if we can project the strings in the path as the dimension except for year/month/day with `granularity` spec.

For example:
I have data in HDFS saved as `hdfs:///someplace/event_type=a/topic=b/year=2018/month=02/day=26`

Can I make `event_type` and `topic` as dimensions for my data source?
If we are already capable of doing that, how should I specify that in the ingestion

[2018-02-26 03:54] drcrallen opened #5423 "Timeout in RemoteTaskRunnerTest"
[code]

[2018-02-26 06:26] panqingcui opened #5424 "Upgrade druid-0.11.0 from 0.10.0 timezone faild?"
Upgrade Druid 0.11.0 by Druid 0.10.0, Duser.timezone = UTC + 0800 does not take effect
[

![image](https://user-images.githubusercontent.com/10126345/36656001-08e87f8e-1b01-11e8-9fcd-0ff07791e13c.png)

[2018-02-26 16:45] leventov opened #5425 "Strange code in AppenderatorDriverRealtimeIndexTaskTest that looks like it should be replaced with map.get()"
See https://github.com/druid-io/druid/pull/5413#discussion_r170607092

cc @kevinconaway

[2018-02-26 18:08] jihoonson commented on #5423
Duplicated with https://github.com/druid-io/druid/issues/2373.

[2018-02-26 23:56] akashdw opened #5427 "[Proposal] config to allow load segment to physical memory on load"
Seeing some of the  segments(roughly 30%) in in-memory tier are not loaded to memory as buffer cache and causing page-faults at the **query time**. In our setup, in-memory tier is backed by non-ssd disk which sometimes causes ~100-600 millis to load segments to memory.
After debugging I found there is no explicit `MappedByteBuffer.load()` call here https://github.com/druid-io/druid/blob/master/jav

[2018-02-27 00:39] leventov commented on #5427
What is "in-memory tier"?

[2018-02-27 00:55] jihoonson opened #5428 "Support retrying on failures for non-realtime ingestion"
An indexing task might fail due to various reasons, and one of them is node failures. If an indexing task fails due to node failures, it might be completed by reissuing the failed task on another node. In this case, it would be better if the overlord can resubmit failed tasks automatically without manual handling.

I'm thinking to introduce a new taskContext, called `retryCount`, to specify how ma

[2018-02-27 01:05] akashdw commented on #5427
@leventov took `in-memory-tier` word for granted, thanks for correcting me :). `in-memory tier` : tier of historicals where all the segments in a server can be kept to physical memory assuming as long as historical has about druid-process-memory + loaded_segment_size or more worth of ram.
In our setup `druid.server.maxSize=100G` and total memory available it around 140G.

[2018-02-27 04:58] #5423 closed

[2018-02-27 05:49] josephglanville commented on #5211
Big feature for us that isn't mentioned here yet is the new `parseBatch` API in `InputRowParser`.
This change allows an `InputRowParser` to emit multiple rows per message.

We are making use of this to eliminate a transformation that needed to happen prior to Druid ingestion. It also means that we can do reingestion from our raw input data without needing to have stored transformed intermediates f

[2018-02-27 07:34] Llinjing opened #5430 "Unbalanced segments loading"
Please see the picture of this link:
https://groups.google.com/forum/#!topic/druid-user/3xXiXceSVjo

For F1 tier, the first machine is double the utilization of other machines. This situation lasted for days . There is nothing wrong for Historical and coordinator log. Is this a bug?

[2018-02-27 08:13] Igosuki commented on #5211
Same for us Joseph

On Tue, Feb 27, 2018, 6:49 AM Joseph Glanville <notifications@github.com>
wrote:

[2018-02-27 08:41] nishantmonu51 commented on #5428
1. additional to task context, would be nice to support this via overlord config. would make configuration easy.
2. i am assuming after this change a transition of status from running -> failed -> running will be valid. Need to have way for user to know for a task with status failed, whether its going to be retried or not.

[2018-02-27 08:48] nishantmonu51 commented on #5430
can you check the configs of each node in this tier ?
Does each node have same config for druid.server.maxSize

[2018-02-27 08:53] nishantmonu51 commented on #5424
The start an end are now represented in UTC instead of user.timezone and this is as expected.
IMO, your queries should still be getting correct results.

[2018-02-27 09:18] Llinjing commented on #5430
Yes, the config of druid.server.maxSize is same. I have already checked

[2018-02-27 09:20] xianyinxin opened #5431 "KerberosHttpClient returns NULL FullResponseHolder which causes NPE"
When indexing, i got NPE in milleManager log, shown as fllows,
[code]
After some debugging, i found the fullResponseHolder is null which is get from the KerberosHttpClient. In KerberosHttpClient, authentication is passed but `result.getObj()` gives null.

[2018-02-27 09:27] xianyinxin opened #5432 "KerberosAuthenticator should replace _HOST for serverPrincipal when finding the server's key."
In KerberosAuthenticator, it cannot get the clientPrincipal because "Could not find matching key from server creds.". The reason it that the serverPrincipal is "HTTP/_HOST@realm", but in the keytab it is "HTTP/<the_real_host_name>@realm".

So should KerberosAuthenticator replace _HOST automatically for serverPrincipal?

[2018-02-27 13:20] adityab27 opened #5433 "Data changes during ingestion of Array<String> using druid-parquet-extensions"
I am using **druid-0.11.0**, with **druid-avro-extension:0.11.0** and **druid-parquet-extension:0.10.0** and **druid-hdfs-storage:0.11.0**.

My data contained a column which was of type `Array<String>`. If data for this column contained value `["str1", "str2", "str3"]` then after ingestion the same becomes` ["{\"element\": \"str1\"}", "{\"element\": \"str2\"}", "{\"element\": \"str3\"}"]`.

The ac

[2018-02-27 17:56] jihoonson commented on #5428
@nishantmonu51 thanks for your comment!

Good point. I'll add it.

I'm thinking to `retryCount` to taskStatus, so users can check how many times a task was failed before success via overlord's taskStatus API (`http://<OVERLORD_IP>:<port>/druid/indexer/v1/task/{taskId}/status`). Does it make sense?

Makes sense. I changed the title to `Support retrying on failures for non-realtime ingestion` becaus

[2018-02-27 21:38] gianm commented on #5428
I this this is a good direction to go -- it's nicer for Druid to take on retrying rather than to push the burden to users. However we need to try to do it right, and the main thing there imo is ensuring idempotency.

It is possible for tasks to have side effects and yet still fail (for example: it publishes and then immediately crashes before it can do final acts like uploading its log files). Thi

[2018-02-27 21:57] jihoonson commented on #5428
@gianm that's a good point. Maybe we need finer-granular task status tracking to avoid extra work.

[2018-02-27 22:02] gianm commented on #5428
@jihoonson I don’t worry too much about extra work, as long as the task does the correct thing. What I do really worry about is the possibilty of appending the same data twice due to retrying after some data had been published.

[2018-02-27 22:47] jihoonson commented on #5428
@gianm ah yeah, it's more important to make sure there is no duplicated work.

[2018-02-27 23:20] pjain1 commented on #5404
Docs can be updated if you are sure the problem in discussion is because of log compaction. I think some form of logging should be there indicating that offsets are being skipped, may be just count the number of skipped offsets and log it every X seconds and switch the current log to debug level if it logs too much.

[2018-02-27 23:26] gianm commented on #5404
@b-slim are you sure the issue reported in the thread is because of compaction? I don't see a reason why the user's topic would have been compacted. Also he said that when he turned off transactionality then he stopped having issues. It seems more likely to me that Kafka is playing some games and not returning messages for every single offset (e.g. when those messages are part of failed transactio

[2018-02-28 00:27] gianm opened #5436 "Security: Attach identity to queries made through the escalated client"
The patch #5330 attached an "identity" field to query metrics and request logs, but it's only set to the actual external user on the broker. On historicals, it's set to the Druid internal user, since the broker uses an escalated client to talk to historicals after verifying authorization. (It does this because it makes it possible to reuse a single connection pool for all users)

It would be bette

[2018-02-28 03:10] Llinjing commented on #5430
![lx_clip1519715851492](https://user-images.githubusercontent.com/20414903/36767473-9b6e5e1c-1c75-11e8-9be4-2c9d88cd79f0.jpg)

I have no idea on this issue. I am not  sure is this cost function bug. (Https://github.com/druid-io/druid/pull/2972). Or , it was due to extreme dynamic configuration of the coordinator ??

 Do you have any good solution?

[2018-02-28 06:32] saurabh3091 commented on #5433
I am also facing the same issue and its a blocker for us. Will really appreciate if somebody can provide an explanation/fix.
Regards

[2018-02-28 11:01] Llinjing commented on #5430
@leventov Do you know how to solve this problem?
Is it because maxSegmentsToMove value is too small (what i set is 10), resulting in coordinator synchronization is too slow ？

[2018-03-01 06:10] pavanab4u opened #5445 "[0.11.0] Time Parsing Extraction Function returning wrong WeekOfTheYear"
Time Parsing Extraction Function for input "20171231" returns wrong WeekOfTheYear as "2017-1" instead of "2017-52". Where as it is returning correctly for "20171230".

**Input**
[code]

**Output**
[code]

[2018-03-01 07:16] yaodwwy opened #5447 "must specify an absolute path but is ${env.JAVA_HOME}/lib/jconsole.jar"
Errors occurred while build effective model from C:\Users\Adam\.gradle\caches\modules-2\files-2.1\com.alibaba\druid\1.1.6\55ff28bd66de65a644a922ad8bca123d5e1826c3\druid-1.1.6.pom:
    'dependencies.dependency.systemPath' for com.alibaba:jconsole:jar must specify an absolute path but is ${env.JAVA_HOME}/lib/jconsole.jar in com.alibaba:druid:1.1.6
    'dependencies.dependency.systemPath' for com.ali

[2018-03-01 07:45] gianm commented on #5445
Hi @pavanab4u, I think you meant to do `YYYY-w` or `YYYY-ww` rather than `yyyy-w`. Y is year of weekyear and y is year of date. So if you did that then 20171231 would give you `2018-01` which does make more sense.

However there is another wrinkle- this formatter uses java's GregorianCalendar which is not strictly ISO: https://docs.oracle.com/javase/9/docs/api/java/util/GregorianCalendar.html#week

[2018-03-01 07:52] Hailei commented on #5419
You should define type information,add a field as following
"typeString": "struct<druid__time:timestamp,city_id:string,province_id:string,pv:bigint,duration:bigint>”

[2018-03-01 09:32] zhztheplayer opened #5449 "PullDependencies does not support http proxy."
Druid source code is not able to be built successfully when http proxy must be used.
The error is like following:
[code]

[2018-03-01 09:50] 13Homer commented on #5419
It is defined as a float:
"typeString":"struct<ts:date,dimension1:string,metric1:float>"
dimension is defined as a float too:
{ "name": "metric1", "type": "float" }
What am I missing?

[2018-03-01 09:55] nishantmonu51 commented on #4909
Hitting similar issue on travis in my fork - https://travis-ci.org/nishantmonu51/druid/jobs/347669365

@gianm Any thoughts, do we set any custom env variables to get around this ?

[2018-03-01 16:13] pavanab4u commented on #5445
Hi @gianm , makes sense, thanks!

[2018-03-01 16:44] nishantmonu51 commented on #4909
@gianm: Submitted a fix https://github.com/druid-io/druid/pull/5451

Its not an ideal one but works until we change calcite to not rely on System.properties.

Another fix would be to manually set proper encodings for calcite in druid pom.xml and travis.yml file.

[2018-03-01 18:41] gianm commented on #5445
Hi @pavanab4u - I also raised #5448 with a patch to add support for joda formats with ISO reckoning, which may also be interesting to you.

[2018-03-01 19:22] pavanab4u commented on #5445
Hi @gianm This is going to be helpful, thanks !

[2018-03-01 20:32] nishantmonu51 commented on #5447
seems like you are building some alibaba specific druid fork.
Please raise an issue on alibaba repo.

[2018-03-01 22:29] #4909 closed

[2018-03-01 22:33] nishantmonu51 commented on #5428
@jihoonson: Adding retryCount to the task status sounds good.

[2018-03-01 22:43] nishantmonu51 commented on #5428
One way to achieve idempotency and avoid duplicate data could be to add a publisher field to the metadata storage when publishing segments.

For tasks it can be the taskID, when the task is retried, the retry attempts can check whether there are any segments already published with the same task id or not. This has following assumptions though -
* TaskID is same for each retry attempt. We might nee

[2018-03-02 10:02] korablevalexander opened #5455 "animal-sniffer-maven-plugin: Failed to check signatures: Not in GZIP format"
I'm face a problem with `animal-sniffer-maven-plugin`. Look:
[code]
What's i'm doing wrong?

[2018-03-02 17:48] drcrallen opened #5457 "Peon, middle manager, and realtime node docs lack http setting information"
Oddly enough, https://github.com/druid-io/druid/blob/druid-0.11.0/docs/content/configuration/historical.md and https://github.com/druid-io/druid/blob/druid-0.11.0/docs/content/configuration/broker.md contain information about http tunings, but the other configs which use them do not contain any information.

It might make more sense to break off "global" like tunings into a separate config so the

[2018-03-02 18:42] leventov opened #5458 "RemoteTaskRunnerConfig/HttpRemoteTaskRunnerConfig equals() and hashCode() inconsistency"
`HttpRemoteTaskRunnerConfig` extends `RemoteTaskRunnerConfig` and adds more fields, but doesn't override `equals()` and `hashCode()`. While `RemoteTaskRunnerConfig` uses `getClass()` comparison in `equals()`, that breaks the substitution principle.

[2018-03-02 18:42] #5425 closed

[2018-03-02 18:55] gianm commented on #5458
I don't think it is universally accepted that strictly adhering to the substitution principle in Java is a good thing. Using getClass has a benefit: `x.equals(y)` may return true improperly if y's class extends x's class and adds more fields. They are really not equal in that case (y, with more fields added, is really a different kind of thing from x). For this reason I usually use getClass rather

[2018-03-02 18:56] gianm commented on #5458
I acknowledge that this is controversial, though: https://www.artima.com/intv/bloch17.html

[2018-03-02 19:12] leventov commented on #5458
The approach when there is no such controversal class extensions, and composition is used instead, leaves no surprises. As far as I understand, we use extension because we don't want to add another level of nesting in configs. I wonder if there is an option to "flatten" such nested entities in Jackson.

[2018-03-02 19:21] gianm commented on #5458
I think that's indeed the reason that HttpRemoteTaskRunnerConfig extends RemoteTaskRunnerConfig.

We could simply copy and paste rather than doing a subclass, but I think we want to reduce code duplication and the maintenance burden it adds. One compromise could be to do composition, but flatten manually in the new class's constructor. It creates some more code in the new class (a constructor is n

[2018-03-02 22:03] b-slim commented on #4605
https://groups.google.com/d/msg/druid-development/VEYkW_5dWd8/AKL6_uk5AwAJ

[2018-03-02 22:08] b-slim opened #5462 "Make Doubles aggregators use 64bits by default."
In good old days Druid Double Sum/Min/Max/First/Last Aggregators would aggregate double values during ingestion then this double aggregated value will be stored as a truncated float. Effectively you send to Druid a double number `x` and druid will store it as `(float) x` thus this can save 32 bits at the expense of more error accumulations/confusions.
PR https://github.com/druid-io/druid/pull/4491

[2018-03-02 22:48] korablevalexander commented on #5455
It's terrible, i'm scared this plugin.

[2018-03-02 22:53] jihoonson commented on #5455
Hi @korablevalexander would you try `mvn clean install -DskipTests`?

[2018-03-02 22:59] korablevalexander commented on #5455
It's produce the same error.

[2018-03-02 23:03] korablevalexander commented on #5455
It's forced to disable this plugin. But in ur Travis it's work. What is the difference?

[2018-03-02 23:34] gianm commented on #5455
The plugin isn't strictly needed right now -- its purpose is to verify that our code will run on older JVMs than the one we compiled with. It was useful when we used to compile on Java 8 and support both Java 7 and 8. But today we only support Java 8 at runtime. However, we might as well keep the plugin enabled, since it will help once we start compiling on Java 9 and supporting Java 8 and 9.

I h

[2018-03-02 23:52] b-slim commented on #5404
@gianm I thought Druid is using old consumer client that reads committed and uncommitted, so not sure why the consumer will not see a sequential order of offsets. Also according to my understanding commits are stored at Brokers and I don't think they get written on the log itself. The original claim says turned on exactly once am not sure what that means in practice I don't think there is such a f

[2018-03-02 23:56] gianm commented on #5404
Hmm, I don't know enough about how Kafka transactions work to know what to do. Is anyone listening to the thread that has enough Kafka expertise to know for sure if we should be expecting offset gaps in transactional topics or not?

Fwiw, we are using the new consumer API, kafka-clients version 0.10.2.0.

[2018-03-03 00:00] b-slim commented on #5404
Transaction is 0.11 https://issues.apache.org/jira/browse/KAFKA-4815.

[2018-03-03 01:34] gianm commented on #5462
I am gonna move this to 0.13.0 as we have been discussing on the list.

[2018-03-03 03:59] #5445 closed

[2018-03-03 12:52] korablevalexander commented on #5455
I'm already on maven 3.5.2. I tried clean local repository but it has no effect.

[2018-03-03 13:31] korablevalexander commented on #5455
I solve this problem by flush cache and building druid without our private proxies of public repos. I'll try to understand the true cause of this error.
Now forbiddenapis fails on druid-sql
[code]
I'm on tag druid-0.11.0.

[2018-03-03 13:53] korablevalexander commented on #5455
`mvn clean` solve it.

[2018-03-03 17:02] korablevalexander opened #5466 "PortFinder should treat SocketException as port used instead of BindException"
PortFinderTest fail with
[code]
Semantically this situation means that port is used. Maybe type of exception is system or jvm dependent, i'm face it on linux 4.9.80 and java 1.8.0_152-b16.

[2018-03-03 17:13] korablevalexander commented on #5466
pr https://github.com/druid-io/druid/pull/5467

[2018-03-03 19:06] #5455 closed

[2018-03-05 21:55] gianm opened #5468 "SQL: Fix assumption that AND, OR operators are binary"
We'll get ones that are nonbinary inside a query like:

[code]

Originally reported in https://groups.google.com/d/msg/druid-user/tPuxE_6nrHI/IaMkeOKLAAAJ.

[2018-03-06 00:27] #3007 closed

[2018-03-06 00:59] jon-wei commented on #5466
Fixed by #5467

[2018-03-06 00:59] #5466 closed

[2018-03-06 02:56] #5468 closed

[2018-03-06 02:56] #5337 closed

[2018-03-06 07:01] steliangroza commented on #4915
Is that issue fixed in 0.11 version? We encounter topN issues with the aggregation results in 0.11 version when multi-valued dimension is null and I am wondering whether is related to this bug or not.
Thanks,
Stelian

[2018-03-06 09:32] sascha-coenen commented on #5304
Hi zhangxinyu1,

thank you so much for pushing for this feature. I've been wanting this for a long time and tried to raise awareness for it. This feature is definitely needed. I don't even understand how one can do without it.
I read the comments from the previous proposal.
Let me add a few things to those.
* It was being said that the idea of such a mechanism isn't new and it was mentioned that V

[2018-03-06 11:35] bendrecm commented on #4841
Is anyone able to solve this issue ? I encountered this while deploying Druid in Mumbai AWS region. There were no issues in Ireland region.

[2018-03-06 12:50] Brijak0 commented on #4385
I had the same issue rahulsingh303, when setting druid up for test in a relatively small node (small in RAM) in a cluster, but changing druid.processing.buffer.sizebytes to 256 MB made it work for me.

[2018-03-06 18:29] jihoonson commented on #4841
Hi @bendrecm, I've been done several tests against several Hadoop versions on #5382, and S3A shouldn't work because of the version mismatch of `aws-java-sdk` between Hadoop 2.7 and Druid. AFAIK, using S3N is the easiest workaround if you don't much care about performance degradation. Or, if you want to use S3A, another possible workaround is building a customized `hadoop-aws.jar` which shades aws

[2018-03-07 14:46] andresgomezfrr commented on #4011
Hi @gianm ,

Do you know if someone is working on "last aggregator at indexing time" ??

I'm interested in this feature .. and maybe I will start the development.

[2018-03-07 22:06] TwojaWina opened #5473 "Queries with UNION do not work in Druid SQL"
<img width="661" alt="screen shot 2018-03-07 at 1 37 23 pm" src="https://user-images.githubusercontent.com/9752231/37120944-ae919b8a-2210-11e8-92fc-106d00ec4bd8.png">

And in the Broker log we got following error :

2018-03-07T21:37:20,888 WARN [qtp570017514-169] io.druid.sql.http.SqlResource - Failed to handle query: SqlQuery{query='select * from (
SELECT COUNT(*) FROM (
select id as trump4id fro

[2018-03-07 23:05] #5449 closed

[2018-03-08 06:18] ebolwidt commented on #5404
I added more detail to the Google groups topic. In particular,

Kafka KIP-98 for transactions:

https://cwiki.apache.org/confluence/display/KAFKA/KIP-98+-+Exactly+Once+Delivery+and+Transactional+Messaging

Look at section 5.2 of that KIP "5.2 WriteTxnMarkerRequest"

It's also mentioned in https://www.confluent.io/blog/transactions-apache-kafka/ (Search for "transaction commit markers").
I believe

[2018-03-08 06:28] ebolwidt commented on #5404
Interested but time-constrained. I'll look into it at home as work infrastructure doesn't allow me to run the docker-based integration testsuite.

[2018-03-08 15:54] #4746 closed

[2018-03-09 04:40] liumaobudao opened #5474 "com.alibaba.druid.sql.parser.ParserException: TODO : DOT su1"
com.alibaba.druid.sql.parser.ParserException: TODO : DOT su1
	at com.alibaba.druid.sql.dialect.oracle.parser.OracleStatementParser.parseStatementList(OracleStatementParser.java:462)
	at com.alibaba.druid.sql.parser.SQLStatementParser.parseStatementList(SQLStatementParser.java:79)
	at com.alibaba.druid.sql.parser.SQLStatementParser.parseStatementList(SQLStatementParser.java:74)
	at com.alibaba.drui

[2018-03-09 04:42] liumaobudao commented on #5474
[ERROR] 2018-03-09 11:27:53,311 com.alibaba.druid.filter.stat.StatFilter.mergeSql(StatFilter.java:147) - merge sql error, dbType oracle, sql : select CONNECT_BY_ROOT(su1.id) as id from sys_unit su1 where EXISTS (select 1 from sys_user suu where su1.id=suu.unitid and suu.id='b84f830ccc9e46e6a6c4add795c423ac') start with su1.type='sch' connect by prior  su1.id=su1.parentid
com.alibaba.druid.sql.pars

[2018-03-09 05:39] xvrl commented on #5404
@ebolwidt @gianm @b-slim with transactional producers you can no longer expect data message offsets to be sequential. Control messages (used for transaction markers) take up their own offsets. Applications, however, never see those offsets, because they either get filtered out on the broker (when down-converting for older clients) or on the client (during transaction processing).

Switching to 0.1

[2018-03-09 08:42] leventov commented on #5474
Report at https://github.com/alibaba/druid.

[2018-03-09 08:42] #5474 closed

[2018-03-09 14:08] leventov opened #5475 "Make AggregatorFactory an interface"
It was made an abstract class to add some methods (pre Java 8 default methods in interfaces). For stable API it's better to switch back.

[2018-03-09 16:37] abhijoshi4695 opened #5476 "Hive Druid Handler not loading data from Hive to Druid"
Hive version - 2.3.2
Hadoop version - 2.7.5
Hive Druid Handler version - 2.3.2
Druid version - 0.11.0

This is a standalone setup on a single machine. We are able to pull Druid datasources into Hive. But, we are not able to push data from Hive to Druid. The issue seen is:
`Caused by: org.apache.hadoop.hive.ql.metadata.HiveException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.NullP

[2018-03-10 18:43] vvc11 commented on #5368
Hi @drcrallen , I tried to check the behaviour with the test cases that were written in DatasourceResourceTest. The returned result seems consistent with the expected one. Here's the [link](https://github.com/vvc11/druid/pull/1/commits/b35545e291d222c9f3db948eddfe286bbc79cb83) to the commit. Please let me know if anything's missing
Thanks

[2018-03-11 00:54] gianm commented on #5462
@b-slim 0.13.0 is due to be code frozen soon -- please do the PR soon if you want it to get in!

[2018-03-11 01:55] korablevalexander commented on #1346
It about this case:

1. Druid task was killed(shut down through Overlord api?) and down mind don't mind about any Hadoop stuff.
2. Hadoop know nothing about Druid and has no reason to kill task?

[2018-03-12 09:40] pluppens commented on #4915
Looks like this is fixed in #5278 via commit 219e77aeac9b07dc20dd9ab2dd537f3f17498346, so it'll be present in the 0.13 release.

[2018-03-12 13:09] fmarelli opened #5480 "SQL: not in operator can cause NullPointerException"
The query below returns NullPointerException, it works ok if 'not in' at line 3 is changed to 'in'
[code]
Error stack trace
[code]

[2018-03-13 05:13] #5331 closed

[2018-03-13 08:16] #5377 closed

[2018-03-13 14:50] harksin opened #5481 "Compaction Task route [0.12.0]"
Hello,

I have trouble with your new compactionTask Feature.
as it is described [here](http://druid.io/docs/latest/design/coordinator.html#http-endpoints) I tried to access (get or post) :
[code]
However coordinator always gives a 404. in debug mode there is the following trace.
Do you have any idea about what i have missed ?

[code]
`ip replaced with 0.0.0.0`

[2018-03-13 15:35] harksin commented on #5481
hi it sounds like this class `CoordinatorCompactionConfigsResource` is not present on branch [0.12.0 branch](https://github.com/druid-io/druid/tree/0.12.0/server/src/main/java/io/druid/server/http)
But we found it on [master](https://github.com/druid-io/druid/blob/master/server/src/main/java/io/druid/server/http/CoordinatorCompactionConfigsResource.java) do you agree ?

[2018-03-13 16:27] jihoonson commented on #5481
Hi @harksin, thanks for reporting this. Automatic compaction by coordinators is not included in 0.12.0, but will be included in our next release. Looks like there is a problem in our documents. In the meantime, you can use [compactionTask](http://druid.io/docs/latest/ingestion/tasks.html#compaction-task).

[2018-03-13 16:54] gianm opened #5482 "SQL: Support spatial filters"
Druid spatial filters currently support point-in-polygon and point-within-radius. I think that means we could expose these in SQL using OpenGIS (https://calcite.apache.org/docs/spatial.html) functions ST_Intersects and ST_DWithin.

- https://postgis.net/docs/ST_Intersects.html
- https://postgis.net/docs/ST_DWithin.html

[2018-03-13 21:41] pdeva commented on #5211
any reason to keep this issue open now that 0.12 is released?

[2018-03-13 21:58] #5211 closed

[2018-03-14 00:03] niketh opened #5485 "Query fails because of potential bug in HTTPPostEmitter"
Queries fail will the following stacktrace @leventov

[code]

[2018-03-14 00:04] niketh commented on #5485
Created a PR so that emitter failures don't lead to query failures https://github.com/druid-io/druid/pull/5484 . Root cause in HTTPEmitter still needs to be identified and fixed

[2018-03-14 01:41] julianhyde commented on #5482
Makes sense. See also work-in-progress https://issues.apache.org/jira/browse/CALCITE-1861 and https://github.com/julianhyde/calcite/tree/1861-spatial. We recognize queries with ST_DWithin and convert them to use materialized views on Hilbert curves. There are several ways to say the same thing using the OpenGIS function set (e.g. ST_DWithin vs ST_Buffer), so over time the rules will grow. Maybe Dr

[2018-03-14 02:22] gianm commented on #5482
Would it make sense for Calcite to have some utility functions or rules that projects like Druid could use to help convert GIS functions into spatial filters? Or do you think the usages going to end up being too different?

[2018-03-14 03:15] quenlang commented on #5211
@josephglanville  @Igosuki
I did not find any desc in the 0.12.0 doc,  any advice give me ?

[2018-03-14 08:33] Fokko commented on #5211
@quenlang What are you looking for? The description of the changes of 0.12.0 is here: https://github.com/druid-io/druid/releases/tag/druid-0.12.0

[2018-03-14 10:22] harksin commented on #5481
Thanks @jihoonson. I would use CompactionTask manualy for now.  Do you have any ETA for your next release ? Can I help to release this feature soon ?

[2018-03-14 14:01] quenlang commented on #5211
@Fokko Thx. i had read this release note.  but i want to konw how to use this feature ?
Is there any detail configurations or usage examples of kafka index service in the 0.12.0 doc ?

[2018-03-14 17:13] gianm opened #5487 "ApproximateHistogram: Better quantile estimation for first bin"
The approximate histogram based quantile estimator works by building up a set of bins `(value, count)` and attempting to capture a decent amount of the distribution.

Currently, due to the following code, if the requested quantile falls in the first bin, then the minimum value is returned. This can mean that if your resolution is set too low, even if you ask for a high quantile (like 98%), you'll

[2018-03-14 17:36] leventov commented on #5485
Yes, this is a bug. I will create a PR.

[2018-03-14 17:46] gianm commented on #5347
@clintropolis has been looking at adding new integer encodings for the data section of string columns and has run into confusion as well about the best way to extend the current system.

@clintropolis - maybe you can suggest some ways to improve it based on your experience doing this investigation?

[2018-03-14 21:40] leventov commented on #5485
#5488

[2018-03-14 21:49] leventov commented on #5485
Also @niketh the fact that you hit `HttpPostEmitter.limitBuffersToEmitSize()` means that your emitting service doesn't keep up with the rate of emitted events, and they are dropped. You may want to adjust HttpPostEmitter configurations, or look at it's metrics.

[2018-03-14 22:24] leventov opened #5491 "Merge HttpEmitterSSLClientConfig into HttpEmitterConfig"
Is it going to be a compatible change?

[2018-03-14 22:28] jon-wei commented on #5491
I'll take a look at this

[2018-03-15 02:06] samarthjain opened #5493 "Segment filtering should be done by looking at the inner most query of a nested query"

[2018-03-15 02:07] samarthjain commented on #5493
[5493.txt](https://github.com/druid-io/druid/files/1813764/5493.txt)

Patch file with fix and test case attached.

[2018-03-15 02:09] samarthjain commented on #5493
@jihoonson, @gianm  - as part of working on https://github.com/druid-io/druid/pull/5471/, I discovered this issue with nested queries. When you get a chance, can you please take a look? Thanks!

[2018-03-15 03:58] jihoonson commented on #5493
@samarthjain is the attached patch is for #5471? If so, you can simply push more commits to your repository. It will be reflected automatically to your PR.

[2018-03-15 04:25] samarthjain commented on #5493
@jihoonson, the patch is not related to 5471. It looks like a bug in general.

[2018-03-15 05:02] jihoonson commented on #5493
@samarthjain oh nice! Then, would you make another PR for this issue? It would be much better to review your work.

[2018-03-15 07:23] bigzt opened #5495 "Is there a way that i can push historical data into druid over http?"
I have an IOT project. Sometimes the IOT device may lose the network and will re-transfer the historical data and real-time data when reconnecting to the server. I know the Druid can ingest real-time data over http push/pull and historical data over http pull or KIS, but i can't find the document about ingesting historical data over http push.

Is there a way that i can send historical data into d

[2018-03-15 07:24] samarthjain commented on #5493
Created https://github.com/druid-io/druid/pull/5496

[2018-03-15 08:15] erankor opened #5497 "Override value of count aggregator"
Hi all,

We're using a count aggregator in most of our data sources, once in a while we get a request to migrate a set of events from some external system. We get these events aggregated, so that a single row represents multiple events.
In order to get the correct count metric, I was thinking about one of -
1. Generate duplicate input rows according to the aggregated count - naturally this would b

[2018-03-15 14:06] harksin opened #5498 "overloard duplicate key [Kafka Indexing Service][0.12.0]"
Hi

I Used kafka indexing service from few month without trouble.
today all task failing,with this log :
[code]

[2018-03-15 18:22] jihoonson commented on #5481
The feature freezing for our next release is scheduled on around April 7. After that, we will create release candidates. Release candidates include all available features in our next release, but there might be some bugs. So, we will do some tests for a while. You can also try release candidates.

[2018-03-15 18:28] will-lauer opened #5499 "Document quantile sketches"
Druid 0.12 added support for quantile sketches, but they don't appear to be documented in the datasketches extensions page. The only way to understand how to use them is to read the API doc and the source.

[2018-03-15 18:37] b-slim commented on #5499
yeah, it is sad! I have been asking Sketch devs to add some basic docs examples but nothing is happening, I guess writing docs is not glorious...
https://github.com/druid-io/druid/pull/5148#issuecomment-361965095

[2018-03-16 13:00] Sarvesh1990 commented on #4345
Hey. Can I take up this issue? I have recently started using druid in one of my project and really liked the product. I am new to open source so don't want to pick something big at this stage.

[2018-03-16 16:01] gianm opened #5502 "IndexOutOfBoundsException in CompressedVSizeColumnarIntsSerializerTest"
The error looks suspicious. Noticed this in #5501, which wasn't changing anything related to this code.

From https://travis-ci.org/druid-io/druid/jobs/354176323:

[code]

[2018-03-16 16:11] gianm commented on #4345
Hi @Sarvesh1990, definitely!

For the first thing (number of merge buffers allocated), that should probably be the number of merge buffers outstanding at a point in time. For an example of another metric that does this, check `jetty/numOpenConnections` in JettyServerModule. And then consider adding something similar to DruidProcessingModule.

For the second thing (amount of time spent waiting for

[2018-03-16 19:28] gianm commented on #5497
Hi @erankor, the usual way to do this is (2): using longSum and adding a `"count": 1` to the regular events.

[2018-03-16 19:59] erankor commented on #5497
Thanks @gianm

[2018-03-16 21:05] jihoonson commented on #5493
Close via #5496.

[2018-03-16 21:05] #5493 closed

[2018-03-18 10:47] erankor commented on #5497
@gianm, a follow up question - if I change my schema now from count to longSum, so that new segments will be indexed with longSum while old segments were indexed with count, is it expected to cause any issue? (e.g. will a query that spans across the two types return the correct result)
My guess is that count gets translated internally to longSum, and if that is the case, a segment created with cou

[2018-03-19 03:34] zhztheplayer opened #5503 "[Proposal] A new HTTP endpoint to check completed queries."
The proposal is to discuss the possibility of intruducing a new http endpoint representing completed query details.

Current query metrics emitting system is very good for query monitoring, but still not enough when users would like to check the details of completed queryies.

Maybe adding a new HTTP path '/druid/v2/history/' to broker node is worth to be considered. To provide this feature, query

[2018-03-19 09:58] erankor commented on #5497
@dragonls, it's the other way around, the old segments use count aggregation, so it doesn't matter that the events don't have the `count` field (it will only be problematic if I will reindex them with the new schema).
For new segments, I will make sure to add the `count` field to the JSONs before I update the schema to longSum.
The question was whether segments that were ingested with longSum are

[2018-03-19 13:54] dragonls commented on #5497
@erankor The results are not the same.
The result using count may be smaller than that using longSum. The records with the same dimensions in one segment will be count just as 1.

[2018-03-19 15:27] a2l007 opened #5505 "Add getters for AlertEvent"
Specific getter methods (getService() and getDataMap()) for AlertEvent were removed as part of #5461
https://github.com/druid-io/druid/blob/master/java-util/src/main/java/io/druid/java/util/emitter/service/AlertEvent.java
Our internal alerting extension makes use of these methods and consequently they have started failing. If the only reason for the removal was their non-usage, can we get them add

[2018-03-19 18:08] jihoonson commented on #5481
The doc has been updated. I'm closing this issue.

[2018-03-19 18:08] #5481 closed

[2018-03-20 03:09] jihoonson opened #5506 "NPE while processing taskAnnouncement in RemoteTaskRunner"
Introduced in #5260.

[code]

[2018-03-20 17:58] #2845 closed

[2018-03-20 19:47] jihoonson opened #5507 "Credentials provider for S3 proxy configuration"
https://github.com/druid-io/druid/pull/5382 introduced a new proxy configuration for S3. We need to add a credentials provider for it similar to AWSCredentialsProvider or PasswordProvider for metastore.

[2018-03-20 20:26] almariah opened #5508 "Curator leader election loop"
We have 3-node zookeeper cluster. If the leader has a problem for some reason, the overlord fails with this error. It needs to be restarted. Our druid version is old (druid-0.9.2). Could anybody explain the reason for this error. Will it be fixed with upgrading druid?

[code]
and

[code]
[code]

[2018-03-20 22:12] jihoonson commented on #5506
Looks that this happens only when there remain some tasks in ZooKeeper, but not in Overlord. This can happen if the overlord is restarted.

[2018-03-21 11:46] indrekj opened #5512 "Compaction Task failing"
Druid Version: 0.12.0

Compaction task worked fine for 2017-02 to 2018-03. We're changing hourly/daily segments to monthly segments. Segments 2016 to 2017-02 is failing with:
[code]

[2018-03-21 21:04] jihoonson commented on #5512
Hi @indrekj, thank you for the reporting. That error might happen if there is no corresponding metadata files (`metadata.smoosh` or `metadata.drd`) for segments. Which version of segment format are you using?

[2018-03-21 21:50] leventov commented on #5505
`AlertEvent` is not marked as `@PublicApi`. It could be, but other committers should agree on that.

[2018-03-21 21:56] gianm commented on #5505
I could see a good argument for making AlertEvent, ServiceMetricEvent, and RequestLogEvent public APIs. It's useful to poke at them in emitter extensions.

[2018-03-21 22:13] AlexanderSaydakov commented on #5499
https://github.com/druid-io/druid/pull/5513

[2018-03-21 22:26] jihoonson commented on #5404
@xvrl thanks, good to know.

IMO, it sounds good to me to trust Kafka more and remove our sanity check if there is no way to figure out which offsets are taken up by control messages.

[2018-03-21 22:36] #4289 closed

[2018-03-21 22:40] xvrl commented on #5404
@jihoonson One thing we can check for though is to make sure that offsets haven't moved from where we expect the to be if we for whatever reason we have to re-create the consumer in the same consumer group (e.g. maybe on task restart). This would avoid losing data in situations where offsets were reset for some reason.

[2018-03-22 04:53] jihoonson commented on #5304
@zhangxinyu1 first of all, I really apologize for late response. I has been quite busy and forgot about this issue. Sorry.

The updated proposal looks very good to me. Especially the query optimization part sounds good enough as a first step. Regarding the management of derivedDatasources, I have some comments.

The segment granularity of the base dataSource can be changed. For example, [compactio

[2018-03-22 09:20] indrekj commented on #5512
An example of a segment:
[code]

Given index.zip has `00000.smoosh`, `meta.smoosh` and `version.bin` inside it.

`meta.smoosh` content:
[code]

`xxd -p version.bin` content: `00000009`

[2018-03-22 09:34] Llinjing opened #5515 "Is Bug ? Kill tasks does not delete segments from HDFS"
my kill segments json is:
[code]
This task was successful, but the hdfs file was not deleted. Is this a bug? This deletes a folder that needs to be recursively deleted, but the parameter passed in is “false“ and recursive deletion is not allowed.

![clipboard](https://user-images.githubusercontent.com/20414903/37762355-01180c4e-2df7-11e8-95fd-28f9aadad7af.png)

Whether this parameter should be cha

[2018-03-22 10:41] sixtus opened #5516 "Update to Kafka 1.0.1 in kafka-indexing"
The dependency is still on 0.10 and I don't see any argument for keeping it at that version.

I tried upgrading the version in pom.xml, it compiles, but the tests timeout. I currently don't have the time to debug it, so I thought I open a ticket and see if it's obvious to someone else.

[2018-03-22 14:51] a2l007 opened #5517 "Refactor ClientQuerySegmentWalker to fix fluent workflow violation"
Related to #5028
`makeRunner` inside `ClientQuerySegmentWalker` is designed to follow a fluent workflow but currently the usage of `ResultLevelCachingQueryRunner` does not completely adhere to this workflow.
Refactoring it to a fluent workflow is currently hindered by the nature of dependency between `druid-processing` and `druid-server` . `FluentQueryRunnerBuilder` which resides in `druid-process

[2018-03-22 14:56] gianm opened #5518 "Store lookups-cached-global data on disk for more reliable startup"
Since the changes to block startup on lookup load in 0.11.0 (which are good for consistency) we have a new problem: the lookups-cached-global extension may block startup for an excessively long time, or indefinitely, if an external service it queries is unavailable. This is particularly noticeable with JDBC lookups although it can happen with other types as well. It would be better if they stored

[2018-03-22 18:53] jihoonson opened #5520 "Support optionally specifying metricsSpec for compactionTask"
Related to https://github.com/druid-io/druid/issues/5512.

CompactionTask internally generates an indexTask spec using metadata of segments, especially metricsSpec. However, this causes an error if it doesn't exist (it's possible in older versions of segment formats).

Supporting optionally specifying metricsSpec can help to avoid this error.

[2018-03-22 18:54] jihoonson commented on #5512
@indrekj thanks for posting them. ```CompactionTask``` internally generates an indexTask spec using the metadata of existing segments. The metadata is stored in `xxxxx.smoosh` file and `metadata.drd` is seen in `meta.smoosh` file which represents the position of metadata in `xxxxx.smoosh` file. This is valid for only directly created V9 segments. If you converted segment versions using a sort of c

[2018-03-22 19:01] clintropolis opened #5521 "Coordinator rule runner and balancer can trample on each other, often producing unstable/undefined results, particularly when cluster is heavily imbalanced"
TL;DR The deeper the load queue, the less likely a historical is to actually retain segments it is told to load because of some bugs and competing coordinator logic. Assigning and moving segments is done with the balancer, which makes segment placement decisions taking into account the load and drop queues of servers. Dropping segments is done considering solely the ideal state of all historicals

[2018-03-22 21:36] erankor commented on #4544
@kalyanjanaki, the commands above were not executed on EMR servers, they were executed on Druid servers, and we're installing Druid on Ubuntu

[2018-03-22 22:25] churrodog commented on #5203
Anyone have an update on this issue?

[2018-03-22 22:27] kalyanjanaki commented on #4544
Hello Erankor,

Thanks for your response.  My questions might seem silly please bear with me.

 So you have  installed  Druid on separate nodes than Hadoop nodes. In that case does Druid have Hadoop client installed with in its installation ? Do we have to setup password less sssh from Middlemanager servers to Our  EMR cluster ? because  for hadoop client application to work there should be passwo

[2018-03-22 23:44] jihoonson opened #5523 "Refactoring classes representing task status"
Today, `TaskStatus` is widely used in many places, e.g., 1) to return the result of task processing from peons to overlords, 2) to keep track of running tasks in overlords, 3) as a return value of overlord APIs to get the current task status, and so on. This has some issue like below.

- Lack of information in `TaskStatus`: `TaskStatus` is a simple POJO including a `taskId`, `taskState`, and `dura

[2018-03-23 06:18] erankor commented on #4544
No, Druid nodes don't need to ssh into Hadoop nodes, I think they communicate over port 8020

[2018-03-23 16:36] leventov opened #5526 "Simplify index merging algorithm"
Current process seems to be overcomplicated.

The current steps:

 1) Produce per-index bitmaps, using unsorted per-index encoding and per-index row numbers: `IncrementalIndexAdapter.processRows()` (called from `IncrementalIndexAdapter` constructor)
 2) Sort per-index dictionary. See `StringDimensionIndexer.SortedDimensionDictionary`: it has three O(N)-sized structures: for
   a) sorted-to-unsorte

[2018-03-23 16:50] drcrallen opened #5527 "Curator Announcer shuts down executor is is passed."
https://github.com/druid-io/druid/blob/druid-0.12.0/server/src/main/java/io/druid/curator/announcement/Announcer.java#L148 there is a shutdown call here for the executor which is passed in. The announcer should only manage resources it is passed, and the constructor should be the one managing the executor lifecycle.

[2018-03-23 17:10] kalyanjanaki commented on #4544
Hello Erankor,

Thanks for your writeup.  You made by day. I was able to fix issue with your steps.  Many thanks.

Regards
Kalyan

[2018-03-23 18:38] RestfulBlue commented on #5526
Hello,

in our company we make extensive use of hadoop. One of our last tasks was the construction of monitoring. We considered a huge number of options(opentsdb,prometheus,clickhouse,etc). One of our final candidates was the druid. It fits perfectly into our ecosystem. The only problematic point was the insertion speed. It is very appropriate for us to increase the speed with which we can write.

[2018-03-23 18:48] leventov commented on #5526
@RestfulBlue it was discussed in various forms before, see #2654, #2965, #106. Yes it would be nice in theory, but it's not fully implemented at this point. However, #5402 was just merged (allows to disable bitmap indexes), maybe it will satisfy your goals.

[2018-03-23 19:41] erankor commented on #4544
Great! glad to hear :)

[2018-03-23 19:58] jon-wei commented on #5526
Hm, there is an intermediate persist to disk step, I don't think the IncrementalIndex is ever merged with other indexes directly.

IncrementalIndexAdapter is only created as a result of a persist() call, which in turn calls merge() but with only a single IncrementalIndex, this happens when indexing tasks persist their current IncrementalIndex object with partial data to disk.

When the partial res

[2018-03-23 20:20] leventov commented on #5526
@jon-wei note that

 - That individual index persist to a segment step pretty much doesn't optimize anything that I explained in the steps 1)-6). So it still creates all those structures, which often in fact do identity conversion. It could be optimized, but it means adding even more complexity than we have now.

 - I don't remember exactly how incremental index operates, probably it needs to pers

[2018-03-23 20:26] gianm commented on #4349
I'm not sure where to bring this up, so I'll do it here.

I was reading through the null handling code and started thinking that it doesn't make sense for `druid.generic.useDefaultValueForNull` to determine indexing time behavior. IMO the system-wide setting should really only control query-time behavior. And what it should do is simple: if it's true (the default) then:

1. Nulls and empty strings

[2018-03-23 23:14] b-slim commented on #5526
@leventov  is this part of https://github.com/druid-io/druid/issues/4622? If yes can we add some pointers to help navigations between proposals and actual code merging?

[2018-03-24 00:26] jon-wei commented on #5526
To make sure I'm understanding correctly, the proposed new implementation would look like this example?

Index 1 to merge
-------------------
Unsorted dict:
horse -> 0
aardvark -> 1
whale -> 2
flamingo -> 3
monkey -> 4

Conversion buffer:
[1, 0, 3, 4, 2]

rows:
{ts=1, x=0}
{ts=2, x=1}
{ts=3, x=2}
{ts=4, x=3}
{ts=5, x=4}

Index 2 to merge
-------------------
Unsorted dictionary:
mantis -> 0
snake -

[2018-03-24 00:57] gianm opened #5530 "SQL: Support union dataSources"
Union dataSources are unsupported in SQL, but they are useful. I'm not sure what the proper SQL is for this. Maybe something like `SELECT xxx FROM (SELECT * FROM ds1 UNION SELECT * FROM ds2) GROUP BY xxx`?

[2018-03-24 01:26] clintropolis opened #5531 "Coordinator primary replicant assignment over assigns segments until loaded"
Following up on investigation detailed in #5521 we noticed another issue, this time involving segment primary replicant assignment behavior. Changes introduced in #4757 appear to have inadvertently changed the behavior of replica assignment to now cause the coordinator to assign a primary replicant to _every_ eligible historical in the cluster until either one of the historicals have loaded the se

[2018-03-24 02:15] drcrallen commented on #5503
Commented in https://github.com/druid-io/druid/pull/5514#issuecomment-375727112 : Can this be accomplished by a https://github.com/druid-io/druid/blob/druid-0.12.0/server/src/main/java/io/druid/server/log/RequestLogger.java ?

[2018-03-24 09:49] ericgogh commented on #5203
@jihoonson I try version 0.12.0 still has the problem.

[2018-03-24 11:28] zhangxinyu1 commented on #5304
@sascha-coenen thanks for your approval.
I'm working on implementing this feature. I'm thinking about how to call it, materialized view selection and maintenance or cuboid selection and maintenance, do you have any suggestions?

This is a good idea, It can reduce the cost of data merge on broker. I will try to add this feature in the future.
I will come up with a pr about this feature in few days.

[2018-03-24 12:00] zhangxinyu1 commented on #5304
@jihoonson thx for your comments, I will submit a pr in these days. I already implement this function as following:

- About the segment granularity, I generate data of derived datasource based on hadoop-index-task, and the segment granularity is the same with base datasource. There are two reasons why I implement it like this:
1. To make sure the segment versions of base datasource and derived da

[2018-03-24 16:00] leventov commented on #5526
@b-slim this issue is not related to #4622.

[2018-03-24 16:21] leventov commented on #5526
@jon-wei

Yes, that's the problem. Now I see it. It isn't probably a problem when dimensions for which bitmaps are constructed have reasonable cardinality, but in the worst case, when the cardinality is comparable with the total number of rows (like building bitmaps by the "requestId" dimension), it will increase memory usage of merging process dramatically. **So the algorithm that I proposed is n

[2018-03-24 16:37] leventov commented on #5526
See `DictionaryMergeIterator`'s `useDirect` parameter. I couldn't find the commit where it was introduced, maybe it existed from the inception of this algorithm. Anyway, it doesn't matter, because it seems that creating this structure is the lesser evil, so couldn't be avoided (unless the merged index is non-persisted incremental index, see step 4. in the updated algorithm proposal above.)

[2018-03-24 22:56] jihoonson commented on #5304
@zhangxinyu1 it sounds great that you're already working on this! Your explanation sounds good to me overall, but I have one question.

Does this mean that the segment version of base dataSource and derived dataSource are literally same? Would you elaborate more on how you could do this? I'm asking because our segment versioning system is already quite complicated and I hope we don't need to add a

[2018-03-24 23:55] jihoonson commented on #5203
@ericgogh sorry, I've forgotten this issue.. I found a bug that `forceHashAggregation` in queryContext is not respected and raised https://github.com/druid-io/druid/pull/5533. In the meantime, you can set `forceHashAggregation` in your [config](http://druid.io/docs/latest/querying/groupbyquery.html#advanced-configurations).

Also, the above error means you need more memory. Please note that you se

[2018-03-25 13:21] zhangxinyu1 commented on #5304
Since I can get the max created_date of base datasource segments of specified interval, and it will change as the base segments change, then I use it as the version of derived segment of the specified interval. And I add a derived datasource supervisor to control these. Once the base segment changes, supervisor will find the version of derived segment is different with the max created_date of base

[2018-03-25 16:50] jihoonson commented on #5304
@zhangxinyu1 ah sorry! My question was a little bit vague.

My question is, how will you implement the segmentAllocator to use the same segment version of the base dataSource for the corresponding derived dataSource. Do you assume that any types of tasks can't overwrite/append the derived dataSources unless they are submitted by the derived dataSource supervisor? I think it might be a valid assump

[2018-03-26 02:05] xqinghu opened #5534 "gzip compression level"
It is recommended to set the gzip compression level to 1 or configurable.

https://github.com/druid-io/druid/blob/ec17a44e0983cd6391ba9f60a1c5571a59595b0a/server/src/main/java/io/druid/server/initialization/jetty/JettyServerInitUtils.java#L43

[2018-03-26 02:17] zhangxinyu1 commented on #5304
@jihoonson
Any types of tasks can overwrite/append the derived dataSource.  Derived datasource supervisor submit hadoop-index-tasks to generate data. In the `HadoopTuningConfig `of hadoop-index-task, version is the max created_date and 'useExplicitVersion' is true.

[2018-03-26 08:24] nishantmonu51 commented on #4349
@gianm :
If the user says x is INT NOT NULL, and user tries to insert null values, then i think for SQL the insertion fails the NOT NULL constraint and would fail. However, in case of druid nulls are replaced with default values silently.

IMO, the system wide config is more of kind of backwards compatibility thing, which will be removed in future releases when we fully move to SQL compatible beha

[2018-03-26 09:17] liubiggun commented on #3851
Any progress？

[2018-03-26 13:20] jkukul commented on #4835
Could `0.10.1` release notes be updated with a statement like:
Query extensions must be removed from the list of extensions on non-query nodes (coordinator, overlord).

This would save some trouble for users upgrading from `0.10.0` (and earlier).

[2018-03-26 15:36] jorditamargo opened #5535 "Support with high cardinality field"
Hi,

We are suffering a big performance hit with druid due to a dimension in our data source which has a very high cardinality. We need that dimension but only if there are significant rows with that dimension, i.e. we should ignore/discard cases where this dimension with a unique value only appears once.

We thought about doing a two-step process: as we are inserting in realtime from Storm, when

[2018-03-26 15:56] gianm commented on #4349
I think if a column is marked as non-null then it makes sense for Druid to replace nulls in inputs with default values. It's mostly used for analytics and not as a source of truth, so it doesn't make sense for it to be too rigid about what it accepts. Source-of-truth DBs do that in order to maintain data integrity. But a database meant for analytics on already-existing data has to deal with what i

[2018-03-26 17:55] jihoonson commented on #5304
@zhangxinyu1 oh I see. That would work.

But, if possible, I think it would be better to use our existing versioning system (e.g., `ActionBasedSegmentAllocator`) rather than separately maintaining segment versions in derived dataSource supervisors. This is because segment version management can be done in one class (`TaskLockBox`) rather than being spread over different classes depending on ingest

[2018-03-26 19:17] pdeva commented on #5516
this is badly needed to ensure a fully exactly-once pipeline.
currently without the transactional topics introduced in kafka 1.0, the exactly-once is not guaranteed from the producer side.

[2018-03-26 19:19] pdeva commented on #5516
i believe # #5404 is related to this

[2018-03-26 23:31] vogievetsky opened #5536 "Typo in docs"
The page http://druid.io/docs/0.12.0/querying/lookups.html#introspect-a-lookup talks about sending requests to `/druid/lookups/v1/introspect/{lookupId}` but that does not work instead `/druid/v1/lookups/introspect/{lookupId}` works.

Also it would be nice to elaborate that this one section of the page refers to posting to the broker (the rest of the page is all about the coordinator)

[2018-03-27 00:01] #5536 closed

[2018-03-27 00:17] vogievetsky opened #5538 "Druid Supervisors: What Do They Know? Do They Know Things?? Let's Find Out!"
It would be very useful if the Druid supervisors reported their internal status in their status API.

Legend has it that the supervisor knows more about its internal status than it is letting on, specifically when a supervisor has no tasks (and is not shutdown) it would return something like:

[code]

would be cool to surface the internal status "starting-up", "struck", e.t.c that made it have no

[2018-03-27 03:52] jon-wei commented on #5526
That sounds good to me

a) per-index-row-number-to-global-row-number conversion structures, O(N)-sized. This structure is created only for indexes which are segments.
b) Produce per-index bitmaps, using global dictionary encoding and global row numbers. Before, this was step 1, and different encoding and row numbers were used. This structure is created only for indexes which are incremental indexe

[2018-03-27 07:55] leventov commented on #5526
To keep the algorithm as robust as the current one, initially it could always create bitmaps.

[2018-03-27 07:58] leventov commented on #5526
Note: currently I'm not going to implement those improvements myself, so anybody is free to pick them up.

[2018-03-27 08:27] zhangxinyu1 commented on #5304
@jihoonson  Thanks for your suggestions

Derived dataSource supervisor would not maintain any segment versions. It's stateless. The things supervisor do is:
1. Reading the max created_date of base dataSource of one interval from db.
2. Reading the version of derived dataSource of the interval from db.
3. compare the max created_date and the version. if they are the same, do nothing. otherwise, sub

[2018-03-27 09:09] licl2014 opened #5539 "DruidCoordinatorCleanupUnneeded throws NullPointerException"
DruidCoordinatorCleanupUnneeded throws exception as  follows:
`2018-03-26T17:31:50,500 ERROR [Coordinator-Exec--0] io.druid.server.coordinator.DruidCoordinator:error:97 - Caught exception, ignoring so that schedule keeps going.: {class=io.druid.server.coordinator.DruidCoordinator, exceptionType=class java.lang.NullPointerException, exceptionMessage=null}
java.lang.NullPointerException
        at i

[2018-03-27 14:05] nishantmonu51 commented on #4349
@gianm: Sorry I misunderstood your comment,
The proposal also has a section for "Ability to specify default values for dimensions/metrics while ingestion" which proposes to add the ability to specify default values at the ingestion time.

I think for the ingestion part per column settings as outlined in the proposal where user can specify the list of columns along with defaults per column and simi

[2018-03-27 14:41] Sarvesh1990 commented on #4345
Hey @gianm

I am really sorry for the delay. Was out of station.

Pull request for first point : #5540

Let me know if it works.

[2018-03-27 15:02] Sarvesh1990 commented on #4345
Hey @gianm

Sorry for delay. Had to go out of station for some urgent work.
Please find PR for Point  1 : #5541

Let me know if this works. Will start working on Point 2 now.

[2018-03-27 16:39] gianm commented on #4345
No worries @Sarvesh1990. I left a review on your PR.

[2018-03-27 20:20] jihoonson commented on #5304
@zhangxinyu1 thanks for the detailed explanation.

Yes, I see your point. But actually the algorithm is _stateful_ because it works based the states (`created_date` and `version`) stored in metastore. However, this doesn't always work. Druid's segment versioning system has a rule that recent segments have higher versions than old segments. Using time as the segment version usually works, but [we s

[2018-03-27 21:06] clintropolis opened #5542 "HttpLoadQueuePeon does not appear to handle disappearing servers"
Encountered an issue where http based druid coordinator appears to become stuck if a historical server disappears while in the process of loading or dropping a segment. Relevant logs:
[code]

Looking into the code, the issue is that items are only ever removed from load and drop queues in the [`handleResponseStatus` method](https://github.com/druid-io/druid/blob/80419752b53b1fe27cc59e6e07a0e8e89cf

[2018-03-27 23:03] jihoonson opened #5543 "[Proposal] Native parallel batch indexing"
We currently have two types of batch index tasks, i.e., local index task and Hadoop index task. Also a spark task is available with a [third party extension](https://github.com/metamx/druid-spark-batch).

## Motivation

All task types have some limitations. The Hadoop/Spark index task requires an external Hadoop/Spark cluster to be run. This kind of dependency on external systems usually causes so

[2018-03-28 01:17] jihoonson commented on #5531
@clintropolis it would be great if we can add some tests to avoid this sort of issues again in the future. But, it looks not easy. Do you have any idea about this?

[2018-03-28 11:10] zhangxinyu1 commented on #5304
@jihoonson thank you so much for explaining the plan of segment version.

Yes, starting with a simple implementation is better, and we can impove it later. Using created_time as segment version is not good, but i can't thing of a better way to implement it.

I'm still wondering why the specified segment version is not allowed in TaskLockbox. I think it is flexible to use the version generated by T

[2018-03-28 12:06] dyanarose opened #5546 "[docs] DataSource Metadata invalid json"
the result example has a trailing ','

https://github.com/druid-io/druid/blob/master/docs/content/querying/datasourcemetadataquery.md

[2018-03-28 13:10] dyanarose opened #5548 "[docs] Query types and members do not all have properties tables"
- throughout the querying documentation, some types have properties tables and some don't. reasoning about the format of queries is much easier when a properties table is present
 - results examples, I believe uniformly, do not have properties tables. Adding a properties table for each expected result type would be very useful.
 - not all properties tables include a type column. The type column is

[2018-03-28 18:15] jihoonson commented on #5304
@zhangxinyu1 thank you for the explanation. Maybe it's better to add a restriction that only supervisors can modify derived dataSources in the future.

Well, I would say it's better to start with a stateful implementation for the supervisor even though it's not scalable. For example, the supervisor may keep all mapping information between a base dataSource and its derived dataSources in somewhere

[2018-03-28 20:53] jihoonson commented on #5546
Fixed via #5547.

[2018-03-28 20:53] #5546 closed

[2018-03-29 00:29] jihoonson commented on #5203
@ericgogh two PRs (#5533, #5544) have been merged to fix this issue. Would you please try again? I'm closing this issue and will open again if you still have the same problem.

[2018-03-29 00:29] #5203 closed

[2018-03-29 03:57] zhangxinyu1 commented on #5304
@jihoonson

I thought about this mapping before. For each derived datasource, this mapping can be interval -> List<segmentId> of base datasource and stored in database when supervisor commit datasource metadata. However, in my experience, some dataSources have 200-400 segments and about 200G each day. Druid don't work well on these kinds of dataSource. We add more than 10 derived dataSources for e

[2018-03-29 04:00] #4872 closed

[2018-03-29 07:51] sumitsethia opened #5550 "Need Druid Segment Interval of 1 day but segment granularity of 30 minutes."
Hi,
I have segment size of around 7 GB at day level. Since each segment is stored on a single historical node. When querying at day level only 1 of the historical node responds making the query run slow. What I would like is to still define segment-interval of 1 day but my segment granularity as 1 hour or so. So that multiple segments are being built and stored on multiple historical nodes. Is it

[2018-03-29 12:46] aubdiy opened #5552 "indexing task not work properly with Hadoop HA"
we use  druid 0.12.0 version  and   hadoop 2.7.3 version

While using HDFS with Hadoop HA  storage  segments,

[code]

`hdfs://jinzige` is  hadoop HA     `fs.defaultFS `  value,

` core-site.xml `:
[code]

exception could be thrown while fetching or pushing task log:
[code]

[2018-03-29 13:29] josephglanville commented on #5552
It looks like it can't resolve jinzige, check that DNS is working correctly and search paths etc are properly configured.

[2018-03-29 20:23] jihoonson commented on #5304
That's a good point. Then, I think we need to design a fully stateless supervisor. The algorithm I suggested above is one of them. The implementation might not be such complicated even though it requires some design reviews which might take longer review cycles.

If you have any other idea for the stateless supervisor, Please let me know.

[2018-03-30 02:24] aubdiy commented on #5552
@josephglanville  thank you  for your time， when  we use it without hadoop HA, druid  can work
when we use it wiht hadoop HA, druid throws that exception,     `hdfs://jinzige` is hadoop HA `fs.defaultFS` value,    in `hdfs-sit.xml`  content

[code]

with this configs, druid 0.10   can work ,    I'm puzzled

[2018-03-30 04:11] zhangxinyu1 commented on #5304
@jihoonson
Could we use the current implementation before the fully stateless supervisor is well designed?  Because I believe many druid users want to use this feature as soon as fast.
Besides, the current implementation have two extensions without any modify of core code. After we designed a stateless supervisor, it's easy to upgrade from current implementation.
Could you please look at the pr ab

[2018-03-30 04:32] jihoonson commented on #5304
@zhangxinyu1 thanks for raising #5556. I'll take a look.

I think it makes sense because you already have a full implementation even though it needs to be reviewed. However, it should be noted that this feature is still experimental and what happens if `created_date` of a new base segment is accidentally smaller than the `version` of an existing segment of a derived dataSource.

[2018-03-30 08:40] zhangxinyu1 commented on #5304
@jihoonson Thank you!

Should these notes be added to the final documentation about materialized view?

[2018-03-30 17:32] jihoonson commented on #5304
@zhangxinyu1 I think that should be documented from the first place when https://github.com/druid-io/druid/pull/5556 is merged.

[2018-03-31 17:51] pdeva opened #5558 "naming conventions for core extensions"
some core extensions have 'druid' in front of them,  eg:

- druid-s3-extensions
- druid-kafka-eight

some dont, eg:

- druid-datasketches
- mysql-metadata-storage
- postgresql-metadata-storage

it would be useful to have 1 naming convention for all core extensions.

if there is no convention, then atleast the directory in the source code for the extension should match the extension name.
Eg `druid

[2018-03-31 18:37] pdeva opened #5559 "exception when browsing the overlord console in 0.12.0"
exception:

[code]

Druid version: 0.12.0

Coorindator as overlord enabled
(`druid.coordinator.asOverlord.enabled=true`)

No middle managers connected.

To repro, just navigate to http://coordinatorhost:8080/console.html

view of console:
(seems to be stuck on loading autoscale activities)

![image](https://user-images.githubusercontent.com/3190176/38166372-b74e95fa-34d7-11e8-9d19-b7851b9dcaf6.png

[2018-03-31 18:51] gianm commented on #5559
I bet some of the paths from CliOverlord's UNSECURED_PATHS need to be added to CoordinatorJettyServerInitializer.

[2018-03-31 19:09] gianm commented on #5552
Hi @aubdiy,

If you run the Hadoop CLI (or some other Hadoop HDFS client) using the same classpath as Druid, does that work?

Have you tried including `dfs.nameservices` in hdfs-site.xml too?

[code]

[2018-03-31 19:47] pdeva commented on #5559
i feel this should be assigned a milestone for 0.13.0

[2018-03-31 19:49] gianm commented on #5559
Sure that sounds like a good idea. Let us know if you've got time to take a look at this.

[2018-03-31 20:03] pdeva opened #5560 "discrepancy between documentation and example code in 0.12.0"
the documentation for all the node configuration mentions the property `druid.plaintextPort` however, the download for 0.12.0  contains configuration that uses propery `druid.port`.

I cant find any documentation for when `druid.port` became `druid.plaintextPort` or which version is preferable. This needs to be clarified somewhere.

[2018-03-31 20:09] pdeva commented on #5560
in similar vein, config for middle manager should use `druid.indexer.runner.javaOptsArray` instead of deprecated `druid.indexer.runner.javaOpts`

[2018-03-31 23:20] pdeva opened #5561 "coordinator throws exception and loses leadership in 0.12.0"
Exception:
[code]

I do have coordinatorAsOverlord enabled fyi

[2018-03-31 23:25] pdeva commented on #5561
this seems to cause coordindator to lose its leadership, even though its the only coordinator instance running

[2018-04-01 15:25] egor-ryashin opened #5562 "Remove a redundant chat handler service name announcement"
I believe this announcement is redundant, moreover, it's not unannounced afterward.
https://github.com/druid-io/druid/blob/693e3575f9ff878d94770948f468810f91552b32/server/src/main/java/io/druid/segment/realtime/firehose/EventReceiverFirehoseFactory.java#L134
[code]
otherwise, if it is used somehow it should be documented. But in any way, I think, there should be a way to solve it with one service

[2018-04-02 16:40] #5531 closed

[2018-04-02 16:57] gianm commented on #5562
IIRC this extra announcement was for compatibility with Tranquility. It found tasks by looking for the chat handler announcement. And the `// rofl` line was a hack to make sure the firehose is announced in the format that Tranquility is looking for. I'm not sure if it's still needed, but that would be the place to look to figure that out.

Fwiw, Tranquility these days supports a non-ZK based metho

[2018-04-02 18:00] jon-wei commented on #5561
This is fixed by: https://github.com/druid-io/druid/pull/5554

[2018-04-02 18:01] #5561 closed

[2018-04-02 18:10] jihoonson opened #5563 "Missing doc for automatic pendingSegments cleanup"
Automatic cleanup of pendingSegments was added in #5149, but not documented.