[2017-01-30 20:43] leventov commented on #3892
**Unresolved problems**
 - Big-endian format that is currently used in Druid and ByteBuffers?

[2017-01-30 20:48] leventov commented on #3892
**Design**
 + "Global" (immutable)`Memory`'s bounds are checked optionally via assertions/guarded by static final boolean flag, "local" position and limit are check explicitly manually, with helper methods or versions of read and write methods of memory, which accept read/write position and "local" limits.

[2017-01-30 22:56] cheddar commented on #3892
@leventov there's a problem with moving Memory to the Druid source tree, which is that it would then make the current implementations of Sketches not work.  They would have to either be re-implemented depending on Druid (which is a huge dependency for them to take) or we would have to have some sort of compatibility layer between the two.

I *do* think that it is likely for Druid to have some clas

[2017-01-30 23:44] jihoonson commented on #3719
@gianm, thanks. I'll focus on that point.

[2017-01-30 23:46] leventov commented on #3892
@cheddar I think sooner or later the proposed `Memory` should anyway become a part of Druid source, because it is a critical dependency and it's not good to depend on PR review/release cycle done by Yahoo exclusively, not Druid community. This is the same story as with java-util/bytebuffer-collections/extendedset and Metamarkets. Sooner, i. e. from the very beginning, is better.

Another solution

[2017-01-31 00:20] leerho commented on #3892
@leventov @cheddar ,

+ Goal

- Eliminate current Endian craziness in Druid by standardizing on native-endian.

[2017-01-31 00:45] cheddar commented on #3892
Fwiw, I think it is better to try to do an all-or-nothing swap of the libraries and just make sure that we support the same persisted data.  It's a much larger PR and will be a significant QA/code review risk, but this is also something that I think we either want to take whole-hog or not at all.

I propose we bring this up at the dev sync tomorrow, I'll make sure to mention it.

[2017-01-31 02:35] leerho commented on #3892
@leventov @cheddar Interesting discussion.   I just have a few comments

-  "Don't make a lot of Object copies when a `Memory` object has to be "sliced", ...".  The `MemoryRegion(R)` is a view of its parent as "slice" is for ByteBuffer; no data is copied.

If the concern is the over-creation of these shell objects, with `Memory` you could create a read-only view of the parent once, and then just p

[2017-01-31 13:03] weijietong commented on #3891
Except avoiding the serde bottleneck,Arrow stores data as off heap DirectByteBuffer. By leveraging NIO RPC , we can achieve sending data with zero copy memory performance , that is what Servelet does not support .

btw I want to know how to enable Smile binary json format at current Druid version.

I agree that http and json is still useful for most common case. Substituting seems rash.

[2017-01-31 13:28] DaimonPl commented on #3864
I'll be working on this. Is there some way to contact you in case i have some doubts?

[2017-01-31 13:53] gianm commented on #3864
Sure, just post here!

[2017-01-31 17:35] gianm commented on #3892
@leventov On the question of whether Memory should be part of Druid or not, my thought is that it is weird for Druid to depend on sketches-core, but if Memory stuff was broken out into its own library that both Druid and sketches-core used, then that could be fine. To me the decision of incorporating anything into the Druid tree or using it as a dependency should be made based on:

- Do we think w

[2017-01-31 17:38] gianm commented on #3892
@leerho Could you elaborate on what's wrong with Cleaner? It's been added recently to a few places in the Druid code base and if it's scary I'd like to understand why.

[2017-01-31 17:45] gianm commented on #3892
@cheddar

Would you also propose changing factorizeBuffered to take Memory on the aggregators?

[2017-01-31 17:57] cheddar commented on #3892
@gianm yes, I would propose that the BufferedAggregators essentially become `MemoryAggregators`.  A good amount of the speed gains that we can expect from the change will come from the intermediate processing layer, which means that the aggregators would have to change.

This will have wide-reaching affects on anyone that has done their own aggregators as extensions, but I think that it is the onl

[2017-01-31 18:11] gianm commented on #3892
Sounds like it's time to make the 0.11.0 milestone in github then!

[2017-01-31 20:42] jon-wei commented on #3776
I'm working on a PR for this

[2017-01-31 20:43] jon-wei commented on #3588
Taking this one as well

[2017-02-01 00:05] weijietong commented on #3892
Does that mean a mmap call will return the Memory , aggregators will base on the Memory too ?

[2017-02-01 01:31] cheddar commented on #3892
@weijietong yes, that is the proposed change.  We discussed the process and we are currently exploring two phases

1. convert the "persist and read" paths to be based on Memory.  This might affect `ComplexMetricSerde` but should not affect the aggregators
2. convert the query processing, this will affect aggregators

We will try to complete phase 1 entirely before phase 2.  The `Memory` interface

[2017-02-01 03:14] leerho commented on #3892
@gianm 

"Could you elaborate on what's wrong with Cleaner? It's been added recently to a few places in the Druid code base and if it's scary I'd like to understand why."
I just found out that our corp email was screwing up and has not been sending my replies :(  !!I have a hunch that a number of my replies have been going into a bit-bucket!So here is the reply I sent at noon today.

- Creates ano

[2017-02-01 03:28] weijietong commented on #3892
Very glad to see this process, I think this will be a great huge refactor job to Druid，but it's valuable.

Btw , the coding convention of Druid ,with too much anonymous inner class 、functional programming, makes codes verbose 、unreadable. Guava has officially announced the
 [Caveats](https://github.com/google/guava/wiki/FunctionalExplained) .   Functional programming is the language like scala whi

[2017-02-01 06:20] leventov commented on #3892
@leerho @weijietong

<h4>On <code>Cleaner</code></h4>

I don't see real options.
 - Mandatory manual `close()` / `free()`. I want to write database in Java, not C++98. Memory leaks, use-after-free guaranteed. It works (only with very experienced teams and if a lot of resources invested into code quality) in C++ projects because C++ developers are disciplined and have a lot of experience dealing wi

[2017-02-01 07:24] leventov commented on #3892
@cheddar @gianm

<h4>On <code>Memory</code> in Druid source</h4>

*Yes* during the initial refactoring and experimentation, when the refactoring is complete, maybe very rarely.

So I think the approach with breaking `Memory` into a small library works, if Yahoo guys change it during the refactoring so that there is complete agreement on it's design and implementation.

Most important reason is tha

[2017-02-01 08:02] leventov commented on #3892
@leerho

<h3>Closer look on <code>Memory</code> design</h3>

<h4><code>NativeMemory</code></h4>

<ol><li>I'm concerned about offset -> address conversion with using two instance fields:
<code>
nativeRawStartAddress_ + objectBaseOffset_ + offsetBytes
</code>

There should be a way to avoid this cost in critical places. Hotspot JIT itself is not very good and reliable at moving field reads outside l

[2017-02-01 17:57] leerho commented on #3892
@leventov Thank you for your comments!

- "Mandatory manual close() / free(). I want to write database in Java, not C++98. ... C++11".
I don't want you to have to write in C++ either.

But if you read some of the visceral comments coming from the Oracle-dominated JCP and even some of the authors of the JEPs submitted to the JCP, we (you and I) are not writing in "Java" either as we have broken the

[2017-02-01 20:07] leventov commented on #3892
@leerho

Two recent PRs (which @gianm mentioned): [StupidPool fixes](https://github.com/druid-io/druid/pull/3631) and [it's follow-up](https://github.com/druid-io/druid/pull/3874) specifically move away replace `finalize()` with `Cleaner`s. Applying this change in Metamarkets's production led to [50% less GC CPU, less pauses and pauses shorter](https://github.com/druid-io/druid/pull/3631#issuecomm

[2017-02-01 22:06] gianm commented on #3820
I'd like to avoid having a performance impact on historicals, where sorting is not necessary, and doing it would be wasteful.

I would be fine with fixing this by just forcing cache to be disabled for groupBy v2 on brokers. If it works fine for historicals, then moving cache to historicals is a viable option for users to get groupBy caching. If we go this way, it'd be good to log a warning on brok

[2017-02-01 22:43] #3588 closed

[2017-02-01 23:28] leerho commented on #3892
@leventov Ok, given that Cleaner is getting promoted, I'll concede.  And if we need to migrate Memory to Cleaner, we will do it.

I want to return to your "Closer look at Memory". Thank you for your critique, your suggestions are very welcome!

First the 3 `MemoryRegion` issues.

- The volatile modifiers I had already decided to remove.

- Making `MemoryRegion` immutable is also possible, but ther

[2017-02-02 00:55] leventov commented on #3892
@leerho thanks.

Sounds reasonable, let's keep it mutable.

<hr>

 - In my experience it JIT makes inlines methods well but keeps artifact checks in the generated assembly, i. e. class checks. Making `MemoryRegion` delegation-free helps with it.
 - Also it should be pretty easy to implement without need to change the code that uses `MemoryRegion`.
 - Also consider implicit mutability problem, if `

[2017-02-02 01:46] jihoonson opened #3896 "Cache keys of TopN queries can be different even though they consist of exactly same operators"
This can happen because we don't consider the dependency of aggregators and post aggregators.
For example, let me suppose two post aggregators like below.

*Query 1*
[code]

*Query 2*
[code]

These two queries are exactly same except the names of aggregations, but their cache keys will be different.

[2017-02-02 03:34] leerho commented on #3892
@leventov This is all very substantive feedback, thank you!

Good point!  Fortunately hierarchical MR are not that frequent. But you are right that once created, the leaf node MR should directly reference itself back to the backing store and not its MR parent.

Yep! But I see no way around these for truly critical speed sections.  We just have to try to clearly identify and document these sections

[2017-02-02 04:36] leventov commented on #3892
@leerho

I suggested a way that is likely as fast as static method approach, if `Memory` is a *local variable* in a loop, JIT will likely pull it's class check out of the loop: making "CumulativeOffset" *the* `offsetBytes`. It's explained in details in my previous comment.

It's important to make methods on `Memory` abstraction as fast as possible, not just provide workarounds. Consider `BufferAgg

[2017-02-02 14:53] DaimonPl commented on #3864
First PR available (extraction of HLL code to separate module)

[2017-02-02 18:22] #3776 closed

[2017-02-02 20:57] #3741 closed

[2017-02-03 17:42] julianhyde opened #3905 "Timeseries distinct query gives http-500"
The following query gives an HTTP:500 error:

[code]

Stack:
[code]
It is based on a variant of https://issues.apache.org/jira/browse/CALCITE-1617. The SQL query

[code]
generates a "select" Druid query and succeeds but
[code]
generates the above "timeseries" Druid query and fails.

[2017-02-03 17:58] b-slim commented on #3905
@julianhyde i have run this same query on my druid and it works. can you please provide the exception stack from druid side ? and which version are you trying ?

[2017-02-03 18:00] gianm commented on #3905
@julianhyde Do you have a copy of the http response from Druid, or alternatively are there any interesting exceptions in the Druid broker or historical logs?

I wonder if it's something to do with granularity "none". Issuing queries with none granularity is a little sketchy because it leads to generating a cursor for every possible millisecond -- and there's a lot of milliseconds between 1900 and

[2017-02-03 18:13] julianhyde commented on #3905
I'm running druid-0.9.1.1 (set up via https://github.com/vlsi/calcite-test-dataset if you want to reproduce the exact environment).

Here's the end of `broker.log`:

[code]

Also, `coordinator.log` has several messages like this:
[code]

[2017-02-03 18:16] b-slim commented on #3905
you need this patch https://github.com/druid-io/druid/pull/3216

[2017-02-03 18:17] b-slim commented on #3905
@julianhyde bumping the version to 0.9.2 should solve this.

[2017-02-03 18:21] #3905 closed

[2017-02-03 22:06] AshwinJay commented on #3892
Flink does something similar (you may already know):

- https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=53741525
- https://flink.apache.org/news/2015/05/11/Juggling-with-Bits-and-Bytes.html
- https://cwiki.apache.org/confluence/display/FLINK/Netty+memory+allocation

I'm surprised that you'd not want to use Netty's allocator. Are the leaks that bad or that widespread? There are som

[2017-02-04 02:02] akashdw commented on #3885
@gianm GenericIndexedWriter gets TmpFileIOPeon to create header and value files. Probably we should remove `deleteOnExit()` to prevent any side effects. We could also make IOPean Closeable and do the cleanup in close method.

[2017-02-04 02:21] niketh commented on #3892
@AshwinJay We aren't creating yet another unsafe based memory manager, instead we are borrowing these from DataSketches Memory [lib](https://github.com/DataSketches).

@leventov On the discussion regarding cleaner vs using free, here is my take:
1. Memory is supposed to be allocated in large chunks so we allocate very few times
2. We have clear entry exit points for where Memory is being allocated

[2017-02-04 02:59] leventov commented on #3892
@niketh

`ByteBuffer.allocate()` is used 152 times, `allocateDirect()` - 6 times, `Files.map()` - 9 times.

 - The problem is OOMs because of inability to reclaim finalizable objects on a given GC phase. Allocating larger objects only makes it worse.
 - Currently StupidPool of ByteBuffers allocates as many ByteBuffers as ResourceHolders, the effect of changing that resource holders from using `fin

[2017-02-04 03:03] leventov commented on #3892
@niketh already having `finalize()` is not an argument, IMHO, because changing from `finalize()` to `Cleaner` and back is a 100 line change with zero implications on the rest of the codebase.

[2017-02-04 04:11] niketh commented on #3892
@leventov Makes sense, We will make Memory use cleaners instead of finalize.

[2017-02-04 22:06] leerho commented on #3892
@leventov

- The "mutable MemoryRegion problem" has been fixed.  I decided that a mutable `MemoryRegion` was not worth this risk, so I made it immutable.  In looking at where we had used the mutability it was basically an end-around to not having a relative position and it was easy to convert these cases to use an immutable MR.  @cheddar and I discussed this and we think that what would be more us

[2017-02-05 04:09] leventov commented on #3892
@leerho thanks.

I made some benchmarks, which are similar to Druid's TopN double aggregations: https://github.com/leventov/zero-cost-memory

[code]

Quick takeaways:
 - [Having no Memory-internal offsets](https://github.com/druid-io/druid/issues/3892#issuecomment-276833148) makes the difference - it's faster.
 - Making fields final doesn't make any difference.
 - Separating "direct" and "heap" im

[2017-02-05 04:25] leventov commented on #3892
@leerho

one-offset memory is as good as no-offset:
[code]

[2017-02-05 09:22] leventov opened #3906 "Sub-byte CompressedVSizeIndexedInts"
Was it considered to implement `CompressedVSizeIndexedInts` variant(s) that uses less than 1 byte for each value? E. g. 4 bits for dimensions with cardinality <= 16.

[2017-02-06 06:15] leerho commented on #3892
Interesting.  I'm ready to turn in for the night, but I did a lot of thinking about this this weekend. Also I have some benchmarks I have created as well.  I need to do some updates and will share them with u tomorrow.

[2017-02-06 22:43] drcrallen opened #3911 "Make `AWSCredentialsConfig` strings be `PasswordProvider`s"
The `accessKey` and `secretKey` at https://github.com/druid-io/druid/blob/druid-0.9.2/aws-common/src/main/java/io/druid/common/aws/AWSCredentialsConfig.java#L29 are currently strings, but it can be handy to be able to pull then from some sort of secrets store.

As such this ask is that they be modified to be `PasswordProvider`s instead of `String`s.

[2017-02-08 12:41] easyrasta commented on #2312
+1

[2017-02-08 14:58] himanshug commented on #2312
I recently started working on this to let coordinators discover historicals and realtime nodes (its a TODO in https://github.com/druid-io/druid/pull/3902 ). I am looking into `copycat` and will see if we can use it now that we are gonna become java-8 only soonish.

[2017-02-08 19:54] #3730 closed

[2017-02-08 23:31] andy256 opened #3918 "No way to get roaring bitmaps on merged segments?"
In druid 0.8.2, you could specify `druid.processing.bitmap.type=roaring` to get roaring bitmaps in indexing, and in segments merged by overlord tasks. However, in druid 0.9.x, that seems to no longer work, and additionally, there seems to be no way to force it to use roaring bitmaps as the `indexSpec` field is empty in the coordinator merge task, so it just uses the system default (concise).

So w

[2017-02-09 00:55] gianm commented on #3918
@andy256 manually issued "append" and "merge" tasks can be given an "indexSpec" and you should be able to get roaring bitmaps that way. I think there's currently no way to customize that for the ones you get from druid.coordinator.merge.on, but you're right, ideally there should be. If you're willing to contribute a patch, I'd try something like:

- add a property `druid.coordinator.merge.indexSpe

[2017-02-09 01:34] andy256 commented on #3918
The `ClientAppendQuery` object doesn't accept an `indexSpec`, though, only `dataSource` and `segments`... additionally, it shows up in the overlord tasks with a "merge_" task id, not "append_" even though it should be an "append_" task. I'm quite confused by this code path.

[2017-02-09 02:36] gianm commented on #3918
What's going on here is:

- ClientAppendQuery is the "client-side" version of the AppendTask. It exists so the IndexingServiceClient and its users (which are in druid-server) don't need to depend on classes in druid-indexing-service. It just has to serialize to something that can be deserialized into an AppendTask. It only has dataSource and segments right now because that's all anyone needed, but

[2017-02-09 17:51] andy256 commented on #3918
Ah, I see. I was missing the fact that AppendTask was derived from MergeTask. I'll give it a shot.

[2017-02-09 23:59] leventov opened #3922 "Incremental encoding for GenericIndexed<String>"
Delta encoding on the sorted sequence of strings could be applied: https://en.wikipedia.org/wiki/Incremental_encoding

It may significantly reduce size of high-cardinality string dimensions.

[2017-02-10 02:07] KurtYoung commented on #3885
We have met this issue in our production environment, and just delete the `deleteOnExit` works fine.

[2017-02-10 06:24] valenpo commented on #3885
@KurtYoung we do same. It is wrong using deleteOnExit on production.

[2017-02-10 19:00] grahamc opened #3924 "Provide ways to verify the integrity of the build artifacts"
Sorry for the wonky issue title, but there are a few issues all in one. In short, I'm working to package Druid for work. As part of that, I noticed a few things:

First I looked for a signature files (`.asc`) to verify the binaries against a published key.

This can be fairly tricky to implement and manage, so I then looked around for published file hashes (sha256/512 preferable, md5 isn't suffici

[2017-02-10 20:16] leerho commented on #3892
@leventov

I (think) I am done with the first phase of changes to Memory.

- Cleaner implemented
- NativeMemory can now be constructed with any of the 8 valid primitive arrays.
- NativeMemory computes a cumBaseOffset = nativeBaseOffset + objectBaseOffset.  This means only one instance variable is accessed for the get/put methods.
- Rewrote a most of the key related javadocs (assuming I could find

[2017-02-11 01:26] leventov commented on #3892
@leerho let's focus on the interface first, internals could be changed later.

1.

I actually like the idea and suggest just to do this.

 - It allows to add static factory methods right to `Memory`, instead of a separate `Memories`.
 - It allows to share some logic in the most natural way. E. g. I'm sure we will need to implement `putUtf8(String)` in `Memory`. Can do that right in `Memory` instea

[2017-02-11 02:00] leerho commented on #3892
The memory architecture kind of grew organically from something quite simple, all the while trying to add functionality while maintaining backward compatibility.  It is admittedly kind of unwieldy now and needs a complete refresh.  There are some other urgent reasons I need to publish a new release of the library and the complete reworking of the memory module will take some time.  So I will likel

[2017-02-11 04:51] leventov commented on #3892
@leerho

Sure, there is no hurry for releasing the new API.

Yes, it is possible, but my heart bleeds when I see how inefficient it is. 3-4 unnecessary data copies, creating a lot of garbage objects, `ThreadLocal` access, comparison of unrelated `String`s. And it is done not only during segment construction, it could be done thousands of times in the Druid historical query path, if the query uses

[2017-02-11 19:43] leerho commented on #3892
This is _very_ similar to what I was thinking.  I am working out the low level details of what offset & address values to keep and where in the hierarchy.

Some subtle differences: You seem to prefer having two primary classes: a "read-only" `Memory` and `WritableMemory`.  But the `Memory wrapForWrite(ByteBuffer)` seems inconsistent and also would throw an exception if the given BB is read-only.

[2017-02-11 20:36] leventov commented on #3892
@leerho

Separation between "readable" and "writable" interfaces has proven to be a good move. Most recently designed (buffer) APIs have it, e. g. in Chronicle Bytes: `ReadCommon` and `WriteCommon`, in Argona: `DirectBuffer` and `MutableDirectBuffer`. Also a bit unrelated, but Kotlin has separate read-only `List`, `Set`, `Map`, `Collection` and `MutableList`, `MutableSet`, `MutableMap` and `Mutabl

[2017-02-11 22:39] leerho commented on #3892
Some ideas:

All classes package private except where noted. Thus, only two public classes.

The classes noted as "Thought abstractions" may not be actual classes, as they are very small with only a constructor and 2-3 instance variables. They also might appear as simple interfaces.
Indentation indicates "extends".  For example, the only difference between `DirectR` and `DirectW` is the parent cla

[2017-02-11 23:15] leerho commented on #3892
@leventov

I think you misunderstood my previous comment.  I have no problem with "separation".  My concern was

[2017-02-12 02:42] leerho commented on #3892
@leventov

Go to [experimental](https://github.com/DataSketches/experimental/tree/master/src/main/java/com/yahoo/memory2) to look at early "sketch" of what I'm thinking at the moment.  The hierarchical outline is in `package-info`.

[2017-02-12 05:42] leventov commented on #3892
@leerho

Inconsistent with what? Yes, it should throw exception if the given BB is read-only. Why this is bad?

Generally I think `wrap(BB)` might even not be needed at all. It could be needed only on the boundaries with third-party libraries, which use ByteBuffer. Even if it is needed, it is going to be used in a very few places.

[2017-02-12 11:50] rohitkochar opened #3927 "Dropwizard metric emitter for druid metrics"
A new metric emitter which would convert the druid metrics into corresponding dropwizard metrics(http://metrics.dropwizard.io/3.1.0/)  and then use various emitters of dropwizard like statsd,http,console,jmx etc to emit the metrics to various sinks.
Dropwizard is widely used metric collection library and already has emitters to lot of metric stores.

[2017-02-12 21:19] leerho commented on #3892
DataSketches will need wrap(BB) as there are many other users outside of Druid who have BB.

My comment on inconsistent was a misinterpretation of what you were trying to do.  Never mind :)

In experimental I have the first skeleton round-trip working: reading and writing longs to direct memory.  Take a look.

[2017-02-12 23:01] leventov commented on #3892
@leerho

I don't see your arguments against the idea of separating read-only and writable on the type system level, by making two separate interfaces, rather than on runtime level, by having impls which throw UnsupportedOperationException.

My arguments pro this idea are:
 - Clearer for readers, safer interfaces of methods like `ObjectStrategy.read()`
 - Don't need `asReadOnly()` conversion on bou

[2017-02-13 03:55] leerho commented on #3892
OK. You are right. I thought I would be able to save some code duplication of the R/W methods, but there will the same amount of code duplication either way.  The current scheme requires 1 read method and 2 write methods (one throws).  Full splitting at the public level will require 2 reads and 1 write.

I don't see the 2X reduction in number of classes.  Most of the classes I have at the leaf lev

[2017-02-13 05:20] leerho commented on #3892
@leventov

Checked in the totally split skeleton into experimental.  Again I don't see a 2X difference in number of classes just due to this change.

Why did you do the following:

[code]
I would think you would want the following, which is simpler:

[code]

The same applies to map.

[2017-02-13 06:30] leventov commented on #3892
@leerho thank you!

It's a mistake in my comment (now fixed), yes definitely it should return the writable interface.

Mostly LGTM, a couple of comments:
 - `Memory allocate()` doesn't make sense, only reading from just allocated memory.
 - We completely forgot about #3716 and the idea to use `Memory` instead of it's `DataInput` and `DataOutput`. For this, it seems to me that `Memory` should be st

[2017-02-13 07:01] leventov commented on #3892
@leerho regarding x2 less classes, I meant that the separation between read-only and writable implementations is not needed. There are only writable implementations. The only thing that e. g. `map()` does is delegation to `mapWritable()`, and return the read-only interface. It is safe on the type-system level with very little precautions. Your approach with runtime separation provides extra safety

[2017-02-13 17:14] leerho commented on #3892
@leventov

- WRT  memory allocate() makes no sense.   I know, it is a temporary place holder for a region, which I will address next.  There are several other silly constructs in the skeleton that need to be ironed out.

-WRT DataInput / DataOutput. I didn't follow that discussion very closely.  So perhaps you could restate the objective and the benefit of overloading that on top of what we are tr

[2017-02-13 18:06] leventov commented on #3892
@leerho

I meant to make `Memory` stateless (hence remove `BaseMemory`), but not the package-private implementation classes, essentially push fields from `BaseMemory` down to the private classes. I don't think it should affect performance at all.

The idea is that a third-party could provide a `Memory` implementation based e. g. on distributed FS.

[2017-02-13 19:08] leerho commented on #3892
@leventov

BaseMemory is a "thought abstraction" at the moment and may migrate down the hierarchy anyway. But we can do that optimization later.  Right now,  I want to get the basic skeleton machinery of R/W Regions, ByteBuffers and MMF working and start some characterization tests to see where we stand on performance.  If it is as simple as you say, then I'm not going to worry about it right now.

[2017-02-13 19:29] leventov commented on #3892
@leerho

Because of this and generally, I think it's time to try to apply this API, in a manner similar to #3915

[2017-02-13 19:37] leerho commented on #3892
@leventov

Hmm.  The only way I see to do that is to make M and WM abstract and create the concrete impls with the Unsafe calls  a layer below.  The  BM functionality must be at the same level (or higher) then where the Unsafe calls occur.  Not sure how that impacts performance.

[2017-02-13 20:08] gianm commented on #3924
Fwiw, the Imply distro (https://imply.io/download) is served over HTTPS and we publish sha256 hashes over HTTPS as well. This issue for druid-io.github.com is about trying to bring some of that same love to community Druid: https://github.com/druid-io/druid-io.github.io/issues/372.

[2017-02-13 20:23] #3719 closed

[2017-02-13 21:42] gianm commented on #3378
Un-milestoning this from 0.10.0.

@jon-wei reading through this it looks like some of it has been done already as part of PRs in 0.10.0 and some of it has not. (And actually some of it it looks like we decided to go in a different direction: like filters not taking dimensionSpecs.)

Do you think we should keep it open and scope down to what still makes sense given what has already been done? Or cl

[2017-02-13 22:38] gianm commented on #3039
This looks like a duplicate of #3038; the root cause of this NPE was that tearDown was trying to tear down things that hadn't ever been made, because setUp failed:

[code]

[2017-02-13 22:38] #3039 closed

[2017-02-13 22:45] gianm commented on #3038
Even though a 30s timeout is pretty generous, my best guess is this was likely due to CI infrastructure being slow. I don't see anything that jumps out as wrong in the code. I'll leave this open in case someone sees it again but will untag the 0.10.0 milestone.

[2017-02-13 23:51] jihoonson opened #3933 "Docs for CacheKeyBuiler"
As discussed in [here](https://github.com/druid-io/druid/pull/3899#discussion_r100877944), CacheKeyBuilder needs docs which give a high-level overview of its behavior.

[2017-02-14 00:51] michaelschiff commented on #3350
Hey thanks for pointing this out, these metrics are missing from our dashboards as well.

Right now the StatsDEmitter converts everything to long
[code]

where value is a Number.  If 0 <= value < 1 then this will round down to 0, producing the empty metrics we've observed.  I think your suggestion makes the most sense: for metrics whose value is between 0 and 1 we need to convert to a 0-100 range,

[2017-02-14 02:25] gianm commented on #3030
@b-slim are you still planning to drive this? Shall we move to 0.10.1?

[2017-02-14 02:25] gianm commented on #3082
@b-slim are you still planning to drive this? Shall we move to 0.10.1?

[2017-02-14 05:50] DaimonPl commented on #3864
One more question.

As I understand those changes will be available in druid 0.10.0. currently we are using 0.9.2 - is there any way to get it included in older branch (other than our own custom fork with merge) ?

[2017-02-14 10:34] aubdiy opened #3934 "Tasks run FAILED, all the time"
version: druid-0.9.2
I set up it up on a single machine by "Druid Quickstart",  all services are set up   ok,

when i  run
[code]
Coordinator Console  show
[code]

the log show
[code]

who can help me ,  thanks

[2017-02-14 13:53] DaimonPl opened #3935 "Cannot use datasketches inside post aggregator (0.9.2)"
What i'm trying to achieve is to compute post aggregation from datasource which uses 2 metrics:
- sum of concrete values
- theta cardinality estimate of theta sketch metric

I can easily take values of both metrics:

[code]

And it works fine. Problems start when i want to compute arithmetic post aggregations using both:

[code]

With that query I'm getting:

[code]

[2017-02-14 14:05] DaimonPl commented on #3935
Just checked that `hyperUnique` has similar problem:

[code]

But can be solved by using `hyperUniqueCardinality` instead of `fieldAccess`

[2017-02-14 14:08] schmee commented on #3935
You need to wrap the `fieldAccess` in a `thetaSketchEstimate`, i.e:
[code]
Take a look at the docs for more info: http://druid.io/docs/0.9.2/development/extensions-core/datasketches-aggregators.html.

[2017-02-14 14:26] DaimonPl commented on #3935
Thx, it worked :) here's code if someone had similar problem

[code]

[2017-02-14 14:26] #3935 closed

[2017-02-14 15:59] b-slim commented on #3082
@gianm i think this need to reconcile with bunch of other PR and proposals as well will look into that ASAP.

[2017-02-14 16:00] b-slim commented on #3030
This has a low priority right now.

[2017-02-14 16:00] #3030 closed

[2017-02-14 20:52] gianm commented on #3746
Closed by #3914

[2017-02-14 20:52] #3746 closed

[2017-02-14 20:52] gianm commented on #3745
Closed by #3914

[2017-02-14 20:52] #3745 closed

[2017-02-14 20:52] gianm commented on #3595
Closed by #3914

[2017-02-14 20:52] #3595 closed

[2017-02-15 04:48] aubdiy commented on #3934
i forget run "bin/init"....

[2017-02-15 04:48] #3934 closed

[2017-02-15 06:35] jihoonson opened #3938 "During deeply nested group-by execution, the merge buffer for the inner group-by result should be held during the outer group-by execution"
For deeply nested group-by execution, at most two merge buffers should be acquired on the broker side for the currently accumulating sequence and the underlying input sequence which is already accumulated. With the group-by strategy v2, this intermediate result is stored on a merge buffer.

Obviously, the merge buffer needs to be held until the current sequence accumulation is completed. However,

[2017-02-15 13:38] kosii commented on #3739
Hi,

I'm @fphilippon's colleague. The error occurred again this morning. Any idea why is this happening?

[2017-02-16 00:06] jihoonson commented on #3820
I'm working on this issue.

[2017-02-16 00:23] jon-wei commented on #3938
looking into this

[2017-02-16 01:39] drcrallen commented on #3924
I'm curious if AWS codebuild can do this easily.

[2017-02-16 03:47] jihoonson commented on #3938
I found that this rarely happens only when nested queries have a simple count aggregation like ```select count(*) from (select d1, sum(m1) from foo group by d1) t```. And in this case, it seems normal because the simple count aggregation needs just merging inputs instead of accumulating them.
I'll close this issue.

[2017-02-16 03:47] #3938 closed

[2017-02-16 04:56] gianm commented on #3938
@jihoonson are you saying the behavior you saw is not actually a bug?

[2017-02-16 05:15] jihoonson commented on #3938
Yes, it seems normal.
More precisely speaking, in ```CombiningSequence.accumulation()```, ```baseSequence.accumulate(null, combiningAccumulator)``` consumes only a single row because the simple count aggregation always produces a single row. And in this case, ```CombiningAccumulator.accumulate()``` always executes the below code which doesn't have to acquire a merge buffer.
[code]
Thus, even thoug

[2017-02-16 05:22] jihoonson commented on #3938
You can reproduce this by checking out https://github.com/jihoonson/druid/tree/merge-buffer-debug and running GroupByQueryMergeBufferTest. The tests in this class of this branch emit some logs which show what happens in sequence.

[2017-02-16 06:52] jihoonson commented on #3820
@gianm, what do you think about simply adding a flag to represent the cached bySegment result is sorted or not?

[2017-02-16 07:05] gianm commented on #3820
That could be part of a solution, but what behavior would be changed when the flag is set?

[2017-02-16 07:07] jihoonson commented on #3820
Oh, I mean adding the flat to the cache key of groupBys.

[2017-02-16 07:41] gianm commented on #3820
Is your idea that the broker would sort results before putting them in the cache, and would include "is sorted" as part of the cache key? And historicals would keep behaving as they do now -- results in cache are unsorted?

[2017-02-16 07:57] DaimonPl commented on #3864
@gianm could you help about this last question?

[2017-02-16 08:11] gianm commented on #3864
Yep your patch will be in 0.10.0. That's the next planned release, there won't be an 0.9.3 barring unforeseen circumstances.

[2017-02-16 09:12] DaimonPl commented on #3864
Ok, closing issue itself

[2017-02-16 09:12] #3864 closed

[2017-02-16 12:10] jihoonson commented on #3820
I realized that the behavior of ```GroupByMergingQueryRunnerV2``` is different according to the cache is enabled or not. So please forget about my above comments.

So far, @gianm's first idea, disabling cache for groupBy v2 on brokers, seems good to me. I'll go with this way.

[2017-02-16 23:39] gianm opened #3944 "Druid 0.10.0 release notes"
# DRAFT

Druid 0.10.0 contains hundreds of performance improvements, stability improvements, and bug fixes from over 40 contributors. Major new features include a built-in SQL layer, numeric dimensions, Kerberos authentication support, a revamp of the "index" task, a new "like" filter, large columns, ability to run the coordinator and overlord as a single service, better performing defaults, and e

[2017-02-16 23:40] gianm commented on #3944
Starting up the release notes

[2017-02-17 00:48] leerho commented on #3892
@leventov

Could use your thoughts with a conundrum using Cleaner.  Cleaner is directly tied to an object while finalize() is indirect in that the JVM keeps track of those objects that have a finalize method.

Unsafe is stateful with native address (in various forms) and an optional object reference.

1) Create a parent class that refers to a native region in memory using Unsafe with these state v

[2017-02-17 01:17] leerho commented on #3892
@leventov

Option C) I should've thought of this.  The child has to hold a reference to the Parent, AND we can't allow preemptive cleans.  Only when all the children and the parent are dereferenced will the GC clean it all up.

[2017-02-17 01:32] leventov commented on #3892
@leerho my suggestion is
 - Only one `Cleaner` per allocation. When views, subregions, positioned etc. are created, they have a reference to the "parent", but they shouldn't delegate their getXxx/putXxx methods to the parent, they copy address to their own fields, for faster access. They don't create their own Cleaners.
 - Manual clean via `close()` is allowed.
 - `Cleaner` and parent both referen

[2017-02-17 02:50] leerho commented on #3892
@leventov thanks, that is where I was headed.  I wasn't so sure about the manual clean but if all of this is on a single thread it makes sense.  We would have to think harder if this activity was across multiple threads.

[2017-02-17 04:47] niketh commented on #3892
@leerho @leventov IMO I think the cleaned flag isn't a great idea, its better not to have explicit close. Only NM registers cleaner, MR does nothing, NM clean will only get called when there is no one holding on the reference.
Having a cleaned flag will mean that we have to keep doing assert checks in checkIndex() or equivalent check somewhere else

[2017-02-17 06:10] saurabhere opened #3945 "Ability to read from a regex-based topic pattern in kafka-indexing-service extension"
Kafka inherently allows pattern based topic subscription. It would be great if we can use it to allow reading them into a single datasource using a single task.

[2017-02-17 09:07] huangchaosuper opened #3946 "metadata table not exist when upgrade from 0.9.0 to 0.9.2"
table druid_meta.druid_supervisors not exist when upgrade from 0.9.0 to 0.9.2
how to upgrade from 0.9.0 to 0.9.2 , I am not sure how many tables need I do

`Caused by: org.skife.jdbi.v2.exceptions.UnableToExecuteStatementException: com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'druid_meta.druid_supervisors' doesn't exist [statement:"SELECT r.spec_id, r.payload FROM druid_supervi

[2017-02-17 09:21] huangchaosuper commented on #3946
need upgrade metadata scripts supports?

[2017-02-17 11:17] zhxiaom5 opened #3947 "i want to set granularity like 5min or 10 min"
i want to set granularity like 5min or 10 min,is that possible ?

[2017-02-17 11:47] zhxiaom5 opened #3948 "can druid support sub aggregation ？"
can druid support sub aggregation ？
like elastic sub aggregation？

[2017-02-17 13:52] kaijianding commented on #3947
https://github.com/druid-io/druid/pull/3850 and https://github.com/druid-io/druid/pull/3766 are what you need

[2017-02-17 13:53] kaijianding commented on #3947
for granularity in query, you can use PeriodGranularity or DurationGranularity

[2017-02-17 17:25] gianm commented on #3946
@huangchaosuper, what code is triggering this error and how much of your cluster is running 0.9.2? We do have code that creates the druid_supervisors table when an overlord starts up -- so after overlords are upgraded, you should be ok.

[2017-02-17 17:30] gianm commented on #3948
Are you talking about the kind of sub aggregations described here? https://www.elastic.co/blog/intro-to-aggregations-pt-2-sub-aggregations

Some of those could be done with multi-dimension groupBy queries, some of them would probably require you to make multiple Druid queries (like one topN for the first level and then multiple subsequent topNs for the second level).

[2017-02-17 19:23] leventov commented on #3892
@niketh

Yes. What's the problem with that? From performance perspective, it's free, JIT will remove that code entirely.

Nobody obligates you to use explicit `close()`, but sometimes it is handy and obviously safe:
[code]

Because `ByteBuffer` doesn't implement `AutoCloseable`, we had to create a wrapper: [`MappedByteBufferHandler`](https://github.com/druid-io/druid/blob/657e4512d2a6499a9d0609b2c

[2017-02-17 21:20] gianm commented on #3645
Bumping this to 0.10.1, along with the pr for linking expressions into the docs.

[2017-02-17 21:20] gianm commented on #3634
Bumping to 0.10.1

[2017-02-17 21:36] gallamine opened #3952 "parsing timestamp with fractional seconds fails"
I am running `druid-0.9.2` on `osx 10.10.5`. I am running all the services locally according to the http://druid.io/docs/0.9.1.1/tutorials/quickstart.html example.

I created a sample TSV and wrote a new index to ingest the data.

The sample data is as follows:

[code]
The index is following:

[code]

My systems uses a timestamp with a fractional seconds value at the end `1487249458.633` which cau

[2017-02-17 21:51] b-slim commented on #3952
@gallamine after looking at the posix specification it clearly states that is the number of second from the epoch, hence this number by construction is not fractional. Looking into the druid code i found out that the input will be read as a string which cause the exception. Now i am not sure that rounding of the fraction is a good idea if i were to fix that. i know that you can argue that there is

[2017-02-17 21:54] b-slim commented on #3952
@gallamine also was wondering how hard is it to convert that into `millis` and let druid parse it that way ? would that be very expensive ?

[2017-02-17 22:44] gallamine commented on #3952
Changing the value before it arrives in the log is expensive as it requires major system changes.  My understanding is that this is the standard time representation for NGINX (the `msec` variable), so it's possibly worth supporting by Druid in the future.

For the time being, I'll investigate writing a custom parser to deal with it.
Thanks for the help!

[2017-02-17 22:44] #3952 closed

[2017-02-17 23:03] b-slim commented on #3952
@gallamine thanks ! let me know if you need help.

[2017-02-18 01:52] leerho commented on #3892
@leventov

I have implemented a skeleton with two different schemas:

**Notes:**

- The `AllocateMap` has not been incorporated yet,
- Lots of methods missing
- Both RO Regions and W Regions are done.
- Very primitive tests
- If you look at the code, it is currently configured as Version A, using `WritableMemory2`.  With minor changes I can convert it to Version B using `WritableMemory`.

**Versio

[2017-02-18 02:26] zhxiaom5 commented on #3948
yes,thanks for you answer

[2017-02-18 02:28] zhxiaom5 commented on #3947
thanks,i will try it

[2017-02-18 15:35] #3948 closed

[2017-02-19 20:52] leerho commented on #3892
@leventov

I have added the `AtomicBoolean` into the `Dealocator` for `Cleaner` and added the asserts for the current get/put methods for the Version A.  Also added some tests where the Parent is freed, and the child region detects that the region is no longer valid via assert. Seems to work.

I think I will move to a Version C, similar to what you suggested earlier, with only one writable impleme

[2017-02-20 05:44] huangchaosuper commented on #3946
the error shown when I upgrade overlord. so I am not sure how to fix my issue.
my cluster is small, but in production. only one instance of each type service. only one overlord server.

below is the full log . could you please help me ?

2017-02-17T09:01:04,542 WARN [main] io.druid.metadata.SQLMetadataConnector - Exception creating table
org.skife.jdbi.v2.exceptions.CallbackFailedException: com.me

[2017-02-20 08:45] niketh commented on #3892
@leerho  VersionA + Boolean flag to check if the parent has been freed looks good.
What is approach C ?

[2017-02-20 16:48] leerho commented on #3892
It is in the parallel package memory3.

[2017-02-20 21:50] tdingus commented on #2467
I tried the delete operation the same as "l15k4 commented on Mar 22, 2016".
I don't see the segment got deleted.

I also googled for solutions but none of them worked. Please help.

[2017-02-20 22:02] fjy commented on #2467
@cheddar @pjain1 please look into this

[2017-02-21 02:28] leerho commented on #3892
@leventov @niketh

See [package-info](https://github.com/DataSketches/experimental/blob/master/src/main/java/com/yahoo/memory3/package-info.java)

Version C is the furthest along and I have implemented the mechanisms for

- AtomicBoolean check for valid allocation with asserts
- asReadOnly() and violation detection with asserts
- regions
- JDK 7 & 8 detection & substitution.

Not yet Done:
- Maps,

[2017-02-21 02:34] kaijianding commented on #3952
I think you should use ruby, https://github.com/metamx/java-util/blob/master/src/main/java/com/metamx/common/parsers/TimestampParser.java#L84

[2017-02-21 03:01] fjy commented on #3952
@kaijianding just an FYI that java-util was moved into Druid

[2017-02-21 17:47] gianm commented on #3155
fixed by #3557

[2017-02-21 17:47] #3155 closed

[2017-02-21 17:49] #3820 closed

[2017-02-21 21:55] pjain1 commented on #2467
@tdingus are you hitting this - https://github.com/druid-io/druid/pull/1274
Do you have a single segment in the cluster ? Are you getting any error while deleting ?

[2017-02-21 22:56] leventov commented on #3892
@leerho sorry for late review. I like version B most. You don't have to duplicate code, because you don't need `MemoryImpl`, you can return `WritableMemoryImpl` from static factory methods which return `Memory` (read-only) as well. And read-only flag also won't be needed in this case, because Java compiler will ensure there are no illegal accesses, if we follow two simple rules: don't explicitly c

[2017-02-22 01:01] leventov commented on #3892
@leerho `Memory` asked to be stateless and implementation-less to allow implementation based on completely different principles than Unsafe, e. g. something backed by network-attached storage: https://github.com/druid-io/druid/issues/3892#issuecomment-279304755

However it is not necessary now, because there is no reaction from @weijietong and probably he doesn't need #3716 anymore. Anyway, it cou

[2017-02-22 01:35] tdingus commented on #2467
Yes. I have a single segment in the cluster. I don't see any error log while deleting. If I should expect any error log, where should I look for it.thanks
      From: Parag Jain <notifications@github.com>
 To: druid-io/druid <druid@noreply.github.com>
Cc: tdingus <tdingus@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Tuesday, February 21, 2017 4:55 PM
 Subject: Re: [druid-io/druid] can't

[2017-02-22 02:31] pjain1 commented on #2467
you can check the coordinator logs for any error after you send the kill request. However, given you have a single segment in the cluster unfortunately you are hitting #1274 and even after the segment is marked as unused, coordinator will still think it is present. However, it should not be a problem for production systems when you have multiple segments

[2017-02-22 02:41] pjain1 commented on #2467
However, lets say you really want to **completely clean** the cluster because you are running integration tests or something then as per the current druid code base you can do this by -

1. stop coordinator node and delete all entires in the druid_segments table in the metadata store
2. stop historical node and delete everything inside the directory pointed by `druid.segmentCache.locations` at his

[2017-02-22 03:47] leerho commented on #3892
@leventov

Sorry, I had completely misinterpreted a previous statement of yours:

Now that I read it again carefully and in the context of your latest comments, I understand what happened.  I interpreted "implementations" as "classes that have been implemented", assuming the looser interpretation of "implementations". What you meant by "implementations" is "concrete classes" as opposed to an "abst

[2017-02-22 05:36] leventov commented on #3892
DataSketches contributors and Druid contributors. It could be enforced even by adding a custom "Regexp" rule to checkstyle config, that looks for `(WritableMemory)` and `Memory>`

[2017-02-22 07:13] mszone commented on #3944
Release notes  - http://druid.io/docs/0.10.0-rc1/ is not available. Can you please fix it.

[2017-02-22 07:16] gianm commented on #3944
@mszone, 0.10.0-rc1 hasn't been released yet, this issue is just a place to draft the notes for when it does get released. This will likely be soon.

[2017-02-22 07:59] huangchaosuper commented on #3946
I manual execute below sql `create table druid_meta.druid_supervisors (
	id BIGINT(20) not NULL,
    spec_id VARCHAR(255) NOT NULL,
    created_date VARCHAR(255) NOT NULL,
    payload LONGBLOB  NOT NULL,
    PRIMARY KEY (id)
);
CREATE INDEX idx_druid_supervisors_spec_id ON druid_meta.druid_supervisors(spec_id);`

the issue disappeared

[2017-02-22 07:59] #3946 closed

[2017-02-22 16:56] eyalzek opened #3960 "`statsd-emitter` - add option to disable logging errors when mapping is missing"
I enabled `statsd-emitter` which works great, the only problem I have with it is that it pollutes our logs with many errors for missing statsd mapping, coming from here:
https://github.com/druid-io/druid/blob/master/extensions-contrib/statsd-emitter/src/main/java/io/druid/emitter/statsd/StatsDEmitter.java#L123

e.g:

[code]

about 220 log lines in 15 mins (running 1 node of each druid role). Would

[2017-02-22 17:42] leerho commented on #3892
@leventov

I think you are referring to `Java Generics` instead of the linguistic definition of "generic" meaning "nonexclusive", "wide", or "universal" i.e., don't do:

This is essentially another form of bad casting.

[2017-02-22 20:49] #3819 closed

[2017-02-22 22:40] leerho commented on #3892
@leventov

I'm concerned that the rule _don't explicitly cast any `Memory` instance to `WritableMemory`_ will be very difficult to enforce.  Not all users of DataSketches and/or Druid will necessarily be contributors, or participate in our forums, or use our checkstyle configurations.

So I'd like to keep the `boolean readOnly` as a backup check, in the hopes that at some point they at least run t

[2017-02-23 13:35] scot0357 opened #3969 "Druid Coordinator and Overlord consoles cannot be reverse proxied"
I'm attempting to setup a reverse proxy for serving the Druid Coordinator and Druid Overlord consoles.

Say I have a host `druid-coordinator` and `druid-overlord`, using nginx as a reverse proxy, with the following nginx configuration:

[code]

When attempting to access the `druid-coordinator` through the reverse proxy, a blank page loads, and the following shows up in the web error console:

[cod

[2017-02-23 22:39] #3687 closed

[2017-02-24 07:03] jgill333 opened #3971 "How to get more info on Tranquility error deserializing instance of com.fasterxml.jackson...scala.deser.MapBuilderWrapper"
Hello,
I wanted to find out if there is a way to get the data that is causing this error in Tranquility. It is not writing what is causing the issue other than some `]` character.

2017-02-17 07:12:03,977 [qtp428160758-20] WARN  c.m.t.server.http.TranquilityServlet - Server error serving request to http://<redacted endpoint>
com.fasterxml.jackson.databind.RuntimeJsonMappingException: Can not deser

[2017-02-24 08:11] hamlet-lee opened #3972 "BUG: quantile (approxHistogram) not produce correct result"
In my product system, the quantile=0.5 result is very far from real value. (even if I set the resolution to a relative high value) for e.g.:

ingest:
[code]

query
[code]

expected real value: 190
druid result: 1167.81 (I tried multiple resolution in ingest time, druid result is near this value)

I attach the api_duration dataset, in case someone can reproduce or fix the bug.
[api_duration.txt](ht

[2017-02-24 14:49] gallamine commented on #3952
Posting here to confirm that choosing the `ruby` spec for timestampSpec seems to work fine. As of yet this spec isn't documented yet.

[2017-02-24 17:18] himanshug opened #3975 "BUG: make only leader coordinator do the lookup management"
currently all coordinators are syncing lookups to various lookup nodes, which does not cause major harm but wastes cluster resources.

[2017-02-25 22:56] RobertErvin commented on #2748
+1

[2017-02-26 03:31] b-slim commented on #2748
related to https://github.com/druid-io/druid/pull/3940

[2017-02-27 17:41] praveev opened #3978 "QueryGranularity `testDeadlock` test timeouts"
@kaijianding reports in #3850 that the `testDeadlock` test timeouts after that PR merge and that it may need more time.

I'm not sure how i feel about a test that takes > 60seconds.

[2017-02-27 17:53] kaijianding commented on #3978
It doesn't pass in my local IDE. Though it can pass with less loop, like 100 times.
I found two CI failure due to this test from 2 different PR.
https://travis-ci.org/druid-io/druid/builds/205857310 and https://travis-ci.org/druid-io/druid/builds/205833322

[2017-02-27 18:20] drcrallen commented on #3978
@kaijianding if you up the timeout does it pass?

If it does not pass it might be encountering a deadlock.

[2017-02-27 18:30] praveev commented on #3978
@drcrallen i was just looking at the context in which you wrote this test - https://github.com/druid-io/druid/issues/2979.

[2017-02-27 18:31] fjy commented on #3978
@praveev @drcrallen tests that take 60 seconds are a giant nono in Druid. Unit tests should take at most 1 second.

[2017-02-27 18:32] drcrallen commented on #3978
Yes, but if its failing because of a deadlock the deadlock needs fixed.

If it is failing because it just takes longer then it can be fixed to take less time.

[2017-02-27 18:32] praveev commented on #3978
agree. that test initially had a timeout of 10 secs and then @nishantmonu51 upped to 60secs with https://github.com/druid-io/druid/pull/3224

[2017-02-27 18:40] praveev commented on #3978
I believe this is b/c of a change that was introduced after the CR feedback. I'm putting in a fix for this now.

[2017-02-27 19:21] praveev commented on #3978
@kaijianding the test doesn't fail for me locally. tried executing on IDE as well as via mvn.

[2017-02-27 20:20] praveev commented on #3978
ok. i can confirm that the something with #3850 has slowed loading of the class significantly.
This test took 5secs for 1000 iterations before the merge. Now its taking over 5secs for 10 iterations

[2017-02-27 22:31] praveev commented on #3978
@drcrallen the issue has been fixed. please review the pr.

The reason it took so long was b/c all the predefined granularities were also being initialized each time. So i followed the same trick as before, moved the static fields to a separate `Granularities` file and moved the check for `PREDEFINED_GRANULARITIES` inline instead of maintaining a separate list.

[2017-02-28 05:03] leventov commented on #3892
@leerho

Ok.

One thing that wasn't discussed and designed yet, is how do we support big-endian writes, to support legacy formats.

Options:
 - Explicit `putXxxBigEndian(offset, v)/getXxxBigEndian(offset)` or `putXxx(offset, v, ByteOrder order)` methods in the main interface. (This approach is taken in Argona's buffers)
 - A separate implementation, with own factory methods like `mapFile(f, ByteOr

[2017-02-28 18:24] leerho commented on #3892
@leventov

Supporting BE/LE is messy.  We need to consider dual-mode cases: e.g., reading TCP/IP packets where the protocol fields are BE, and the payload could be LE.  Not that I want to write packet handlers, but I could believe that careless use of ByteBuffer (without always specifying endianness) could lead to horrible mixed endianness data!

I also don't want to encourage the propagation of B

[2017-02-28 18:34] leerho commented on #3892
@leventov

BTW, so far, these other variants will not be able to leverage the stateless base classes Memory and WritableMemory that we have in the current design.  This calls into question the value of these stateless classes and makes them more like bloat.  I am seriously considering removing one or both of them.

[2017-02-28 19:52] gianm commented on #3944
Updated the release notes with blurbs or at least TODO references to all issues tagged "Incompatible", "Release Notes", or "Performance" — except for #3628 since I wasn't sure what to write about that one.

[2017-02-28 19:57] gianm commented on #3944
@b-slim, @nishantmonu51 could you please write a blurb for "Improved Kerberos support"?

[2017-02-28 19:57] gianm commented on #3944
@dclim could you please write a blurb for "Index task revamp" as a comment on this issue?

[2017-02-28 19:58] gianm commented on #3944
@himanshug could you please write a blurb for "Coordinator/Overlord combination option" as a comment on this issue?

[2017-02-28 20:40] himanshug opened #3983 "a bug in groupBy v2?"
One of my users (using version 0.9.2) is using time extraction function in a groupBy query.

results are always correct with groupBy-v1 while with groupBy-v2 they are sometimes correct and sometimes not
however, without the extractionFn in the query groupBy-v2 seems to always produce correct result.

here is what the query looks like...

[code]

[2017-02-28 20:41] himanshug commented on #3983
@gianm @jon-wei have you guys seen something similar in 0.9.2 and if there was a bug that got fixed in 0.10.0 ?

[2017-02-28 20:50] pavanab4u commented on #3983
### result with v2 where month is totally wrong
[code]

[2017-02-28 20:51] dclim commented on #3944
@gianm added it directly by editing the initial comment

[2017-02-28 21:17] gianm commented on #3944
thanks, although a new comment is easier to work with than editing the initial comment, since GitHub doesn't have good tools for resolving conflicts on issue comments.

[2017-02-28 21:45] patelh commented on #3983
+1

[2017-02-28 21:51] gianm commented on #3983
@himanshug when you say "sometimes correct and sometimes not" what is the correct result and what is the incorrect result you get? How many segments are you querying over? Is caching enabled anywhere?

[2017-02-28 21:51] patelh commented on #3944
I hope #3983 was already fixed before making v2 group by as default.

[2017-02-28 21:55] himanshug commented on #3983
@pavanab4u can you answer @gianm questions ?

[2017-02-28 21:58] gianm commented on #3983
SimpleDateFormat is used by TimeDimExtractionFn but is not thread-safe according to http://www.icu-project.org/apiref/icu4j/com/ibm/icu/text/SimpleDateFormat.html. groupBy v2 definitely applies this extractionFn from different threads since extractionFns are generally assumed to be thread safe. Maybe this is the problem.

I'm not sure why groupBy v1 doesn't exhibit this problem, maybe for some rea

[2017-02-28 21:58] patelh commented on #3983
[code]

For the above, the correct result would be the result of the field which timeFormat yyyyMMdd converted to yyyyMM.  e.g. 20170228 to 201702 , and with v1 the result is already as expected, with v2, randomly we see corrupted result, e.g. values such as 000001 or 471301 and etc...

[2017-02-28 22:10] himanshug commented on #3983
@gianm that theory might be correct . I notice that they're using `"groupByIsSingleThreaded": true` which means v1 query would not do merging in parallel but v2 ignores that flag.
let me see if it can be reproduced locally first... deploying custom release on user's production cluster is kinda hard.

[2017-02-28 22:20] himanshug commented on #3983
@gianm ok once I remove `"groupByIsSingleThreaded": false` , then even v1 groupBy starts producing funny looking results, so most likely TimeExtractionFunction is buggy under concurrency.

[2017-02-28 22:33] himanshug commented on #3983
https://github.com/druid-io/druid/pull/3984 should probably fix this, will need to further deploy it on user cluster to be somewhat sure.

[2017-02-28 22:34] patelh commented on #3983
OMG, so groupByIsSingleThreaded is no longer supported by v2 ?  This will impact # of concurrent user queries.

[2017-02-28 22:36] patelh commented on #3983
What about priority ?

[2017-02-28 22:58] gianm commented on #3983
Priority is supported by all query types including groupBy v2.

Single threaded merging isn't supported by groupBy v2. Could you expand on how that will affect you? I didn't implement single threaded merging in v2 because I guessed multithreaded merging would generally be better than single threaded with the new engine.

[2017-02-28 23:26] patelh commented on #3983
Yes it would be better.  But if I need to have higher QPS, where the # of segments scanned are arbitrary for every query, the # of requests that can be processed would go down.  By guaranteeing only a single thread is used, I can control the kind of queries I want to use more than a single thread.  This allows for better control of resources across use cases / customers where the SLA is may be dif

[2017-02-28 23:49] gianm commented on #3983
Thanks, that makes sense. Query priorities should be able to accomplish something similar (they'll let a higher priority query take over the processing thread pool). The only downside of priorities should be if each individual segment scan takes a long time, which would mean it might take too long for a higher priority query to take over. In that case it does make sense to limit the number of thre

[2017-03-01 00:05] patelh commented on #3983
Yea priority would be one way to do something similar.  But in the case where I have multiple queries at the same priority, there is no way to guarantee resources to each of those queries since they'd be processed in order (IIRC), where as if we could control the number of threads for each, we may be able to process them concurrently.

@himanshug can we please add this to our list to add groupBySi

[2017-03-01 00:18] gianm commented on #3944
@patelh I think the root cause of that issue is lack of thread safety on the "time" extraction fn, and if so then #3984 should fix it.

[2017-03-01 01:50] akashdw commented on #3944
@gianm On large column support,Generic Indexed V2 is disabled by default for custom extensions and can be enabled by overriding https://github.com/druid-io/druid/blob/master/processing/src/main/java/io/druid/segment/serde/ComplexMetricSerde.java#L113.
Created a small pr to enable it for druid-io complex metrics. https://github.com/druid-io/druid/pull/3987

[2017-03-01 01:53] gianm commented on #3944
Thanks @akashdw, I updated the notes

[2017-03-01 03:02] gianm commented on #3944
@jon-wei could you please write a blurb for "Numeric dimensions" as a comment on this issue?

[2017-03-01 03:25] himanshug commented on #3983
@gianm @patelh given that users depend on singleThreaded flag to manage the resources , we'll restore that flag for groupBy v2 .

[2017-03-01 03:33] jon-wei commented on #3944
@gianm numeric dims comment

Druid now supports ingestion and queries with numeric dimensions. Users can ingest long and float columns as dimensions (i.e., treating the numeric columns as part of the ingestion-time grouping key instead of as aggregators, if rollup is enabled). Additionally, Druid queries can now accept any long or float column as a dimension (including columns ingested as metrics)

[2017-03-01 03:37] gianm commented on #3944
Thanks @jon-wei, I shortened it a bit and included it in the notes

[2017-03-01 06:53] gianm commented on #3983
By default the query processing runs in no particular order, but you can set `druid.processing.fifo` to do queries in fifo order (see also https://metamarkets.com/2016/impact-on-query-speed-from-forced-processing-ordering-in-druid/).

If you want to run all active queries of the same priority concurrently rather than fifo, you could probably do that by adding an option like `druid.processing.fifo`

[2017-03-01 07:28] leventov commented on #3892
@leerho

Agree, it's bad. Also it looks more noisy and makes easy to make a mistake, forgetting "BigEndian" suffix somewhere.

The same, and also noisy and even simpler to make (and harder to spot) mistakes, forgetting the third argument.

Didn't understand how it's different from the previous.

The shouldn't be such cases, at least I can speak for Druid. Either we need to support legacy file/netw

[2017-03-01 07:35] leventov commented on #3892
@leerho

Thread-safe Memory is not needed.

PositionedMemory could be made pretty fast IMO, if instead of wrapping `Memory` and keeping a separate "position" field, it's made very similar to `WritableMemoryImpl`, with the difference that `cumulativeOffset` is not a `final` field, and updated on each operation.

I believe in stateless and separation of stateless hierarchy (Memory) and Positioned. L

[2017-03-01 17:34] leerho commented on #3892
@leventov

Lets count just the ones impacted by byte-order: 24 primitive puts/gets + 6 atomic = 30:

[code]

I'm not convinced. Let's look at Druid's [SynchronizedUnion](https://github.com/druid-io/druid/blob/master/extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/theta/SynchronizedUnion.java):

This came about in a real-time query application where data was conti

[2017-03-01 19:26] leventov commented on #3892
@leerho ok, I was wrong. 30 + 30 = 60 similar methods is a big burden, but I still think it's feasible to write them once, with almost no attention required later. Also many methods may delegate to each other on `WritableMemoryImpl` level: `float` methods delegate to `int` methods, `double` to `long`, `char` to `short` or vice-versa. Such methods don't need to overridden in "NonNativeWritableMemor

[2017-03-01 20:06] leerho commented on #3892
@leventov

I think we are close to agreement.  I haven't added the volatile and ordered methods yet until I see what our whole approach for the concurrent sketches will actually require.

[2017-03-01 21:07] #3983 closed

[2017-03-02 01:30] gianm commented on #3944
@nishantmonu51 could you please write something up for "Improved Kerberos support"?

[2017-03-02 12:05] nishantmonu51 commented on #3944
@gianm, Updated the initial comment with kerberos authentication.

[2017-03-02 16:15] gianm commented on #3944
Thanks @nishantmonu51

[2017-03-02 23:12] #3978 closed

[2017-03-02 23:18] praveev opened #3994 "Duration Granularity `toDateTime` throws UnsupportedOperationException"
Duration Granularity throws an UnsupportedException when its `toDateTime` [method](https://github.com/druid-io/druid/blob/0.10.0/java-util/src/main/java/io/druid/java/util/common/granularity/DurationGranularity.java#L117) is called.
This is incorrect. It should let the call through to base class Granularity to retain the pre-refactor behavior.

This bug was introduced with #3850 refactor. We notic

[2017-03-02 23:38] leerho commented on #3892
@leventov

I have a a design issue perhaps you could comment on:

A `ByteBuffer` has an internal ReadOnly / Writable state (as does a file).  Because we now have only one implementation, `WritableMemoryImpl`, the internal helper class `AccessByteBuffer` must return a `WritableMemoryImpl`. Similarly, the `AccessDirectMap` also returns a `WritableMemoryImpl`.

Close():

I do not provide close() in `

[2017-03-02 23:54] leventov commented on #3892
@leerho

`Memory` should also be closeable, because it's needed for a common pattern:
[code]

I didn't understand it's clearly but probably the rest of the problem will go away also.

Downstream read-only users can inadvertently close Memory: I agree it's not great, but currently I think it's a required trade-off (maybe my mind will change when we do actual Druid code migration and see how it work

[2017-03-03 01:10] leerho commented on #3892
@leventov

The pattern I am worried about is:

[code]
I don't understand what your "tradeoff" concern is.  Since we only have one way to instantiate a BB we could make it less verbose: `WritableMemory wmem = WritableMemory.wrap(BB)`.   Or perhaps we could make the name more concise: `WriteMemory` or `Wmemory`.  So we would have:

[code]

I would recommend that we start with not allowing Memory.clo

[2017-03-03 01:12] gianm commented on #3994
@praveev, are you working on a patch for this?

It also looks like we don't have many tests for DurationGranularity -- just a serde test, no query tests. It'd be good to add some usages of DurationGranularity to the query tests, like GroupByQueryRunnerTest et al.

[2017-03-03 01:14] gianm commented on #3994
As well as tests for its basic methods like truncate, toDateTime, and so on.

[2017-03-03 01:28] praveev commented on #3994
yup. we're deploying other stuff as well. so i want to see if there are any other issues, i should have a patch tomorrow.

[2017-03-03 01:30] gianm commented on #3994
great!

[2017-03-03 01:33] leventov commented on #3892
Ok, let's try something like `MemoryHandle extends AutoCloseable`, with `Memory get()` method.  `Memory.map()` and `allocateDirect` return `MemoryHandle`, other static factory methods return just `Memory`. And `Memory` with `WritableMemory` are _not_ AutoCloseable.

Then the pattern above is
[code]

Shouldn't need `asReadOnly()`, just upcast: `Memory mem = wmem;`. And actually this line not needed

[2017-03-03 02:14] leerho commented on #3892
@leventov

Does your MemoryHandle  apply to BB?  Could you give me a skeleton of what MH extends and includes?

I need the asReadOnly to set the readOnly flag, which an upcast will not do.  The RO flag is the only backup to detect a improper cast of (WritableMemory) memory.

[2017-03-03 02:39] leventov commented on #3892
If you mean "should `Memory.wrap(BB)` return MemoryHandle" I think no, because somebody who allocated BB should care about closing it.

`MemoryHandle` should be similar to [`MappedByteBufferHandler`](https://github.com/druid-io/druid/blob/657e4512d2a6499a9d0609b2cc32d134e9507e3a/java-util/src/main/java/io/druid/java/util/common/MappedByteBufferHandler.java). Since Memory still want to be able to c

[2017-03-03 03:30] leerho commented on #3892
@leventov

Something like:

[code]
`AccessByteBuffer`, `AllocateDirectMap` and `AllocateDirect` all extend `WritableMemoryImpl` and return MH.  So do all the static methods that create heap array backed `Memory` or `WritableMemory`.

Now the only way to close the retained `WritableMemoryImpl` is through MH and there can be only one owner of an MH.  This also means MH is the only class that the com

[2017-03-03 04:00] mjaow opened #3996 "a problem of post large quantities of data to lookups"
hi,when i post large quantities of data to /druid/coordinator/v1/lookups,i found it would serialize the data and insert it into druid_config (my metastorage table).while inserting so many data will cause mysql connection reset error.

how can i handle the situation?i don't know the usage of druid_config,can i just delete the code of inserting data into druid_config?

Expect quick reply,Thx

[2017-03-03 04:46] gianm commented on #3996
@mjaow, what's the reason that you're posting a large amount of data to the lookup config endpoint? It's not really meant to store a lot of data; it does support in-line lookups but that's meant for small ones. If you have a big lookup file it would work better to put it on s3 or http and reference that file from your lookup definition.

[2017-03-03 06:26] akashdw opened #3997 "HdfsDataSegmentPusher bug."
Hdfs namespace optimization changes https://github.com/druid-io/druid/pull/3877 introduced a bug in HdfsDataSegmentPusher causing exceptions during segment push (if an interval has more than one shard.)

Current code tries to rename `version`(parent directory of index.zip) directory instead of copying index/descriptor files to the right location. Renaming `shard` directory was valid but that direc

[2017-03-03 13:24] yaochitc commented on #3944
lgtm

[2017-03-03 16:07] gianm commented on #2262
@himanshug do you know if this is still an issue? We ran into a similar issue with groupBy v2 and I'm wondering if IntervalChunkingQueryRunner is just generally broken. It chunks up the query and then concats the returned sequences without putting them through a merger, which seems like a bad idea…

[2017-03-03 17:06] gianm commented on #3997
Thanks @akashdw for the report, I added this to 0.10.0.

[2017-03-03 18:51] himanshug commented on #2262
@gianm

it does put the results obtained from individual chunks through `toolChest.mergeResults(..)` before concatenation...

pipeline is like.....
[code]

there was another issue reported https://groups.google.com/forum/#!topic/druid-user/S8zfWDIrncQ .... i investigated that one in detail and found https://github.com/druid-io/druid/pull/2586 was the cause ... it was fixed in https://github.com/dr

[2017-03-03 19:19] gianm commented on #2262
What do you mean by "flat" groupBy queries? No subqueries? The query we ran into problems on was non-nested and had granularity "all". It did have a union datasource though.

I was talking about this part of IntervalChunkingQueryRunner:

[code]

Each individual chunk of results is merged with `mergeResults` but then the `Sequences.concat` is applied to the chunks. I was thinking that concat of the

[2017-03-03 19:23] gianm commented on #2262
Fwiw the reason I'm guessing this is because with granularity "all", for topN and timeseries, there will only be one result in the end. So concat is fine since they'll all end up getting merged together. With granularity != "all" there should be multiple results in the end and the concat could make results that should get merged be non-adjacent, and that non-adjacency would mess up streaming mergi

[2017-03-03 19:25] gianm commented on #2262
Maybe it would be enough to use `MergeSequence(query.getResultOrdering(), ...)` rather than `Sequences.concat(...)`.

[2017-03-03 19:27] #3994 closed

[2017-03-03 19:44] himanshug commented on #2262
@gianm good point... yeah, switching to `MergeSequence(..)` would fix it for streaming merge.... when I did it , I was probably too much into groupBy-v1 merging .
with that change, it should start working for groupBy V2

however , we should still limit it only to groupBy queries probably ... topN e.g. might still produce different result with/without chunking due to the limit push down on aggregat

[2017-03-03 20:53] leventov commented on #3892
@leerho

I forgot that we have Memory and WritableMemory, in this case I would prefer to have two separate interfaces `MemoryHandle` and `WritableMemoryHandle extends MemoryHandle`, both with a single `get()` method, because `getWritable()` allows `Memory.map(file).getWritable()`, that shouldn't be allowed.

I don't understand why it is needed to have subclasses with only specialized constructors.

[2017-03-03 20:54] leventov commented on #3892
Also I want to return to `asReadOnly()`, I don't actually understand what exactly it will check? It should be possible to upcast `WritableMemory` to `Memory`, because during query processing some buffers first act as writable, and then as read-only.

[2017-03-03 21:56] leerho commented on #3892
@leventov

What is making things tricky is that we only have one implementation, `WritableMemoryImpl`, which allows problematic casts. I am beginning to feel that splitting into two impls would be a lot cleaner, safer, and just not worry about the 30+ duplicated methods.  I have already organized the code in the  `WritableMemoryImpl` class so that all the RO methods are together, so a simple copy

[2017-03-03 22:06] himanshug commented on #2262
also, after `MergeSequence` change and with streaming merge in groupBy v2, most likely toolchest.mergeResults(..) call inside chunking query runner can be removed.

[2017-03-03 22:06] gianm commented on #2262
@himanshug I can start working on a patch for this unless you already are… please let me know either way

[2017-03-03 22:21] leerho commented on #3892
@leventov

- AllocateDirect and AllocateDirectMap both require Cleaner as a field.  The Cleaners have different implementations.  These two need to be a subclass so that a user call of close() at the root of the hierarchy does the work specified in the appropriate subclass.

- Also, the WritableMemoryImpl class is already huge, so I was looking for opportunities to split out well defined subsets o

[2017-03-03 22:21] himanshug commented on #2262
@gianm feel free to add the patch ... i haven't started on anything.

[2017-03-03 22:22] himanshug commented on #2262
@gianm feel free to add the patch ... i haven't started on anything. thanks

[2017-03-04 01:06] leerho commented on #3892
@leventov

Using an intermediate interface we can leverage AllocateDirect, AllocateDirectMap and AccessByteBuffer across multiple implementations.

Since positional will need to leverage both NE and BE, it should be a true interface.

[2017-03-04 01:43] gianm commented on #2262
Raised a patch with tests in #2262

[2017-03-04 06:41] HongZhu commented on #3025
Any updates?
@ottomata - have you identified a workaround?

I believe that I have encountered the same issue while performing batch ingestion of Snappy compressed Avro files into Druid.

Here is the exception:
org.apache.hadoop.mapred.TaskAttemptListenerImpl: Task: attempt_1486340755723_533930_m_001362_0 - exited : org.xerial.snappy.SnappyNative.uncompressedLength(Ljava/lang/Object;II)I

For our d

[2017-03-04 15:55] rocknrollnerd opened #4005 "Coordinator stops responding to http requests"
Hi,

A couple of days ago my coordinator server stopped responding to http requests. Instead it hangs, never returning anything, until client raises a timeout error. There are no tracebacks in coordinator's log, its overall activity seems pretty normal (it still continues logging, never freezing completely). I tried to debug it with `jstack -l`, but couldn't find anything useful, unfortunately ([c

[2017-03-04 19:27] egor-ryashin opened #4008 "MiddleManager fails to remove a task entry from Zookeeper, that leads to a stuck task entry"
If MiddleManager fails to remove a task entry from Zookeeper (ZK is unavailable, for example) here:
_io/druid/indexing/worker/WorkerTaskMonitor.java:400_
then it doesn't try afterwards.
That leads to a invalid task entry. The task doesn't exist nor it can't be killed manually which is a waste of resources and impedes AutoScaler operations.

There should be a retry until the ZK entry removal is suc

[2017-03-05 10:41] rocknrollnerd commented on #4005
Ah, figured it out. Turns out it was a network interface issue: I used to run coordinator with `_JAVA_OPTIONS="-Djava.net.preferIPv6Addresses=true -Djava.net.preferIPv6Stack=true"`, and disabling it solved the problem. Also I should've posted that on Google's Druid support group rather then here. Apologies.

[2017-03-05 10:41] #4005 closed

[2017-03-06 02:43] mjaow commented on #3996
@gianm  my teamates use hdfs for storage not s3,so can i just use hdfs and reference the file from my lookup?

[2017-03-06 07:32] naman-gupta810 opened #4011 "doubleLast function not working on firehose re-indexing"
If i give index task for existing datasource in which i want last value function to be used, then it gives me ClassCastException. I think it passes the last value only to the combine function not serialziable pair. Here is logs which I am getting on the console and the query which I fired.

Please let me know if you need any further logs or information. Thanks.

Log:
2017-03-06T06:47:12,983 ERROR

[2017-03-06 08:53] #3997 closed

[2017-03-06 09:21] gianm commented on #4011
@naman-aasaan, according to the docs,

So the thing you're doing is not supported at this time. What are you trying to accomplish? Maybe there's another way or maybe this is a missing feature.

[2017-03-06 09:26] naman-aasaan commented on #4011
Hi Gianm, We have requirement of finding out last value with re-indexing from 24 hours of data.
 What is the way forward ? We were highly relying upon this aggregation type.

[2017-03-06 09:32] gianm commented on #3996
I think HDFS should work for lookup files if you have the
druid-hdfs-storage extension loaded.

On Sun, Mar 5, 2017 at 6:43 PM, mjaow <notifications@github.com> wrote:

[2017-03-06 09:34] gianm commented on #4011
If you just want the last row matching a certain filter, you can do a select query with a filter, threshold: 1, and descending: true. You don't need reindexing for that.

If that's not what you want then could you describe what you're looking for in more detail?

[2017-03-06 09:42] naman-aasaan commented on #4011
Hi Gianm,

We have raw data being stored in Druid data source and we need to send some of the aggregations on 24 hours of data to some other interface.

We are thinking to perform re indexing on 24 hours of raw data to prepare aggregated feed where we need to prepare multiple aggregations on the raw metrics like SUM, MIN, MAX, LAST.  etc.

It looks odd to me if we have to read complete raw data ag

[2017-03-06 09:59] gianm commented on #4011
Could you use a groupBy query instead of reindexing to prepare the aggregation? With groupBy v2 we can now spill to disk so the only limit is disk space. That should work, since groupBy supports all those aggregations.

If you have to use reindexing, the for that to work, someone (possibly you) would have to make the last aggregators work at indexing time. This would probably involve a new column

[2017-03-06 10:28] naman-aasaan commented on #4011
Hi Gian, I can try groupBy query but the only problem looks to be about data - we have raw data for around 7.5 million subelments  and output of groupBy query is going to be little bit more than 7.5 million.

Kindly suggest.

[2017-03-06 11:41] gianm commented on #4011
7.5 million rows in the result should be okay. If necessary you can enable spilling to disk for groupBy using `druid.query.groupBy.maxOnDiskStorage`.

[2017-03-06 20:23] pjain1 opened #4016 "[Kafka Indexing Service] Decouple Druid segment partitioning from Kafka partitioning"
Currently Kafka indexing task creates a segment partition corresponding to a Kafka partition. However, in many cases Kafka partition does not directly indicate the amount of data that ends up in Druid segments and as a result many times the tasks end up creating a lot of small segments.

Therefore, this proposal is to decouple the segment partitioning from Kafka partitioning and thus allowing to t

[2017-03-06 21:13] gianm commented on #4016
The task does a separate segment per partition to make replicated ingestion work, see #2703 and #2844 for description of what can go wrong if multiple Kafka partitions go into the same Druid segment.

It is a big pain point though so maybe there's a creative solution to this problem…

[2017-03-06 21:50] pjain1 commented on #4016
@gianm If ordering is a problem then polled records can be ordered by partition first. So, all records for a single partition are consumed and then records for next partitions and so on. Or records can be sorted on combination of (partition + offset) and then consumed. This way ordering can be maintained independently at each replica. Does this make sense ?

[2017-03-06 21:53] gianm commented on #4016
I think that wouldn't work in practice when Druid is caught up to the Kafka stream (the normal case for real time indexing), it would mean that it won't read later partitions until very late in the task.

[2017-03-06 22:24] pjain1 commented on #4016
I meant ordering events after they have been polled basically after each `consumer.poll()` call. I did not meant that the task should consume events from one partition and then gets assigned to next partition and consume that and so on, this will not work.

However, I can see a problem in ordering after each poll call as well, if poll returns different number of records for partitions (or some par

[2017-03-06 22:52] gianm commented on #4016
Ah I see. In that case, I think you're right, there's a problem since there's no guarantee that different replicas will get the exact same batches from poll.

[2017-03-07 00:09] tslater opened #4018 "BUG: Unknown exception following getting started guide. "Invalid type marker byte""
I'm using macOS 10.12.3. I follow the tutorial exactly. When querying, at the very end, using the following command: `url -L -H'Content-Type: application/json' -XPOST --data-binary @quickstart/wikiticker-top-pages.json http://localhost:8082/druid/v2/?pretty` I get
[code]

The broker outputs:
[code]

The historical node is silent.

[2017-03-07 00:14] tslater commented on #4018
This may be the issue?

[code]

The quick start guide only provides 1 node when I'm configured for 2?

[2017-03-07 00:14] leventov commented on #3892
Personally I don't care that much about code duplication, but keep in mind "NonNative" subclasses, they should also be duplicated then.

This is actually what I want to avoid, see the very first message in this thread, "Goals" section, "Don't make a lot of Object copies when a Memory object has to be "sliced", "converted to read-only", etc.". See https://github.com/druid-io/druid/pull/3716#issueco

[2017-03-07 00:24] tslater commented on #4018
I figured out that my issue was that I was running Debezium on port 8083. I'm not sure which of the 5 services in the example were needing that port, so I'm not sure if it spit out an error or not. It might be nice to have the process completely fail if it can't bind the intended port.

[2017-03-07 00:34] #4018 closed

[2017-03-07 01:07] mitch-hulu commented on #3876
Is there a reason the port scan logic doesnt just happen in the peon itself? Does middle manager need the port to announce the peon? Or does the peon announce itself?

[2017-03-07 01:16] gianm commented on #3876
The middleManager announces the location of the task peon. I would guess the same as @nishantmonu51, that something else started using this port (28102). Maybe double check that your OS doesn't include this in its ephemeral port range.

Closing the issue but feel free to reopen if it seems Druid related after more investigation.

[2017-03-07 01:16] #3876 closed

[2017-03-07 02:18] onlychoice commented on #3608
Hi, @gianm,

Do you mean `"reingest"` here？ because I only see a `NoopTask` with task id `"reingest"` in `IngestSegmentFirehoseFactory`.

Can you give some clue on

Because I want to fix #3655 , but didn't find a simple way to do it (fixed with a callback currently).

Thank you very much.

[2017-03-07 02:21] gianm commented on #3655
This is related to #3608, a fix to that should fix this one too.

[2017-03-07 02:26] gianm commented on #3608
@onlychoice, I do mean "reingest". What's going on is that the IngestSegmentFirehoseFactory is creating a TaskToolboxFactory with a dummy NoopTask that has id "reingest". That dummy task id is used by the toolbox as part of its tmp directory. This causes a couple of problems:

- #3655: the tmp directory built from "reingest" isn't cleaned up
- this issue: the tmp directory is shared between tasks

[2017-03-07 03:47] onlychoice commented on #3608
Thanks @gianm , I got your idea, each task should have its own task work directory, and should be cleaned up after task is done.

I have searched through Task, TaskToolbox, TaskRunner, ExecutorLifecycle, but didn't find the code which do the job

Can you give some clues on this?  Thanks.

[2017-03-07 14:43] himanshug commented on #4016
one idea that floated was to let KafkaIndexTask create segments per kafka partition, eventually when time comes to publish those segments ... merge all "per partition" segments into a final segment and publish that one instead.

[2017-03-07 15:07] gianm commented on #4016
@himanshug hmm that sounds like it could work. The final segment would need to have a higher version number than the earlier ones but that should be doable. There might also be more than one final segment if the task handled a lot of data.

[2017-03-07 16:00] himanshug commented on #4016
@gianm actually final segment should have a higher version as it should overshadow the "per partition" segments served from peons

[2017-03-07 16:11] gianm commented on #4016
yeah, that makes sense.

[2017-03-07 18:00] himanshug commented on #4016
ok, had a short chat with @pjain1 and it appears merging at the end is not enough as the original problem faced by customer is related to slower queries due to many small "realtime" segments which would exist even when we do merging at the end.

[2017-03-07 18:01] gianm commented on #4016
Presumably it would still be useful though to your customer, since it would mean a lot fewer segments on historicals after handoff.

[2017-03-07 18:03] himanshug commented on #4016
another thing we briefly chatted about removing "maxRowsPerSegment" setting and in that world segment sized would be controlled by number of of kafka partitions per task and segment granularity.

[2017-03-07 18:04] himanshug commented on #4016
they run batch reindexing to do the merging already.

[2017-03-07 18:21] gianm commented on #4016
The setting prevents having segments that are crazy huge so I think it's still useful. But you can always set it to something crazy huge and then it's effectively disabled. I guess we could also have an "unlimited" option for it like -1.

[2017-03-07 18:23] niketh opened #4020 "Null Pointer Exception in MapBasedRow.compareTo"
We get a NPE when we fire groupBy queries using Broker 0.9.1.1 and Historicals (0.10).

`2017-03-07T17:52:37,896 ERROR [qtp900593187-194[groupBy_abc-groupBy2]] io.druid.server.QueryResource - Exception handling request: {class=io.druid.server.QueryRe
java.lang.NullPointerException
        at io.druid.data.input.MapBasedRow.compareTo(MapBasedRow.java:203) ~[druid-api-0.9.1.1.jar:0.9.1.1]
        at

[2017-03-07 18:49] leerho commented on #3892
@leventov

I'm trying to understand exactly what you are trying to avoid.  When I say "creates a new class", what I mean is a new wrapper pointing to the same resource.  Only a few pointer registers get created.  With a single impl  `asReadOnly` can be done with an up-cast.  But `slices` will always require a new wrapper object.  Also viewing a resource as positional will require creating a differ

[2017-03-07 19:07] niketh commented on #4020
@gianm A solution is to make the Historical use V1 incase the groupByStrategy is not specified in the query. But by changing that logic in GroupByQueryConfig, even the broker gets affected. And every query to the Broker would require us to pass in "GroupByQueryConfig"

[2017-03-07 19:24] fjy commented on #4020
@niketh please update to 0.9.2 first

[2017-03-07 19:27] gianm commented on #4020
@fjy imo, if feasible, it's best to make it easy for people to upgrade from any 0.9.x to 0.10.0.

@niketh I think we need different behavior on the broker and historical: because on the _broker_ we want to default to v2 if not specified (since v2 is default generally) but on the _historical_ we may want to default to v1 if not specified (for compatibility with 0.9.0 and 0.9.1 brokers). There is so

[2017-03-07 19:31] gianm commented on #4020
also, another option: on the historical, we may still want to default to v2 if not specified, but set a "compatibility flag" that causes them to return timestamps even when timestamps are not necessary. This would let them get all the performance benefits of v2 but still be compatible with older brokers.

[2017-03-07 19:35] niketh commented on #4020
@gianm Compatibility flag makes sense 👍 . Will post a PR shortly.

[2017-03-07 20:56] niketh commented on #4020
@gianm Also why not always return back timestamps like in the case of GroupByV1 ? The payload size increase should be very minimal.

[2017-03-07 21:55] gianm commented on #4020
@niketh serialization and deserialization of the timestamp between historicals -> broker was taking a lot of time in our profiling -- see #3740 where we measured a 30% speedup by nulling out the timestamp.

[2017-03-07 21:57] leventov commented on #3892
@leerho

Currently in Druid, a lot of `asReadOnlyBuffer()` are called on already read-only buffers, because there is no way to distinguish between read-only and writable on type level, and "asReadOnlyBuffer()" is called "for safety". Slicing should be partially replaced with passing primitive "position" (and, optionally, "size"/"limit") arguments along with `Memory` objects. Currently slicing is a

[2017-03-08 06:19] naman-aasaan opened #4021 "Issue with segment after 0.10.0-rc1 upgrade"
After upgrading to 0.10.0-rc1from 0.9.2 we are facing issues with respect to segment not getting loaded on HDFS properly.

We can see below exceptions in ladka indexing jobs -

org.apache.hadoop.fs.FileAlreadyExistsException:  rename destination

We are using hadoop 2.7.3.

We can see below in coordinator logs
skipping doNext () because something is currently loading

Did we miss anything in confi

[2017-03-08 07:08] leerho commented on #3892
@leventov

Here is what is implemented so far and compiles (see memory4):
Completing Buffer, WritableBuffer, asNonNativeEndian(), asNativeEndian() is pretty mechanical from here.

[code]

[2017-03-08 08:11] leventov commented on #3892
@leerho

 - `wrap(ByteBuffer)` returns Handler instead of just Memory - might complicate implementation, while not actually needed.
 - `wrap(ByteBuffer)` should inherit endianness from the buffer.
 - `asNonNativeEndian()` and `asNativeEndian()` won't be convenient, in Druid we need to convert endianness when we know a specific endianness that we need, usually BIG_ENDIAN. So using this API, it woul

[2017-03-08 09:54] niketh commented on #4020
Created PR https://github.com/druid-io/druid/pull/4022

[2017-03-08 10:45] niketh commented on #4021
@naman-aasaan It is expected to have  `org.apache.hadoop.fs.FileAlreadyExistsException` when you have 2 replicants for realtime. Your tasks shouldn't fail because of this, do you see your tasks failing?

[2017-03-08 10:56] niketh commented on #4008
@egor-ryashin In which version of Druid are you seeing this error?

[2017-03-08 15:48] gianm commented on #4021
@naman-aasaan You might be hitting #3997 which was a bug in rc1 when you have more than one segment for the same interval. If so then this will be fixed in rc2 which should be out soon.

[2017-03-08 15:55] naman-aasaan commented on #4021
Ok. As I visited referenced issue, it is already closed and reference issue given in 3997 also has been closed. So if I build using latest master. Will this resolve my problem for now.

[2017-03-08 16:01] gianm commented on #4021
@naman-aasaan yes it should. Or, you could build with the latest 0.10.0 branch, which is our release branch and also includes the fix.

[2017-03-08 16:06] naman-aasaan commented on #4021
OK. That will really Help, Thanks @gianm.

[2017-03-08 16:06] #4021 closed

[2017-03-08 17:23] naman-aasaan opened #4025 "0.10.0-rc1 : Segment Loading"
I recently started using this latest version and there are a few things happening very strange with respect to segment loading.

Any exception for any of the task and it starts getting this exception continuously and it stops any of the further segments coming for the same data source. I can see this issue happening on all my environments where i have upgraded with this version.
[code]

[2017-03-08 17:40] gianm commented on #4025
@naman-aasaan, is this happening on historical nodes? Is it on rc1 or have you built your own version including the fix in #4003?

[2017-03-08 17:48] gianm commented on #4025
Also does that stack trace keep going? If so could you include the whole thing?

[2017-03-08 18:00] leerho commented on #3892
@leventov

I'm was being conservative here, this is easy to remove after we have discussed it.  I was trying to capture the scenario where the owner of a BB passes a writable region to a client and then lets his own BB go out of scope thinking that he is done with it and no changes can be made.  If the owner uses try-with-resources or close(), then the client's copy is immediately marked invalid e

[2017-03-08 18:28] akashdw opened #4026 "groupBy v2 failing intermittently with complex columns"
We are on druid 0.10 and seeing groupBy v2 failing intermittently with complex columns, we don't see those failures with groupByStrategy=v1.
Stacktrace :
com.yahoo.sketches.SketchesArgumentException: Possible Corruption: Illegal Family ID: 0
	at com.yahoo.sketches.Family.idToFamily(Family.java:184) ~[sketches-core-0.8.4.jar:?]
	at com.yahoo.sketches.theta.SetOperation.wrap(SetOperation.java:105) ~

[2017-03-08 18:47] #4020 closed

[2017-03-08 18:48] akashdw commented on #4026
@gianm historical and realtime

[2017-03-08 19:08] himanshug commented on #4026
@gianm note that SketchBufferAggregator.aggregate() is not threadsafe while SketchAggregator.aggregator() is threadsafe to handle concurrency from IncrementalIndex.

with v2, is it possible that BufferAggregator.aggregate() would get called concurrently ?

[2017-03-08 19:12] gianm commented on #4026
@himanshug, groupBy v2 still won't call aggregator methods concurrently.

I think this is because this map in SketchBufferAggregator assumes that sketches will never be relocated:

[code]

But groupBy v2 does relocate aggregation buffers when it expands its hash table. Can you try working around this by adding `"bufferGrouperInitialBuckets" : 2147483647` in your query context and confirm if that f

[2017-03-08 19:18] himanshug commented on #4026
@gianm yeah, in case of relocation that might not work.
they are cached for performance , creating Union objects from buffers is expensive.

@akashdw is gonna try max size and verify if this is indeed the issue.

[2017-03-08 19:21] akashdw commented on #4026
@gianm Yes, groupBy V2 query worked with `"bufferGrouperInitialBuckets" : 2147483647`

[2017-03-08 19:22] himanshug commented on #4026
close/re-open aggregators on hashtable growth sounds good to me.

[2017-03-08 19:22] gianm commented on #4026
great, let's do that patch then. @akashdw @himanshug will one of you work on that or shall I?

[2017-03-08 19:24] akashdw commented on #4026
Yes, Working on it.

[2017-03-08 19:24] himanshug commented on #4026
@akashdw is looking into it.

[2017-03-08 19:45] gianm commented on #4026
thanks 🌟

[2017-03-08 19:52] leventov commented on #3892
@leerho ok. Could you complete memory4 (buffers, endianness, a bunch of get/put methods), so we can start actual refactoring of Druid?

[2017-03-08 19:56] leventov commented on #3892
Also I think `copy()` should be called `get()`, similar to `ByteBuffer` and to resolve ambiguity: copy to or copy from?

[2017-03-08 20:16] leerho commented on #3892
How about copyTo.  In BB get() is used for primitives and getXXXArray() for getting into your local context. Neither get() or put() make sense here as you could be copying bytes out of the JVM entirely.

Buffers and endianness will be quite a bit of work. Ultimately, I'd like to create a set of pragmas and a generator so that they can all be created automatically.  If I only start with a few metho

[2017-03-08 20:21] leventov commented on #3892
`copyTo()` is good.

Actually for starting refactoring implementation is not needed, so endianness could be delayed, just get/put methods should be present (for Memory and Buffer), maybe with UnsupportedOperationException impl.

[2017-03-08 20:32] cheddar commented on #4026
I disagree with that fix.  The aggregator is breaking contract by caching the position...  The aggregator should change to not cache objects anymore.  We can try to get the union object to  not be expensive to make on a buffer.

[2017-03-08 20:33] cheddar commented on #4026
also, open/close I don't believe will work because the current implementation assumes that hte object in its local cache is the "good" object.  which is broken.

[2017-03-08 20:34] leventov opened #4027 "Problematic third-party dependencies when moving from ByteBuffers to Memory"
Main issue is #3892

 - Roaring depends on ByteBuffers. Should either be merged into Druid codebase (see https://groups.google.com/d/msg/druid-development/Q039gtYVSQM/TgFzzezJCwAJ), or Roaring upstream library should adopt `Memory` (unlikely). cc @lemire
 - https://github.com/jpountz/lz4-java supports only `byte[]` and `ByteBuffer`. Should likely be merged into Druid to add `Memory` support. Or me

[2017-03-08 20:44] gianm commented on #4026
That sounds like a better fix if feasible.

@akashdw and @himanshug what do you think?

@cheddar by close/open I mean close, throw away, and re-create with factorizeBuffered. That should work around this, I think, although it'd be better for the aggregator not to store state inside itself.

[2017-03-08 20:45] lemire commented on #4027
@leventov

I think my answer would be the same, still. I don't see anything that would prevent it.

I don't think that's true. Maybe you mean the otherwise around?

[code]

Why is that unlikely?

[2017-03-08 20:53] patelh commented on #3944
Was the chunkPeriod bug in v2 group by engine fixed?  I would not recommend setting v2 as default until that is deprecated or fixed.

[2017-03-08 21:00] leventov commented on #4027
@lemire I mean that there is a way to create Roaring Bitmap, backed by ByteBuffers. ByteBuffers is a part of JDK so there are not in maven dependencies :)

Unlikely that you want to start depending third-party `Memory` library and integrate it into upstream Roaring. But I may be wrong. If you are not conceptually against it, we can submit a PR with Memory support.

[2017-03-08 21:06] himanshug commented on #4026
@cheddar @gianm @akashdw I'm good with removing caching of Unions and that would be ideal, however that would require some level of performance testing at least. also, we can check with @leerho if things have changed in Union creation since that code was written.

[2017-03-08 21:20] gianm commented on #3944
Yes, that was fixed in #4004.

[2017-03-08 21:25] cheddar commented on #4026
Yeah, I'll chat with @leerho about whether a faster wrap method could be provided.

@gianm looking at the code again, it *does* lazily reinstantiate the objects, so I think what you described would actually work (I had thought it didn't).  That said, the current contract on the interface is that init is called first and then it is used for storing.  In the close/reopen, we would end up breaking th

[2017-03-08 21:37] akashdw commented on #4026
I think  fixing `SketchBufferAggregator` not to cache position is something long term fix. close/reopen could be a short term fix? @gianm @cheddar @himanshug What do you think going forward with close/reopen approach for now?

[2017-03-08 22:06] lemire commented on #4027
@leventov

Roaring is community-driven. I don't think we have a rule against third-party libraries.

[2017-03-08 22:20] gianm commented on #4026
If fixing SketchBufferAggregator isn't feasible in the 0.10.0 timeframe then I'm ok with closing and re-creating the buffer aggs as a workaround. So I guess it depends on how much work fixing the aggregator would be.

[2017-03-08 23:19] cheddar commented on #4026
@gianm I'm not a fan of close/reopen because it is breaking the contract of the interface.  Also, we realized that there is another thing that is going to break what we are doing which close/reopen will not do.  For quantile sketches, they don't fit entirely in a fixed memory size, so we decided that when they need to grow beyond the available memory, we would pull them on heap and use the positio

[2017-03-08 23:28] huangting1 commented on #3945
+1 vote

[2017-03-09 00:05] gianm commented on #4026
@cheddar What's the contract that is being broken? To me it seems fine to close one aggregator and then use a different one to keep aggregating on the same buffer, since I imagined that "close" is supposed to release resources (but not modify the buffer), and so it should be fine for some other aggregator instance to do further processing on the same buffer state, which I imagined would store all

[2017-03-09 00:46] cheddar commented on #4026
@gianm the contract that I feel is getting broken is that a particular aggregator instance will see the space with its `init` method before it sees it with any subsequent method.  In the close/reopen case, the reopened aggregator will start seeing things in `get()` calls that it never saw in `init()` calls.

So, the problem in the quantile sketch case is that the algorithm isn't actually amenable

[2017-03-09 00:58] gianm commented on #4026
I think we can make variable sizes for buffer aggregators work. At least for groupBy, we can let aggregators grow into some of the space currently reserved for hashtable expansion. If the space fills up for either reason then we spill to disk. And after the spill we might reserve some extra space for aggregator growth if they needed it before the spill. That seems friendlier to me than letting the

[2017-03-09 01:56] himanshug commented on #4026
@cheddar I guess , we could do below which will do the "close/reopen" and still follow all aggregator contract if we do the init() call but discard updates done to BB like described below....

[code]

[2017-03-09 01:59] gianm commented on #4026
Or we could add a "relocate" method that tells the BufferAggregator that the sketch at a certain location has been relocated to a different location.

[2017-03-09 03:01] leerho commented on #3892
@leventov

Until I figure out how exactly I want to do endianness, the current Memory is only NE.  So, for now, attempting to wrap a BE BB is an error, which it now checks.

[2017-03-09 03:05] gianm commented on #4026
The growable stuff would be useful for theta sketches too, even though they don't strictly need it, it would still potentially save a lot of space.

[2017-03-09 03:11] gianm commented on #4026
Hmm, trying to keep things simple for 0.10.0 but hopefully nicer in the future, how do you all feel about the following:

- For 0.10.0 add a `relocate()` method to BufferAggregator, that when called, tells the BufferAggregator that its state has been relocated somewhere and it should throw away any position based caches it has.

- Post 0.10.0, deprecate that `relocate()` method, improve Union crea

[2017-03-09 04:27] niketh commented on #4027
@leventov I had a chat with @cheddar a couple of weeks ago while figuring a way around this. Both of us felt it was better to submit a PR with Memory against Roaring repo

[2017-03-09 06:55] akashdw commented on #4025
@gianm @naman-aasaan We ran into a very similar situation before fix in #4003. In short that bug caused bad entries in metadata.
1. This bug caused mm’s to think other instance of realtime wrote data into hdfs and tasks ended up writing segment metadata with hdfs location of non existing paths.
2. Coordinator assigns those bad entries to Historical.
3. Historical's were not able to pull data from

[2017-03-09 10:01] arpankhagram commented on #4025
Hi Gian/Akash, It looks to be working fine after upgradation to rc2 snapshot of 0.10 release.

[2017-03-09 16:38] gianm commented on #4025
Good to hear @arpankhagram. I'll close this issue then.

[2017-03-09 16:38] #4025 closed

[2017-03-09 17:04] cheddar commented on #4026
If we enable resizing, then it has to be done for TopN as well as any other place that chooses to use BufferAggregators.  Also, enabling resizing will introduce questions of how to reuse space most effectively (as things resize, what happens with the old space, etc.), which basically means that we are more or less reimplementing malloc.  That's the reason I've been shying away from wanting to do t

[2017-03-09 17:40] gianm commented on #4026
I think there's nothing wrong with a custom allocator, and there's good reasons: performance ("beat the gc") and avoidance of OOMEs. groupBy v2 can optionally start using the disk when it reaches its memory limit, and I think that's a good option to have. It also expresses its memory limit in bytes instead of rows like v1 did, so it's OOME resistant. Having state kept in the aggregator instances,

[2017-03-09 19:30] cheddar commented on #4026
Ok.  If you think that what I described with collisions won't happen, then I'm ok with adding `relocate()` as an interim solution.

[2017-03-09 19:41] akashdw commented on #4026
@cheddar @gianm  `relocate()` will throw away any position based caches, I don't think its gonna solve growing `quantile` sketches problem?
(https://github.com/druid-io/druid/issues/4026#issuecomment-285202370)

[2017-03-09 19:44] gianm commented on #4026
@akashdw, I think @cheddar means doing the `void relocate(oldPosition, newPosition)` option, which should give quantiles what it needs.

[2017-03-09 19:54] akashdw commented on #4026
I see. Going into implementation details, doesn't adding `relocate()` to BufferAggregator will break existing custom extensions? Any suggestions to avoid that?

[2017-03-09 20:10] gianm commented on #4026
@akashdw that's OK, 0.10.0 is a major release so backwards incompatible changes are ok. We just need to document it in the release notes.

[2017-03-09 20:22] akashdw commented on #4026
Okay, then I can start making the `relocate()` changes. Is there anything I need to be careful about? @himanshug @cheddar

[2017-03-09 20:51] himanshug commented on #4026
one thing that I originally thought of doing at the time of Union caching was below....

keep Map<Integer, Union> cache where key is not position in BB but just a monotonically increasing ordinal. Implementation would write the ordinal as first 4 bytes in the BB at given position. So, that way even if you relocate the data , SketchBufferAggregator would still find the right Union to use.
But this

[2017-03-09 20:57] leventov commented on #4027
@leerho
It seems to me that compression (LZF, LZ4) and hashing should be implemented on the Memory library side and be part of the Memory API. Otherwise they couldn't be implemented efficiently without excessive data copies.

[2017-03-09 21:05] lemire commented on #4027
@leventov  BTW if you have arrays of integers, they can be more efficiently compressed than by Lempel Ziv. I do not necessarily recommend using [JavaFastPFOR](https://github.com/lemire/JavaFastPFOR) as a dependency, but you should definitively be aware of what it does if you are dealing with arrays of integers at all.

[2017-03-09 21:08] leventov commented on #4027
@lemire thanks for pointing this out. Sometimes we compress integers and sometimes floating point data.

[2017-03-09 21:13] lemire commented on #4027
@leventov  Both of these are subject to data-aware optimized codecs; there has been a ton of work done on compressing integers in particular. Parquet, LinkedIn Pinot and others use such techniques to good effect. I'm available to chat about it.

[2017-03-09 21:44] leerho commented on #4027
@leventov @lemire

Sorry, I am coming in at the tail end of this thread and not sure I fully understand the use-case.  But I am skeptical of adding data-aware transformations directly into Memory.  Please explain where the efficiency gain would be.

[2017-03-09 21:54] lemire commented on #4027
@leerho Oh. I don't know whether it would be beneficial, but you can compress and uncompress arrays of integers an order of magnitude faster using dedicated algorithms (as opposed to Lempel Ziv) while improving compression ratios. This was just a passing remark, not a specific recommendation.

[2017-03-09 21:57] leerho commented on #4027
@lemire I agree.  But it is up to the user, who understands their data, to choose the appropriate transformation algorithm.  Trying to generalize that down to a low-level Memory API would be fraught with difficulties.

[2017-03-09 22:33] leventov commented on #4027
@leerho

The only was how you can compress `Memory` using e. g. LZ4 JNI is to copy the data to byte array/byte buffer and feed to JNI. Because `Memory` abstraction doesn't guarantee the data resides continuous chunk of actual virtual memory of the current process. `ByteBuffer` does guarantee this.

The other way around is to add something like `isContinuous()` to `Memory` API, `getObject()`, `getC

[2017-03-10 03:21] leerho commented on #3892
@leventov @niketh

**Consolidating Memory / MemoryImpl, WritableMemory / WritableMemoryImpl.**

I haven't had any real reason to do this until now.  However, after discussing with @niketh some of the issues he had to address when trying to implement the current DataSketches Memory into Druid I learned about some additional capabilities that would have been very helpful.  One very important capabil

[2017-03-10 04:31] leventov commented on #3892
@leerho
What about `Memory.compareTo(offset, len, Memory other, otherOffset, otherLen)`? You don't need any special API method or implementation `compare(Memory, WritableMemory)`, because `WritableMemory` extends `Memory`, so you can always use the same method.

[2017-03-10 04:55] jihoonson opened #4032 "[Proposal] Simple join support"
# Motivation

Join is a very popular and useful query type for OLAP. Druid currently doesn't support join due to [performance and complexity issues](http://druid.io/docs/latest/querying/joins.html). However, one of very popular join patterns in OLAP is a _star join_, i.e., joining a large fact table with many small dimension tables. Supporting this kind of workload with reasonable performance will

[2017-03-10 05:58] leerho commented on #3892
Look again.  WritableMemory does not extend Memory.  This is the two impl model.  Also, in your snippet you only need one len.

[2017-03-10 07:36] leventov commented on #3892
@leerho it means that new objects are required to be created where WritableMemory is passed to a method, accepting read-only Memory, that makes the situation with the third goal in the very first message in this thread even worse that it used to be with ByteBuffers. With ByteBuffers, API encourages to create asReadOnly() copies "out of fear", but it was not required. With what you propose, it is s

[2017-03-10 07:40] leventov commented on #3892
Sometimes you want to compare byte sequences of different lengths, as well as it's not prohibited to  compare Strings of different lengths.

[2017-03-10 09:30] elloooooo commented on #4016
May I ask  running batch reindexing means to submit a merge task?

[2017-03-10 09:56] leventov opened #4034 "After updating to Java 8, replace inefficient Map use patterns"
Current code sometimes uses inefficient or unsafe patterns, because Map and ConcurrentMap interfaces in Java 7 lack such methods as putIfAbsent(), compute(), computeIfAbsent(). This issue is not to forget to review and update such places after the project moves to Java 8.

[2017-03-10 14:25] himanshug commented on #4016
@elloooooo I meant hadoop based re-indexing , see http://druid.io/docs/0.9.2/ingestion/update-existing-data.html

[2017-03-10 16:53] pjain1 commented on #4016
@gianm @dclim I have updated the issue with the approaches that we (@cheddar and @himanshug)  came up after a discussion. Please see it that makes sense. Thanks

[2017-03-10 16:55] gianm commented on #4026
@akashdw @himanshug @cheddar are we decided on doing `void relocate(oldPosition, newPosition)` for 0.10.0? Is one of you planning on working on the patch?

[2017-03-10 17:17] akashdw commented on #4026
@gianm Yup, I'm working on the patch.

[2017-03-10 17:22] gianm commented on #4026
Okay cool thanks!

[2017-03-10 17:24] drcrallen commented on #4032
Cool! I haven't been able to give the plan a full review but I wanted to call out that having join functionality separate from QTL is the correct way to go. QTL was originally conceived as a high-performance, data-enrichment feature; not a join substitute. So hopefully it stays around and this can add some awesome functionality.

[2017-03-10 17:36] gianm commented on #4016
Is the idea with (2) that maxRowsPerSegment would become more of a loose guideline than a hard limit? It sounds like tasks would potentially need to go beyond maxRowsPerSegment to reach the same checkpoint as other tasks.

[2017-03-10 17:43] pjain1 commented on #4016
yes maxRowsPerSegment would not be a hard limit, I assume it should not go beyond a lot if Supervisor is up and running and network is behaving correctly. One thing that can be done is that task pauses when they reach maxRowsPerSegment and get resumed by Supervisor. Still it can go beyond maxRowsPerSegment depending on how much partition offset are out of sync on replicas. Currently, cannot think

[2017-03-10 18:21] gianm commented on #4016
I can't think of a way to make it a hard limit without separating segments by Kafka partition, or by doing a leader/follower approach, both of which have overhead. I think it's fine for maxRowsPerSegment to become a loose limit, but IMO the name of the parameter should change since "maxRowsPerSegment" sounds like a hard limit.

I do think it makes sense for the tasks to pause themselves when they

[2017-03-10 18:33] pjain1 commented on #4016
@gianm currently tasks do not check for taskDuration at all, its the supervisor who does the check for taskDuration for tasks and initiates the shutdown process.

[2017-03-10 18:35] gianm commented on #4016
What I meant was, the tasks could pause themselves when they hit taskDuration too and also notify the supervisor. The two functionalities (duration, max segment size) seem similar with the checkpoint change you proposed and might be nice to run them the same way.

[2017-03-10 18:38] pjain1 commented on #4016
Oh OK, that sounds great.

[2017-03-10 19:58] gianm commented on #3944
Added the following to clarify numeric dimension performance.

[2017-03-10 21:00] gianm commented on #4032
Nice proposal @jihoonson!

About broadcasting data,

What should we do when the broadcast dataSource hasn't been fully broadcast yet? For example, a new historical node comes online and hasn't loaded all of the broadcast dataSources yet. Or, a new broadcast dataSource is added, and it hasn't been loaded on all historical nodes yet. I can think of a few ways to deal with it.

1. Any nodes that don'

[2017-03-10 21:22] himanshug commented on #4032
we have been pretty successful creating extensions with custom query types that do specific things similar to join but not wholesome general joins...

basic idea has always been to create a custom query type, on receiving the query that implementation would use DirectDruidClient to send 1 or more queries to historicals to gather data... combine those results (sometimes in-memory if streaming kind

[2017-03-10 22:29] gianm commented on #4032
I think it would be cool to optimize a join plan to something like this in some cases (like QTL does when "injective" is true) but it makes sense to build out the regular path first that involves historical nodes.

[2017-03-10 22:32] gianm commented on #4032
@jihoonson, under "Future plan":

Does this mean caching the hash table of join key -> table row, for equi-joins? If so, maybe join performance could approach QTL performance, since that's similar to the data structure that QTLs use.

[2017-03-11 01:56] jihoonson commented on #4032
@himanshug thanks for your comment. I believe join will share mostly same path with other query types for processing as you said. I expect that the only change in historicals will be that they need to find segments for two or more data sources for join (in ServerManager).

[2017-03-11 02:28] jihoonson commented on #4032
@gianm thanks for your comment and nice suggestion.

For the case of when a query is submitted but broadcasting data (or updating broadcasted data) is not finished yet, I think the solution 2 for both cases would be good. A data source is not loaded until the data broadcast is not finished, so the query cannot be executed. Similarly, a data source is not updated until the update for all broadcaste

[2017-03-11 05:21] jihoonson commented on #4032
@gianm

It means caching the join key -> hash table only containing the build part, or join key -> final join result. It seems to be similar to QTL for the former case, I'm not sure which one is more beneficial.

[2017-03-11 05:26] jihoonson commented on #4032
@drcrallen thanks! I also think that QTL has its own goal different from join and has more rooms to achieve that goal.

[2017-03-11 07:11] erikdubbelboer commented on #2390
Is this still an issue? I think it can be closed.

[2017-03-11 16:38] naman-aasaan opened #4036 "0.10 Release Snapshot Issue"
We recently upgraded to 0.10 Release snapshot (taken codebase on Thursday- 09th March 2017)  and i noticed one strange thing when i used KAFKA Indexing Service.

For one of the KAFKA Indexing Supervisor it is not committing the data to segment (I have not mentioned any task duration so it should take it as default which is 1 HOUR PT1H). It is running since last many hours now and not started commi

[2017-03-11 21:04] HongZhu commented on #3025
FYI: recompiling Druid codebase by upgrading snappy-java dependency to at least 1.1.1.3 fixes the issue.

[2017-03-11 21:04] HongZhu commented on #3025
<dependency>
  <groupId>org.xerial.snappy</groupId>
  <artifactId>snappy-java</artifactId>
  <version>1.1.1.3</version>
  <type>jar</type>
  <scope>compile</scope>
</dependency>

[2017-03-12 14:35] tdingus opened #4037 "topN query returns error while groupBy works fine"
Hi,

I have the following query that returns error: "Instantiation of [simple type, class io.druid.query.topn.TopNQuery] value failed: dimensionSpec can't be null"

{
  "queryType": "topN",
  "dataSource": "fruits",
  "descending": "false",
  "dimensions":"apple",
  "metrics":["color"],
  "threshold": 5,
  "granularity": "all",
  "intervals": [
    "2017-03-12T14:03:00.000Z/2017-03-12T14:04:00.000

[2017-03-13 04:27] yashdeeph709 commented on #4037
Hi tdingus,
The groupby query mandatory requirement of  dimensionSpec which you didn't provided.
You can provide a dimension spec of various types: default,extraction,regexFiletered,listFiltered,lookup.
While topn don't need a dimensionSpec.

[2017-03-13 07:34] weijietong commented on #4032
@jihoonson  glad to see your join query idea , and coincidently , I am also woking on implementing a join method which I call it LocalJoin. It has the feature that a join query does not  need to be broadcasted, but partitioned on join keys of different data sources.   and I have done lots of the work .  I will  take another thread to talk about that later. but I think we have something common to

[2017-03-13 10:22] weijietong opened #4040 "[Proposal] support join query without the data shuffle"
## motivation
---
Most of the open source projects do not support join query as joining data from different tables needs to shuffle data across the cluster . As shuffling is a heavy work for the projects to do so , most of the supporting join feature projects utilize the distributed memory calculating technology to shuffle the data ,has a low reading latency, let the project be more complex and le

[2017-03-13 11:21] jihoonson commented on #4032
Hi @weijietong, I read your proposal, and sounds great! Your proposal is about joining tables partitioned by same key, and actually it is one of the future works listed above. I'm really glad that you are already working on it.
Yeah, I also think that we will have some issues we need to agree. Here is my hangout address: ghoonson.

[2017-03-13 11:33] jihoonson commented on #4032
@weijietong specifying intervals and granularities per DataSource will be really useful. Nice idea!

[2017-03-13 11:43] jihoonson commented on #4040
@weijietong thanks for your nice proposal! I have a couple of questions.

- The json spec for join query seems not extensible to support other query types as well. Is the ```LocalJoin``` query designed to support only inner equi join? I think this idea can be used for other types like outer joins or partially theta joins as well.
- Currently Druid supports [limited hash and range partition feature

[2017-03-13 12:56] weijietong commented on #4040
@jihoonson
* To 1st question , the ```LocalJoin ``` query json spec was initially designed to support inner equal join. I agree that it has limited expression ability to express join direction like ```left , right outer join```  though left or right outer join query can also be implemented later by ```LocalJoin``` technology , and  this is the aspect that we can discuss upon that.

* To 2st questi

[2017-03-13 13:03] weijietong commented on #4032
@jihoonson my hangout address is tongweijie178@gmail.com . For more details we can talk to each other on that.

[2017-03-13 14:15] weijietong commented on #4032
@jihoonson I think you don't need to implement the ```HashJoin``` for broadcasted data. You can utilize the  ```BitmapMatrix ``` technology of my ```LocalJoin``` implementation.  ```HashJoin``` will take more memory space by holding the joint field value and materializing all the matched join result. More details about ```BitmapMatrix``` see my proposal ,maybe I will submit  that part of code firs

[2017-03-13 16:24] tdingus commented on #4037
Hi yashdeeph709,

Thanks for replying. However, I did have "dimensions":"apple", which is according to http://druid.io/docs/latest/querying/topnquery.html.

It would be helpful if you could correct my example, and post it here.

 - tdingus

[2017-03-13 16:29] gianm commented on #4037
@tdingus, topN only supports one dimension at a time, so it's "dimension" not "dimensions".

[2017-03-13 16:31] gianm commented on #4036
There isn't a known issue. Could you please provide some more details including logs?

[2017-03-13 16:41] dclim commented on #4016
@pjain1 approach 2 sounds good to me, I agree that maxRowsPerSegment as a guideline rather than a hard cutoff makes sense. We would also be able to support something like #3439 now.

[2017-03-13 16:48] #4037 closed

[2017-03-13 16:51] dclim commented on #4016
@pjain1 in this section:
[code]
Do you actually mean handoff (writing the segment metadata, pushing the segment to S3, and then waiting for it to be loaded by a historical) or writing the segment to local disk and starting a partition? Right now, it does the latter, and handoff only happens after taskDuration elapses. If we implemented handoff before the task completes, we would theoretically be a

[2017-03-13 17:03] pjain1 commented on #4016
@dclim yes I meant actual handoff not just persisting to disk

[2017-03-13 17:08] gianm commented on #4016
It would be nice to have the tasks run forever, like @dclim says it'll help performance and it'll also require less worker capacity.

Other than implementing multiple stages of handoff per task, we also would need some changes to how ForkingTaskRunner handles logs (it doesn't rotate or upload them until a task exits, which would cause problems if they run forever). It seems worth it though.

[2017-03-13 18:51] naman-aasaan commented on #4036
Hi Gian, we forgot to take those logs but i found some disk space issue and heavy load issue on KAFKA and it looks like that caused some issue to this supervisor which was not allowing them to close the task and start a new one.

I am observing one more strange issue - I am getting below logs after supervisor calls itself success. I see data on HDFS but them are not getting loaded on Historical. I

[2017-03-13 18:53] naman-aasaan commented on #4036
I think it is failing before it writes an entry into MySQL and that is the reason it is not loading the data in Historical.

[2017-03-13 19:25] gianm opened #4043 "groupBy v2: Better error message when resources are exhausted"
See comments:

- https://github.com/druid-io/druid/pull/3953#issuecomment-281823683
- https://github.com/druid-io/druid/pull/3953#issuecomment-281851768

I think this would be a small change, and could go to 0.10.0 (since groupBy v2 is being made default there).

[2017-03-13 19:51] leventov opened #4044 "Mark interfaces which are Druid extension points in code"
Following https://github.com/druid-io/druid/pull/3889#issuecomment-285783193 it would be nice to have APIs which are sensitive to changes being designated in code e. g. with `@DruidExtensionPoint` annotation.

cc @himanshug

[2017-03-13 20:45] leerho commented on #3892
@leventov @niketh

All fixed.  One impl. Cast to `Memory` from `WritableMemory` works.   Both `compareTo` and `copyTo` have been implemented.  @niketh is working on the `Buffer` / `WritableBuffer` impls.

[2017-03-13 21:10] leventov commented on #3892
@leerho thanks!

I see you decided to name WritableMemory's static factory methods with "writable" prefix. This is because you are concerned about overloading of Memory's methods? In this case I suggest to move them to Memory, because `WritableMemory.writableMap()` is a needless repetition. It could be `Memory.writableMap()`.

[2017-03-13 21:27] drcrallen commented on #4044
I thought that's what druid-api is for. Or more specifically, if you are writing extensions and using classes that are NOT in druid-api, then they might change from release to release.

[2017-03-13 21:29] drcrallen opened #4045 "`CompressionUtils` only once"
`CompressionUtils` exists in both `java-util` and `api`. This ask is that there be just one class called `CompressionUtils`.

[2017-03-13 22:29] leerho commented on #3892
@leventov

Yes, I was getting overloading errors, but the reason was because I still had `WritableResouceHandler` and `ResourceHandler` as separate classes from the previous scheme.  By making `WritableResourceHandler` extend `ResourceHandler` (parallel to `WritableMemory` extend `Memory`) it fixed the overloading problem.

I have removed all the prefixes of writable except for one:  writableRegio

[2017-03-13 22:39] leventov commented on #4045
In general, `java-util` and `bytebuffer-collections` modules should be dissipated in other modules, mainly merged into `druid-common`

[2017-03-13 22:40] leventov commented on #4044
`BufferAggregator` is not in druid-api, but @himanshug pointed out that many people extend it

[2017-03-13 22:47] leventov commented on #3892
@leerho Thanks.

The current form: `mem.writableRegion()` is OK to me.

[2017-03-13 23:56] gianm opened #4047 "SqlResource: Metrics, request logs, cancellation"
SqlResource should be up to the standards of QueryResource:

- Emit metrics for SQL queries. This could be `query/sql/time` to differentiate it from `query/time`.
- ~Emit metrics like `query/time` for the Druid native queries that underlie a SQL query. There might be more than one of these per SQL query.~ Fixed in #4561
- ~Emit request logs for the Druid native queries that underlie a SQL query.~

[2017-03-13 23:57] drcrallen commented on #4047
Why would metrics need to be different?

[2017-03-13 23:57] gianm commented on #4047
Because one SQL query can lead to multiple native Druid queries, there's an extra layer that QueryResource doesn't have to deal with.

[2017-03-13 23:58] drcrallen commented on #4047
Would it make sense to have an extra dimension for those metrics instead?

[2017-03-14 00:00] gianm commented on #4047
I dunno, it depends on whether you think `query/time` means "the time it takes for an http call to return" or "the time it takes a native druid query to execute". Either one should be fine as long as the information is there.

With other things, we give different "layers" of a request different names, like `query/time`, `query/node/time`, `query/segment/time`, etc.

[2017-03-14 01:06] jihoonson commented on #4032
@weijietong I looked over the paper you mentioned in your proposal, and I think implementing HashJoin is still valuable because join predicate can have arithmetic operators as described above which is difficult with bitmap indexes. In addition, I'm not sure but HashJoin wil be faster than CP, the proposed method in the paper, for equi join. Finally, I think having several join strategies will be b

[2017-03-14 05:41] akashdw opened #4048 "Task to complete even if the logs haven't completed uploading"
One of our realtime task got stuck in running state even it got marked as `"status" : "SUCCESS"`,

  "id" : "abcd",
  "status" : "SUCCESS",
  "duration" : 713
}

We found it was due to mm got stuck while uploading the logs into hdfs (this was b/c of regular grid maintenance) but peon completed successfully.
Now real issue is that mm was available to take new tasks but overlord did not assign any t

[2017-03-14 09:11] hzy001 opened #4050 "Why the Overlord's page is titled Druid Indexer Coordinator Console"
![overlord](https://cloud.githubusercontent.com/assets/9567254/23893254/c102e096-08d8-11e7-976e-670fc497260a.png)

As the above picture shows, why the Overlord's page is tigled Druid Indexer Coordinator Console?

[2017-03-14 13:59] Gkhere commented on #3960
Yes, I faced the same problem for graphite too... could you please provide the option of disabling.

[2017-03-14 15:24] himanshug commented on #4044
@drcrallen @leventov i don't think there is an exhaustive list of interfaces that are considered the extension points. however, things mentioned in http://druid.io/docs/0.9.2/development/modules.html are considered public extension points.

[2017-03-14 15:29] arpankhagram opened #4051 "0.10 Want to know the meaning of this Exception"
I am running tasks through kafka indexing service. Found historical node down with below exception -

2017-03-14T13:43:34,681 INFO [Thread-43] org.eclipse.jetty.server.AbstractConnector - Stopped ServerConnector@72443081{HTTP/1.1,[http/1.1]}{0.0.0.0:8083}
2017-03-14T13:43:34,684 INFO [Thread-43] org.eclipse.jetty.server.handler.ContextHandler - Stopped o.e.j.s.ServletContextHandler@59fc6d05{/,null

[2017-03-14 17:17] cheddar commented on #4048
From the discussion during the dev chat.  It sounds like we can resolve this with one of two options

1. We can introduce a timeout to pushing up the logs and have it give up and just clean up the logs at some point
2. We can hand the log upload off to another thread that does it in the background.  If we go with this option, this background thread should have a well-defined retry mechanism as wel

[2017-03-14 19:07] #4043 closed

[2017-03-15 02:30] gianm commented on #1642
Work based off this proposal was released a couple releases ago. Circling back and closing this.

http://druid.io/docs/latest/development/extensions-core/kafka-ingestion.html

[2017-03-15 02:30] #1642 closed

[2017-03-15 02:31] gianm commented on #4016
Related to the logging situation: #401

[2017-03-15 03:22] arpankhagram commented on #4051
I am finding historical node down again and again with above exception. Any clue ?

[2017-03-15 03:52] andy256 opened #4056 "Another day, another Apache Curator bug"
We just ran into this in production: https://issues.apache.org/jira/browse/CURATOR-358

Long story short, zookeeper was down, druid came up, zookeeper came up, but no master ever took over.

Might want to bump the curator version in the pom.xml.

[code]

[2017-03-15 04:39] drcrallen commented on #4056
Related. https://github.com/druid-io/druid/issues/3837

[2017-03-15 04:44] drcrallen commented on #4056
Looks like 2.11.2 got bumped to 2.12.0?

That will not happen fast

[2017-03-15 11:00] zhxiaom5 opened #4058 "singe node,local storage,Found [0] sinks to persist and merge"
the task logs belows

2017-03-15T10:50:00,002 INFO [small_platform_node-overseer-0] io.druid.segment.realtime.plumber.RealtimePlumber - Skipping persist and merge for entry
2017-03-15T10:50:00,002 INFO [small_platform_node-overseer-0] io.druid.segment.realtime.plumber.RealtimePlumber - Found [0] sinks to persist and merge
2017-03-15T10:50:26,659 INFO [coordinator_handoff_scheduled_0] com.metamx.ht

[2017-03-15 11:01] zhxiaom5 commented on #4058
just like #3564

[2017-03-15 12:14] jihoonson commented on #4032
I discussed with @gianm offilne, and found that load rules are not proper for data broadcast because load rules are currently used for replication which is usually for retaining data. Broadcasting data is an extreme case of replication, and I think it will be used only for join. So, if load rules are used for broadcasting data, they are used for two different goals, retaining data and preparing da

[2017-03-15 12:21] jihoonson commented on #4040
Thanks for your reply. For the second question, I'd like to ask you further how you decide the location of segments of different data sources partitioned by the same dimension. I think only the segments of the associated data sources should be co-located together because, otherwise, a skewed data distribution can be caused. I wrote some idea about this issue [here](https://github.com/druid-io/drui

[2017-03-15 15:05] gianm commented on #4056
Looks like a version with the fix was released a couple of weeks ago. Thanks @andy256 for the reminder, I raised #4060 to update our version.

[2017-03-15 16:24] onlychoice commented on #3608
https://github.com/druid-io/druid/blob/master/indexing-service/src/main/java/io/druid/indexing/overlord/ForkingTaskRunner.java#L492

[2017-03-15 16:32] gianm commented on #3608
Yes, that's it, sorry for not getting back to you earlier.

[2017-03-15 17:49] leventov commented on #4034
E. g. https://github.com/druid-io/druid/pull/3889/commits/77c3981ed8328b00955979a2e476ab3bd1457b5c

[2017-03-15 19:22] leventov opened #4065 "Optimized TopN query execution when dimension has only one value"
TopNs frequently have just one value (usually `Null`). For this case, we can add an optimized aggregation method to `BufferAggregator` class, which aggreates into a single local variable and returns it. Such methods could be compiled much more efficiently (likely vectorized!) by Java than the more generic `scanAndAggregate()` versions, which assume many dimension values and store aggregates in ind

[2017-03-15 19:24] gianm commented on #4051
@arpankhagram I think you probably have the cause and effect backwards. This exception is not making your historical node shut down, it's happening _because_ your historical node is shutting down. Is it possible something is killing it? Maybe you're running it from a terminal that then closes, or something like that? Are there any exceptions further up in the log that look like they might be fatal

[2017-03-15 19:29] gianm commented on #4065
Is there any reason not to use the bytebuffer anyway? It's already allocated for the query whether we use it or not, and if we use it, then we don't need an additional implementation of aggregation. It seems like this optimization could be done by making changes just to the topN engine and not to BufferAggregator.

[2017-03-15 19:33] leventov commented on #4065
@gianm I'm almost sure Hotspot won't be able to vectorize loop, which writes to ByteBuffer on each iteration. However to allow to write a really concise loop and vectorization this optimization should also be integrated with Cursor, it should be checked that cursor is not filtering and goes though the continuous chunk of memory.

[2017-03-15 19:41] leventov commented on #4065
Also since now we can use `default` methods in interfaces, it's not a problem to add such new method(s) to `BufferAggregator`, they could have default implementation:
[code]

[2017-03-15 19:54] gianm commented on #4065
Oh, thanks for the example code, now I understand what you mean. Earlier I thought you meant this new method would process just one row. But it looks you meant to process the entire cursor.

Alternatively what do you think of vectorizing the cursor, so it can advance in chunks at a time and we can have aggregators aggregate over a whole chunk? Then they can still use a bytebuffer for storage witho

[2017-03-15 20:20] leventov commented on #4065
@gianm sounds good

[2017-03-15 20:52] #2262 closed

[2017-03-15 22:00] gianm commented on #4036
@naman-aasaan do you have logs from the overlord that show it trying to write to MySQL and failing?

Is the supervisor active and responding to endpoints like status? See "Get Supervisor Status Report" at http://druid.io/docs/latest/development/extensions-core/kafka-ingestion.html. (supervisorId is the datasource name)

[2017-03-15 22:01] gianm commented on #4026
@akashdw, have you had a chance to work on or test this patch?

[2017-03-15 22:52] akashdw commented on #4026
@gianm, done with the code, testing is in progress. If everything goes well, will create a PR tomorrow.

[2017-03-16 00:22] ben-manes opened #4067 "Make Caffeine the default in-memory cache"
Per #4062, Druid now requires a Java 8 runtime. Previously the JDK7 support meant that the Caffeine integration was provided as an optional plugin. The default in-memory cache is a synchronized LinkedHashMap, which has low performance in production usages.

Switching was [approved](https://github.com/druid-io/druid/pull/4062#issuecomment-286888958) so this should improve the out-of-the-box experie

[2017-03-16 02:03] weijietong commented on #4040
@jihoonson I have read the proposed idea by @gianm. I think DistributedRule is a good concept to express the data distribution to the users. As mentioned above,to distribute the partitioned data, I defined four relevant metadata tables which is similar to implement the DistributeRule. A bucket is a group of segments which have partitioned by the same dimension key. When ingesting the data,we have

[2017-03-16 02:55] jihoonson commented on #4040
You mean the locations of segments (including replicas) are decided by ```IPartition``` which is based on the consistent hashing, and the actual storing and replicating segments are done by load rules? Sounds good, but I have one more question about that.
Druid is currently using ```BalancerStrategy``` to decide which server will hold a segment. ```IPartition``` seems to do the same work, so do yo

[2017-03-16 03:43] gianm commented on #4067
@ben-manes would you be willing to contribute a patch that does the necessary shuffling around of things?

[2017-03-16 03:43] gianm commented on #4026
Great, thank you.

[2017-03-16 04:03] weijietong commented on #4040
To be concrete ,`IPartition` does the real distribution logic work ,which we can have different distribution algorithms like the `HRW consistent hash`,`Jump consistent hash`,the traditional ring consistent has ,or just assign to all the corresponding servers like broadcasting. I implementation another `BalancerStrategy ` called `ClusteringBalancerStrategy` which use the distribution result (i.e. t

[2017-03-16 04:38] jihoonson commented on #4040
Ah, I got it. Thanks for your detailed description. It's ok if the size of PR is not large. Please go ahead.

[2017-03-16 05:41] leventov commented on #4065
And for `CountBufferAggregator`, it is not even a loop, it's O(1) getting the size of the block or the cardinality of the cursor.

[2017-03-16 05:41] ben-manes commented on #4067
I could try, but I wouldn't be able to get to it for a week or two.

[2017-03-16 15:15] gianm commented on #4067
You might still get to it first!

Going to mark this 0.10.1 since it seems like something we should be able to do for the next release.

Btw, there is no "default" cache (by default cache is disabled, and enabling it requires setting a specific cache type) so imo, what this issue should be about is:

- Move caffeine-cache from an extension to core
- Update the example cache configs (where most use

[2017-03-16 15:25] drcrallen commented on #4067
To play Devils' advocate here:

Is there any advantage to moving it to core vs updating the example configs to include it by default?

[2017-03-16 15:30] gianm commented on #4067
My thinking is that since local and memcache are not-extensions, having caffeine be an extension makes it feel less "recommended". If local cache and memcache became extensions too then it would make sense for caffeine to stay an extension.

[2017-03-16 15:31] drcrallen commented on #4067
Would moving memcached and local to extensions make sense?

[2017-03-16 15:32] drcrallen commented on #4067
Or maybe just memcached

[2017-03-16 15:33] drcrallen commented on #4067
A "reference implementation" with no external dependencies is a good thing to keep in core druid

[2017-03-16 15:35] drcrallen commented on #4067
Having quality extensions helps serve as examples and templates for new developers.

[2017-03-16 15:36] gianm commented on #4067
Are you envisioning a path to deprecating and eventually removing `local` in that case? I was thinking a process like (1) move caffeine to core, (2) deprecate local, (3) remove local, (4) now caffeine is the only remaining local mode cache.

If caffeine stays an extension that at steps (3) and (4) we won't have any cache impl in core.

[2017-03-16 16:13] drcrallen commented on #4067
I was thinking:

1. Make things that are extension point AND require external dependencies be an extension
2. Move memcached to an extension
3. Make "local" the reference implementation inside of Druid and memcached/caffeine the reference extensions in extensions-core.
4. Since the hybrid cache doesn't require external dependencies, I'm not quite sure where it would fall here.

I'm not convinced t

[2017-03-16 16:14] drcrallen commented on #4067
so by "make default" if this means "use in all the examples and highly recommend it" then that can (and should) be done in either scenario.

[2017-03-16 16:20] drcrallen opened #4068 "Make extensions load definition easier for multiple extensions collections"
As it currently stands, it is possible to have extensions which are applicable only to certain microservices within druid. For example: a broker does not need to load in a deep storage extension, coordinator does not need a cache extension, historicals don't need to load the spark batch indexer.

MOST of the time this is harmless, but if there is a reason to have an extension loaded only on certai

[2017-03-16 16:39] gianm commented on #4067
I don't see a purpose of keeping `local` around if `caffeine` is just straight up better. `caffeine` can still serve as a reference implementation, even though it delegates to another library it still does a good job of demonstrating how to write a Druid cache implementation.

[2017-03-16 17:51] gianm commented on #4016
@pjain1 are you planning on working on a patch for this?

[2017-03-16 18:01] pjain1 commented on #4016
Yes..I am working on this. I will try to send a PR by end of this week.

[2017-03-16 18:19] gianm commented on #4016
Great, thanks. Let me know if you want to discuss anything, otherwise looking forward to it!

[2017-03-16 21:53] ben-manes commented on #4067
Retaining `local` becomes the easiest (preferred) solution for users looking to quickly solve a performance problem. You might later want to enable it by default if you want a good out-of-the-box experience. I'd argue for removal of `local` because there seems to be no benefit, there is more code to maintain, and it might confuse users.

I have no opinion on whether it should be replaced by Caffei

[2017-03-16 22:25] leerho commented on #3892
@leventov @niketh @cheddar @gianm @weijietong @AshwinJay

Development of the new memory architecture has been migrated from experimental/memory4 to its own, more visible repository `memory` in `DataSketches`.

I have completed the central Memory and WritableMemory implementation and first wave of unit tests, with coverage at about 95%.   I think (hope) the API is fairly stable.  I will try to put

[2017-03-17 02:40] akashdw commented on #4026
@cheddar @gianm @himanshug  created a pr https://github.com/druid-io/druid/pull/4071 to address this issue, please check.

[2017-03-17 04:56] gianm opened #4073 "PeriodGranularity doesn't work right in Kathmandu"
Test case below. PT1H works fine but PT2H doesn't.

[code]

[2017-03-17 04:58] gianm commented on #4073
I hope I'm not being too optimistic with the easy tag :)

[2017-03-17 07:38] gianm opened #4076 "Document timestampSpec missingValue option"
It's undocumented with a scary comment `// this value should never be set for production data`. But it's useful for data that really doesn't have a natural partitioning timestamp, where the user wants to partition on some other column and just give druid a "fake" timestamp.

It should be documented, but with the proper caveats about how it makes Druid's special time-oriented features effectively d

[2017-03-17 22:57] #3608 closed

[2017-03-18 01:37] onlychoice commented on #3655
#4069 fix this, the issue should be closed, @dclim @gianm

[2017-03-18 01:37] #3655 closed

[2017-03-19 08:24] leventov opened #4080 "Better long and float column compression"
The idea is brought here: https://github.com/druid-io/druid/issues/4027#issuecomment-285482520

https://github.com/lemire/JavaFastPFOR

[2017-03-19 08:36] leventov commented on #4080
Also a good timeseries compression algorithm is described here: http://www.vldb.org/pvldb/vol8/p1816-teller.pdf

[2017-03-19 22:00] pjain1 commented on #4016
Update: Still working on it, will require few more days.

[2017-03-20 02:43] kaijianding commented on #4068
Option 2 sounds better.
I currently face the same problem. I have an extension which requires `QuerySegmentWalker`, but overlord doesn't have one and overlord failed to start, I have to override extension list in runtime.properties to fix it.

[2017-03-20 17:42] gianm opened #4082 "Timestamp format "auto" should detect iso8601-but-with-space-separator"
These formats are popular but not detected by "auto" because they have a space instead of a "T" between the date and time parts.

Examples:

- `2016-09-13 07:33:02`
- `2016-09-13 07:33:02.132`
- `2016-09-13 07:33:02.132Z`
- `2016-09-13 07:33:02.132-08:00`

[2017-03-20 19:04] leventov opened #4083 "Upgrade to server-metrics 0.3.0"
[`server-metrics` 0.3.0 is incompatible with 0.2.8](https://github.com/metamx/server-metrics/releases/tag/server-metrics-0.3.0) in the emitted jvm/gc metrics. So we can upgrade in 0.10.0, or only in 0.11.0.

[2017-03-21 10:04] erikdubbelboer opened #4088 "Unable to build 0.10.0-rc1 from source"
I always build previous version from source and this worked fine. I can also build `master`. It's just `0.10.0-rc1` that doesn't work. I'm afraid I'm not familiar enough with building java projects to fix this myself :(
[code]

I already tried removing my `.m2/` directory.

[code]

[2017-03-21 14:34] gianm commented on #4088
Is this a build from the tag `druid-0.10.0-rc1`? Does it work if you do `mvn install` first?

[2017-03-21 15:13] erikdubbelboer commented on #4088
Tag `druid-0.10.0-rc1` yes. `mvn install` is the command I'm trying to run.

I now found that `-DskipTests` works but `-Dmaven.test.skip=true` give the error above.

[2017-03-22 02:37] leventov commented on #4034
Except for collections from fastutils, because they doesn't have specialized forms of those methods yet.

[2017-03-22 03:19] leerho commented on #3892
@leventov @niketh @cheddar @gianm @weijietong @AshwinJay

The Memory and Buffer hierarchies are checked in to master.  @niketh is working on more unit tests, especially for the Buffer hierarchy.  Hopefully we can have a release to Maven Central this week.  Please look it over.

[2017-03-22 03:40] mjaow opened #4090 "consult about how druid query data in the version of 0.9.1"
realtime node was the role to query realtime data.Now there is no realtime node,which node will get the realtime search done?Is it peon of middle-manager?it seems no doc mention about this

[2017-03-22 03:46] gianm commented on #4090
Yes, you have it right. There are some docs at http://druid.io/docs/latest/design/indexing-service.html although I guess they could be more explicit about the fact that tasks handle queries too. A patch would be welcome 😄

[2017-03-22 03:46] #4090 closed

[2017-03-22 03:48] mjaow commented on #4090
@gianm thx for reply.You solve my problems ^^

[2017-03-22 03:57] asdf2014 opened #4091 "Why `avro-extension` just only support `GenericDatumReader` rather than `SpecificDatumReader`?"
Druid 0.9.2
Should we add some options to support `SpecificDatumReader`?
[code]

[2017-03-22 04:04] leventov commented on #3892
@leerho you mean here: https://github.com/DataSketches/memory?

I think we completely agree on API, except that it misses (?) byteOrdering functionality, that is needed for making refactoring of Druid. Because we need to support many old formats which are big-endian.

I didn't review internal implementation details because actual refactoring of Druid and/or DataSketches with the new API may demons

[2017-03-22 04:16] erikdubbelboer commented on #4050
I guess because it shows the coordination of all index tasks.

[2017-03-22 04:28] leerho commented on #3892
Yes.

It was recommended by both @cheddar and @niketh that the byte-ordering functionality is not essential, and that it was more important to get this package out, so that folks can start working with it.  I have no plans to implement byte-ordering.

@niketh already has submitted a PR based on the original memory API and has a real good understanding of the implementation issues, and will be the

[2017-03-22 04:44] leventov commented on #3892
This is one of the things that actual attempt of refactoring of Druid should verify. So yes, we can try to start refactoring without byteOrdering functionality and see if it works well.

[2017-03-22 07:15] asdf2014 commented on #4091
Maybe, we should add `kryo-extension` for better performance about the speed of serializer and the ratio of compression.
![image](https://cloud.githubusercontent.com/assets/8108788/24186242/62bdb28c-0f12-11e7-890b-f432586c7271.png)

[2017-03-22 10:59] gabrielpage opened #4093 "Caching in 0.10.0-rc1 is returning wrong values"
This issue is not present in 0.9.2

This can be replicated with the wikiticker quickstart. Once this data is loaded, execute the following 2 queries :

[code]

This return the correct values

[code]

Then execute the following query (it's identical other than the order of the aggregations)

[code]

Yields the following.

[code]

The values returned have been "switched". With "count" incorrectly sh

[2017-03-22 13:49] hzy001 commented on #4050
:1st_place_medal:

[2017-03-22 15:43] gianm commented on #4093
Thanks for the report @gabrielpage. Confirmed locally, working on a fix.

[2017-03-22 16:09] gianm commented on #4093
Patch in #4094.

[2017-03-22 16:45] niketh opened #4095 "Backward incompatible change with Tranquility"
@gianm @cheddar

https://github.com/druid-io/druid/pull/4060 is causing a backward incompatible change which is breaking existing Tranquility, here is the error
`2017-03-22 14:02:06.527 y.s.a.s.DruidBeamSink TranquilitySink_[5 5] [ERROR] TranquilitySink - Problem preparing DruidBeam bolt in worker 5: java.lang.RuntimeException: org.codehaus.jackson.map.exc.UnrecognizedPropertyException: Unrecogniz

[2017-03-22 17:20] gianm commented on #4095
That looks like we need to set the "ignore unrecognized property" flag on whatever object mapper Tranquility is using, so probably a Tranquility bug rather than Druid bug.

What's the nature of the incompatibility exactly? Do you get that error when you run latest Tranquility against a Druid 0.10.0-rc1 cluster?

[2017-03-22 17:46] niketh commented on #4095
@gianm We are using 0.5.0 version tranquility against a Druid latest (master branch - commit 6febcd9)

[2017-03-22 22:16] gianm commented on #4095
@niketh, I tried locally and confirmed this is still a bug with the latest tranquility. It's fixed by updating Tranquility's Curator. After doing that, tranquility works against both Druid 0.10.0 and 0.9.2. Probably other versions too!

I'll send a Tranquility PR in a bit.

[2017-03-22 22:18] gianm commented on #4095
Tranquillity patch at: https://github.com/druid-io/tranquility/pull/213. @niketh are you able to try that out? You can do a build by running:

[code]

[2017-03-23 00:20] gianm commented on #4095
Marking 0.10.0 release notes, this should at least end up there if nothing else. Something along the lines of needing to update tranquility first if you're using that.

[2017-03-23 05:14] erikdubbelboer opened #4097 "0.10.0-rc1 query fails with: This method should not be invoked for this granularity type"
A query (see below) that worked with previous versions now fails on 0.10.0-rc1 with:
[code]

The query:

[code]

[2017-03-23 08:23] asdf2014 opened #4098 "EOFException in `Avro-Extension`"
[code]

[2017-03-23 08:24] praveshg opened #4099 "Incomplete Druid Output for Timeseries Queries - Zero Filling Not Working properly"
Following is the query -
{
	"queryType": "timeseries",
	"dataSource": "event_shared_ds_1",
	"granularity":"minute",
	"descending": "false",
	"intervals": [
		"2017-03-05T00:00:00.000/2017-03-06T00:00:00.000"
	],
	"aggregations": [
		{
				"type": "longSum",
				"name": "53AB27028DD5",
				"fieldName": "eventCount"

		}
	],
	"context": {
		"queryId": "1490085055687_2196_0.6030748523107982"
	}
}
I a

[2017-03-23 09:46] asdf2014 commented on #4098
I found a isssue in `Avro` (https://issues.apache.org/jira/browse/AVRO-813). I think it could be the reason. Should we log some to explain it for `Druid` user?

[2017-03-23 10:25] erikdubbelboer commented on #4097
Our data has a granularity of `HOUR`.

[2017-03-23 14:17] gianm commented on #4093
Fixed by #4094.

[2017-03-23 14:17] #4093 closed

[2017-03-23 14:23] gianm commented on #4097
This looks like #4001, a bug that happens with some of the predefined granularities like "day" when your brokers are on 0.9.x and other nodes are on 0.10.0-rc1. It'll be fixed in 0.10.0-rc2.

I think the query you pasted should also work if your brokers are all running 0.10.0-rc1 too.

[2017-03-23 14:37] erikdubbelboer commented on #4097
I only switched one historical node so I don't know if all nodes running 0.10.0-rc1 would work. I'll try this next week.

[2017-03-23 14:41] Nachiket90 opened #4101 "Druid kafka indexing service task consumer lag"
Hi,

Is there any way to get lag in number of messages between kafka topic producer and druid kafka indexing service task consumer? I see in indexing service code that offsets are not committed to kafka because of task replication and event/message processing. Currently lag metrics are not available as part of druid metrics. Is there any way to get them in terms of JMX metrics or graphite metrics?

[2017-03-23 15:24] gianm commented on #4095
Oops, closed accidentally.

[2017-03-23 15:31] pjain1 commented on #4101
I don't think there is any metric like that however I think it might be useful to add that. One indirect way is to monitor lag would be to use this metric if you have a realtime pipeline -
[code]

[2017-03-23 15:37] gianm commented on #4101
You can get the current Kafka offsets that Druid is consuming at using the "Get Supervisor Status Report" API mentioned at http://druid.io/docs/latest/development/extensions-core/kafka-ingestion.html. If you subtract that from the latest offsets in Kafka, you'll get the lag.

It'd definitely be nice for Druid to do that itself, although I believe it currently doesn't.

[2017-03-23 16:51] gianm commented on #4095
I raised https://issues.apache.org/jira/browse/CURATOR-394 with Curator. The root cause of this looks like a Curator bug. In this situation, it should be doable to upgrade Tranquility (the client) first and then Druid (the service), since Tranquillity doesn't announce itself so the "rolling upgrades are impossible" scenario I wrote up in the Curator JIRA doesn't apply.

Some questions:

- Should w

[2017-03-23 16:55] gianm commented on #4095
My feeling is it makes sense to revert the Curator 2.12.0 upgrade.

[2017-03-23 17:02] Nachiket90 commented on #4101
Thanks @gianm  and @pjain1 for suggestions. Currently I am using way suggested by @gianm but it looks messy and I need to write additional code to send those metrics to graphite or influx. Can you point me direction in druid source where I can add this as part of ingest metrics? I'll give it a try.

[2017-03-23 17:20] gianm commented on #4101
If you check out KafkaSupervisor you should be able to find the code that does the status reports. Search for `"currentOffsets"` in the code (one of the keys in the report) to find it.

I think when adding lag, you're going to need to retrieve the latest offsets as well from Kafka, and the most important thing to do there is make sure that this call happens in a way that doesn't block anything els

[2017-03-23 17:30] gianm commented on #4036
@naman-aasaan my guess is this isn't a bug, it seems more likely that you're out of disk space on historicals and that's why data isn't getting loaded. Please double-check that and reopen if you still do think this is a bug.

[2017-03-23 17:30] #4036 closed

[2017-03-23 18:41] gianm commented on #4095
Talking with Jordan on CURATOR-394, it sounds like they may revert their change that broke stuff here, and do another Curator release. So for 0.10.0 I think we should revert back to the older Curator, and then revisit upgrading Curator in 0.10.1. I'll do a patch for that in a bit.

[2017-03-23 20:08] #4026 closed

[2017-03-23 20:44] #4095 closed

[2017-03-23 20:45] gianm commented on #4056
Reopening this issue, since the Curator upgrade was reverted in #4103.

[2017-03-23 20:45] gianm commented on #3837
Reopening this issue, since the Curator upgrade was reverted in #4103.

[2017-03-23 20:46] gianm commented on #4056
Tagging as 0.10.1 to remind us to look to see if there has been a Curator fix for https://issues.apache.org/jira/browse/CURATOR-394 when we start working on the 0.10.1 release.

[2017-03-23 20:47] gianm commented on #4056
Actually, I'm going to close this in favor of #3837. Both Druid issues are wanting a fix for https://issues.apache.org/jira/browse/CURATOR-358.

[2017-03-23 20:47] #4056 closed

[2017-03-23 20:47] gianm commented on #3837
Tagging as 0.10.1 to remind us to look to see if there has been a Curator fix for https://issues.apache.org/jira/browse/CURATOR-394 when we start working on the 0.10.1 release.

[2017-03-23 21:01] andy256 commented on #4056
Oh, sorry, I didn't realize this was a duplicate of #3837.

But the title of this one is doubly relevant. *sigh*

[2017-03-24 02:02] leventov commented on #3892
@leerho
BTW since Druid has now officially moved to Java 8, should Memory still support Java 7? I see https://github.com/DataSketches/sketches-core/ is also Java 8.

If it shouldn't, `Memory` and `WritableMemory` could be made interfaces, because interfaces support static methods in Java 8. If you want. However should be checked that performance is the same.

[2017-03-24 03:21] leerho commented on #3892
@leventov Performance degrades quite a bit with interfaces, unfortunately. Now that I have it working as abstract hierarchies, I'm not sure I want to change it.

Buffer, etc. is now working and with unit test coverage at 96%.

[2017-03-24 06:16] asdf2014 opened #4108 "java.lang.OutOfMemoryError: Requested array size exceeds VM limit"
I run `tranquility` instance for a few days, then the process throw `OOM` exception...
[code]

jmap -heap 29358
[code]

[2017-03-24 06:28] asdf2014 commented on #4108
And the gc situation of them is such terrible.

jstat -gcutil -t 28142 1000
[code]

[2017-03-24 06:35] gianm commented on #4108
The stack trace looks like you have strings in your avro objects that are really super long.

[2017-03-24 06:42] asdf2014 commented on #4108
Yep, it could be. But the length of string must longer than `Integer.MAX_VALUE-2`. I think it cannot happened in my situation.

[2017-03-24 06:45] gianm commented on #4108
Is it possible there's some corrupt data or an issue with the avro parser? The stack trace looks like it's more likely one of those two than a problem with druid code.

[2017-03-24 07:14] asdf2014 commented on #4108
Maybe... Is it due to https://github.com/druid-io/druid/pull/4100? There are too many nessnary `EOFException` from `ByteBufferInputStream` in `avro`. That will hurt the performance of `tranquility`. I will fix it in our Druid cluster by adding the patch https://issues.apache.org/jira/secure/attachment/12477556/avro-813-patch.txt.

[2017-03-24 08:20] leventov commented on #3837
Might be related: https://github.com/druid-io/druid/pull/3768

[2017-03-24 10:19] niketh commented on #4095
👍

[2017-03-25 00:02] leventov opened #4112 "ScanQueryRunnerFactory should pass CTX_TIMEOUT_AT via Query context rather than responseContext"
https://github.com/druid-io/druid/blob/master/extensions-contrib/scan-query/src/main/java/io/druid/query/scan/ScanQueryRunnerFactory.java#L122

cc @kaijianding

[2017-03-25 00:15] leventov opened #4113 "Refactor QueryRunner.run(), make responseContext immutable"
Mutable Map, passed into QueryRunner.run(), is abused: https://github.com/druid-io/druid/issues/4112 and inherently broken with async/concurrent runners: https://github.com/druid-io/druid/issues/3803.

I suggest to change QueryRunner signature to
[code]

where
[code]

What do you think? @himanshug @gianm

[2017-03-25 01:40] erikdubbelboer commented on #4097
This is fixed in 0.10.0-rc2.

[2017-03-25 01:40] #4097 closed

[2017-03-25 01:41] gianm commented on #4113
I guess that means the response context would need to be returned before queries are finished executing, since they won't be done by the time QueryRunner.run returns. Is that ok?

Example: at one point I was thinking we could use the response context for a possible query profiling feature, something that doesn't involve emitting metrics but instead returns a profile in the response itself. That wo

[2017-03-25 01:41] gianm commented on #4113
#3803 does mean that response contexts are not very useful right now, so I agree _something_ needs to change.

[2017-03-25 01:42] gianm commented on #4113
Would it be too weird to have:

[code]

Where `responseContext` is a future that might not be available until the `result` has finished accumulating?

[2017-03-25 01:43] gianm commented on #4113
@leventov in #3803 you said you were using response contexts for more things -- what were they? Some use cases would illuminate what the behavior should be. Right now, in Druid response contexts aren't used for very much so it's not really clear to me what the best behavior is.

[2017-03-25 01:44] gianm commented on #4097
Thanks for confirming!

[2017-03-25 02:07] leventov commented on #4113
Yes, I forgot that sometimes responseContext is updated *during* the Sequence accumulating. Also AFAIR sometimes it is somehow used *before* sequence is accumulated. So either we need to rethink some logic using responseContext now, or have two responseContexts: "before" and "after", that would be too complex IMO.

In #3803 I was using it to pass what is now known as `QueryMetrics`. However I shou

[2017-03-25 03:53] erikdubbelboer commented on #3840
https://github.com/druid-io/druid/issues/3928 has been merged.

[2017-03-25 03:53] #3840 closed

[2017-03-26 07:02] knoguchi commented on #4101
I just [talked about the same issue](https://groups.google.com/forum/#!topic/druid-user/sNOyoXR5WDE) in the users ML.  One option I thought of is to let KafkaSupervisor report the offsets to the brokers by `commitSync(Map<TopicPartition,OffsetAndMetadata> offsets)` so that readily available monitoring tools would work.   The offset in the broker is for the monitoring purpose only.  The supervisor

[2017-03-26 11:50] zhxiaom5 opened #4117 "not using historical node"
maybe historical node is useless to me，and i just want search result in 1 hour。
so，how to configure to not use  historical node ？
ps：i use tranquilty kafka to ingest msg
thanks

[2017-03-26 11:52] zhxiaom5 commented on #4058
anyone here？

[2017-03-26 13:33] zhxiaom5 commented on #4058
finally，i found this
1.my timezone config not right，some service use UTC and some use UTC+0800
2.historical config,maxsize seems cant be zero,so i change it below
# Segment storage
druid.segmentCache.locations=[{"path":"var/druid/segment-cache","maxSize"\:30000000000}]
druid.server.maxSize=30000000000

3.hisorical load segment seems take too long,so i change blow
druid.segmentCache.numLoadingThrea

[2017-03-26 22:09] drcrallen opened #4119 "JSONPathParser.charsetFix huge time sink in batch indexing"
I was testing out some batch indexing items in 0.9.1.1 this weekend when I noticed the hadoop indexer was spending a LOT of self-time in `JSONPathParser::charsetFix` as measured with CPU Sampling through jvisualvm.

I don't have enough evidence yet to say if this is a "real" bottleneck or masking an actual bottleneck due to how JMX does cpu sampling, but I found it very odd that a rare-event fixer

[2017-03-26 22:12] drcrallen commented on #4119
The input file was line-delimited JSON

[2017-03-27 11:47] longweiquan opened #4120 "groupBy Query do not work with granularity when time shifts (0.8.2)"
Druid 0.8.2

//Request for data of two consecutive day on timezone paris
//where 2017-03-26 is the day where time shifts from winter time to summer time
{
    "queryType": "groupBy",
    "dataSource": "adotmob-anonyme",
    "intervals": "2017-03-25T23Z/2017-03-27T21:59:59.999Z",
    "granularity": "all",
    "context": {
        "useCache": true,
        "populateCache": true,
        "timeout": 2

[2017-03-27 19:57] himanshug commented on #4113
#3803 definitely needs to be fixed

responseContext has very lightweight usage. one option is to change to `QueryRunner.run(Query query, ResponseContext context)` and ResponseContext class takes care of concurrency where necessary, this might be more straightforward than having

[code]

@gianm I have tried to do the "profiling" stuff in https://github.com/druid-io/druid/pull/3371

[2017-03-28 01:19] asdf2014 commented on #4108
@gianm `Tranquility` is totally fine after i add those patches [AVRO-813](https://issues.apache.org/jira/browse/AVRO-813) and https://github.com/druid-io/druid/pull/4092 to fix the `EOFException` problem.

jstat -gcutil -t 27545 1000
[code]

[2017-03-28 01:40] asdf2014 commented on #4108
Btw, i tuning the `JVM` to increase the capacity of `Eden Space` with those options that `-J-XX:NewSize=12G -J-XX:MaxNewSize=12G` for reducing the performance lose because of copying the large object into `Old Generation` even the `Allocation Failure` problem.

[2017-03-28 01:41] asdf2014 commented on #4108
Btw, i tune the `JVM` of `Tranquility` to increase the capacity of `Eden Space` with those options that `-J-XX:NewSize=12G -J-XX:MaxNewSize=12G` for reducing the performance lose because of copying the large object into `Old Generation` even the `Allocation Failure` problem.

[2017-03-28 05:56] leventov commented on #3892
Netty found the same issue with interfaces: http://netty.io/wiki/new-and-noteworthy-in-4.0.html#bytebuf-is-not-an-interface-but-an-abstract-class

[2017-03-28 08:08] bboalimoe opened #4121 "Can druid read all the files on the HDFS including other sources"
Can we use druid to query the data stored in the HDFS from other sources, e.g. , from the Hbase or hadoop native api?

[2017-03-28 12:27] dene14 opened #4123 "statsd-emitter should respect DNS changes"
Hello there!

I've noticed that statsd-emitter doesn't respect DNS changes and DNS TTL for statsd endpoint. This makes impossible to use dynamic infrastructure in behind it, as well as manual changes to DNS requires full Druid cluster restart, which doesn't look right if we're talking just about metrics collection.

Also, inability to resolve statsd endpoint is fatal for whole druid service, is it

[2017-03-28 22:46] leventov commented on #3301
@dclim could this issue be closed?

[2017-03-28 23:00] leventov opened #4124 "Use async-http-client instead of metamx/http-client?"
We can leverage actively community-supported https://github.com/AsyncHttpClient/async-http-client instead of "own" https://github.com/metamx/http-client.

Why:
 - Support: metamx/http-client is stuck with Netty 3.9 and no-one seems to want/have resources to migrate it to Netty 4.1, async-http-client uses the very latest version of Netty already.
 - At least in it's own source async-http-client doe

[2017-03-28 23:06] leventov commented on #4113
@himanshug so we are suggesting the same thing. I raised concern that this design is overly complex, but it might be unavoidable, if we genuinely need preContext and postContext sometimes.

[2017-03-29 01:27] leventov opened #4125 "Use AutoValue for Query objects and their builders?"
Query objects and their builder is a lot of boilerplate code. AutoValue exists for that: https://github.com/google/auto/tree/master/value.

[2017-03-29 07:38] #4108 closed

[2017-03-29 07:39] #4098 closed

[2017-03-29 10:25] erikdubbelboer opened #4126 "Druid return random timezones when using a non-UTC timezone"
After updating to `druid-0.10.0-rc2` we are seeing druid return random timezones. This only seems to happen when we use a different timezone than UTC.

Which rows have these random timezones changes every time the report is re-run.

In theory the time is not wrong as the hour changes accordingly but seeing that this happens randomly I'm pretty sure this is undesired behavior.

The query we run is:

[2017-03-29 14:09] drcrallen commented on #4126
By "use a different time zone" do you mean the machine system is on a different time zones, or that the query is in a non-UTC timezone?

[2017-03-29 14:15] erikdubbelboer commented on #4126
@drcrallen No all our machines are in UTC. I mean `granularity.timeZone` in the query JSON.

[2017-03-29 17:32] vogievetsky opened #4128 "DruidSQL ignoring order by direction of inner query"
This is an error as running against master (NOT 0.10.0-rc2) this is related to https://github.com/druid-io/druid/pull/4085 which is not part of 0.10.0-rc2 IIRC

These two queries return the same results:

Query asc:
[code]

Query desc
[code]

It always does ascending (desc is ignored)

[2017-03-29 18:06] akashdw opened #4129 "GroupByV2 error message"
We are seeing some of the GroupByV2 queries fails with `ResourceLimitExceededException` but error message does not say exactly what was the cause, that makes tuning difficult.
It would be nice if we can log message which says where error happens.

[2017-03-29 19:07] arpankhagram commented on #3833
Hi Gianm,

We were also facing this issue while performing groupby using V2 when we are keeping the disk spill option.

We have remove disk spill option but have not been able to find a proper solution for running large groupBy queries.

**Data Size** : We are having around 62-65 metrics and 7-8 dimensions in each poll of every 15 mins and around 8 million records every 15 mins. So total there are

[2017-03-29 19:10] arpankhagram commented on #4129
Hi @akashdw  We have been facing similar issues with groupBy V2 where tuning is becoming difficult with similar message for most of the issues - i have replied @gianm about our problems - https://github.com/druid-io/druid/issues/3833.

[2017-03-29 19:16] arpankhagram opened #4132 "Possibility of having String Metrics"
Similar to the new feature we have in 0.10 to allow dimension with non-string values - we have requirement of specifying few of the metrics as String and perform  last/first operations on them.

Kindly let me know.

[2017-03-29 19:25] fjy commented on #4132
@arpankhagram Where we are going is for Druid just to have columns with types. if you disable rollup in Druid, you can you list all your columns as dimensions, and you can perform filters/aggregations/other functions over those columns. What you are asking for might already be possible, I just have to double check.

[2017-03-29 21:50] dclim commented on #3301
@leventov yes, thank you

[2017-03-29 21:50] #3301 closed

[2017-03-30 02:04] jihoonson commented on #3833
Hi @arpankhagram, I'm looking at this problem.

Would you share more details about this problem?

Also, it would be great if you open a new issue for your problem.

[2017-03-30 02:55] jihoonson commented on #4126
Maybe due to the summer time. Would you try with ```CEST```?

[2017-03-30 03:05] erikdubbelboer commented on #4126
@jihoonson `CEST` always returns `Z` so it seems to have something to do with summer time. But with `CET` it's completely random which days in the result have a different timezone each time I run the exact same report. My guess is some time instance (I have no idea how that code works) is being reused somewhere without resetting the timezone properly.

[2017-03-30 03:35] jihoonson commented on #4126
Looks weird.. When I test using almost same query on my local cluster, I god the following result which looks valid (https://github.com/JodaOrg/joda-time/blob/master/src/main/java/org/joda/time/DateTimeZone.java#L62).
[code]

[2017-03-30 04:37] erikdubbelboer commented on #4126
@jihoonson maybe try it on the exact same dates as my query?

I uploaded 10 runs of the exact same query here so you can see the randomness: https://gist.github.com/erikdubbelboer/43b18dbe84d128609c3c1eb11ffdc066

Somewhat related: isn't it weird that when I run a query in `CET` I get result dates in `UTC`? Doesn't it make more sense to return the timestamps in `CET` then as well?

[2017-03-30 04:43] jihoonson commented on #4126
@erikdubbelboer yeah, it's also weird.
The only difference of my query was the interval. I'll try with the exactly same one.

[2017-03-30 07:13] bettybao1209 opened #4133 "java.lang.ClassNotFoundException: Class org.apache.hadoop.hive.ql.io.orc.OrcNewSplit not found"
Hi, recently I wanna ingest batch data in hdfs, which is in ORC format. And I have already include druid-orc-extension-0.9.2.jar into extensions directory, and add this extension into commom_runtime.propreties as well. However, I still meet class not found exception , just as following:
Error: java.lang.RuntimeException: readObject can't find class
	at org.apache.hadoop.mapreduce.lib.input.TaggedI

[2017-03-30 13:27] meixinyun opened #4136 "task cannot be shutdown"
hi ,  I  found a problem as follows,it seems to be a serious bug there,   how can i fix this?

 after i restart all the component of druid, without delete mysql index, ( and i delete all the files  in the var directory)  , then a task do the job like that:
   1. TaskQueue - Asking taskRunner to run
   2. RemoteTaskRunner - Added pending task
   3. Coordinator asking Worker  to add task
   4. [rtr-

[2017-03-30 21:43] gvsmirnov opened #4137 "Kafka indexing gets stuck if there is data from outside of load period"
**Steps to reproduce:**

1. Set up a druid cluster with `druid-kafka-indexing-service` enabled, using the [sample spec provided in the doc](http://druid.io/docs/latest/development/extensions-core/kafka-ingestion.html#submitting-a-supervisor-spec)

2. Send data to kafka:
[code]

3. Set up a retention rule that asks to load data for the last day:
<img width="589" alt="screen shot 2017-03-31 at 00 40

[2017-03-30 21:55] pjain1 commented on #4137
do you have any default rule setup ? I think the problem is that for the outdated segment default rule will be applicable since the segment it is not within the last day and if the default rule not a load rule then the segment may not be loaded and task will not finish.

[2017-03-30 21:58] gvsmirnov commented on #4137
@pjain1 the only rule change from default is in the ticket. The default rule's load was changed from forever to `P1D`.

[2017-03-30 22:35] pjain1 commented on #4137
hmm..tasks can be configured to drop such outdated message see `lateMessageRejectionPeriod ` in `KafkaSupervisorIOConfig` section [here](http://druid.io/docs/latest/development/extensions-core/kafka-ingestion.html). Assumption here is that If the late message will be indexed by batch pipeline eventually.

[2017-03-30 23:36] msn commented on #3879
Think I might be hitting this too. org.apache.hadoop.mapred.LocalJobRunner bombs out based a java.lang.NumberFormatException: For input string: "\N"

[2017-03-31 05:23] jihoonson commented on #4126
@erikdubbelboer I've tested with the same interval, but the result was correct as shown below. Here are my [ingestionSpec](https://gist.github.com/jihoonson/a5ef400e3e2e502d5e5de9ebfc7c56f9) and [query](https://gist.github.com/jihoonson/f1f2d26df406e681f019ebe3e61c0c3c).
[code]

[2017-03-31 06:14] iNikem commented on #4137
But this is counterintuitive, that Historical node's load rule breaks segment hand-off from indexing node. I mean, one would assume that the responsibility of indexing node is to prepare the segment ready and signal coordinator about it. If some or any historicals refuse to load that segment due to their rules, well, then this segment is not currently needed and it can live quietly in deep storage

[2017-03-31 07:03] uditsrn28 commented on #3599
Yeah we definitely need `discoverDimensions` feature. I am stuck due to this. Have some predefined fields and some un defined ones. Cant ingest all the dimensions using dimension less schema. `useFieldDiscovery` is one of the powerful feature of druid.

[2017-03-31 07:11] dhuadaar commented on #3599
Is there any development in pipeline on this issue or workaround. Even I am stuck due to this issue. Mentioning a `spatialDimension` is dropping all other dimensions I was expecting it to gather.

[2017-03-31 07:49] asdf2014 opened #4140 "`Unable to close file because the last block does not have enough number of replicas` IOException in `HdfsTaskLogs`"
Some problems happened in `MiddleManager`...
[code]

[2017-03-31 07:57] asdf2014 commented on #4140
Is it could due to `FileSystem` didn't close the stream?

`final FileSystem fs = path.getFileSystem(hadoopConfig);`

(https://github.com/druid-io/druid/blob/master/extensions-core/hdfs-storage/src/main/java/io/druid/storage/hdfs/tasklog/HdfsTaskLogs.java#L63)

[2017-03-31 08:11] jihoonson commented on #4140
Seems you need more memory. The first exception means writing on hdfs failed due to insufficient memory, and it looks to cause the second exception.

[2017-03-31 08:22] asdf2014 commented on #4140
@jihoonson You are right, we are checking the `HDFS`. I close the issues.

[2017-03-31 08:22] #4140 closed

[2017-03-31 19:06] dclim commented on #3599
Thanks for the feedback all, AFAIK this hasn't been implemented yet. Will mark for next release to see if it gets more attention. Anyone here is free to contribute this patch!

[2017-04-01 04:58] erikdubbelboer commented on #4126
We create segments per day with a hourly granularity: [ingestion.json](https://gist.github.com/erikdubbelboer/7652a3238c01609332902d56a18a7f5c)
Also maybe the year matters as your data is still in 1998.

How can I help to find this bug using our cluster?

[2017-04-03 11:45] jihoonson commented on #4126
@erikdubbelboer I've tested after adjusting the timestamp of my data and changing the ingestionSpec accordingly, but got the correct result like below.
[code]

Maybe there are some problems with your configurations or data.
If you can, please share your configurations here. Also, if possible, please share any small snippet of your data.
It will be more helpful because other people can also have a

[2017-04-04 07:36] erikdubbelboer commented on #4126
@jihoonson that is strange. Did you run the query multiple times?

Here is part of our config, the ingestion spec, and some example data: https://gist.github.com/erikdubbelboer/7652a3238c01609332902d56a18a7f5c

[2017-04-04 13:59] Gowtham95india opened #4144 "Tranquility Kafka Single DataSource From Multiple Topics?"
Is it possible to have single datasource from multiple Kafka topics ?

Like:

[code]

We have multi-tenancy architecture,  where each tenancy will be producing to their individual topics. So can we have something like the above mentioned in which all the details will be stored to single datasource at the end?

[2017-04-04 18:26] arpankhagram commented on #4132
Hi Fajing, Did you get anything around this ? The requirement i have is to run lastValue aggregation on specific dimension (which in our case is String metric)

[2017-04-04 18:35] arpankhagram commented on #3833
Hi @jihoonson The issue we were having was similar to what you have been discussing on #4134 - we earlier thought default value as 0 is no timeout and it waits for infinite time that seems not to be working as per our understanding so we decided to pass query timeout value in query context to set the actual timeout.

Also we were having very large filter in the query which was probably making the

[2017-04-04 18:53] arpankhagram opened #4145 "Coordinator Console : Suggesting Changes"
Hi Team, I feel there is a need to add few columns on coordinator console for "Complete Tasks - Tasks recently completed" tabular view. (snapshot of my coordinator console attached)

1. If there is any task which fails - it;s better that is displays which middleManager has processed that particular task so that we can directly go on that node to check the logs. There is a columns called location h

[2017-04-05 03:20] pjain1 commented on #4137
The current design makes sure that the indexed is always available for querying therefore task do not shutdown unless the segment is loaded by a historical.

However, you are correct, in an ideal world task can drop segments if its not going to get loaded. Currently the indexing tasks does not have any knowledge about load/drop rules so they can't make this decision. Hopefully, this can be improve

[2017-04-05 04:34] hamlet-lee opened #4147 "BUG: 0.10.0-rc2 "intervals" does not work in Hadoop Index task"
I specified below for index task:
[code]

In ingest spec, I specified:
[code]

but generated segments:
[code]

task log

[code]

[2017-04-05 10:08] hamlet-lee commented on #4147
I found it is related to segmentGranularity setting.
if I specified
[code]
other than
[code]

this "bug" do not appear.

[2017-04-05 10:08] #4147 closed

[2017-04-05 15:51] dclim commented on #4144
@Gowtham95india Tranquility Kafka allows you to specify a topicPattern, so you should be able to use "topicPattern": "vtap_clickstream_*" to accomplish what you want. Does this work for you?

For reference: https://github.com/druid-io/tranquility/blob/master/docs/kafka.md#matching-topics-to-data-sources

[2017-04-05 15:58] dclim opened #4149 "Having duplicate entries in metricsSpec causes ArrayIndexOutOfBoundsException during index generation"
It would be a nicer user experience if this situation could be validated when the ingestion spec is received and either fail immediately with a more helpful error message or where possible auto de-dupe identical redundant fields.

[code]

[2017-04-05 16:06] Gowtham95india commented on #4144
@dclim Hey thanks for the suggestion.

But the above one I shared as example. On high level, we have around 15 services running. As of now, among those 15 services, 3 services will produce messages to different topics like

discovery_engine_stats_1, vigeon_notifs_1, shopping_cart_orders_1,
discovery_engine_stats_2, vigeon_notifs_2, shopping_cart_orders_2,

So, here is the doubt I have:

If my topi

[2017-04-05 16:55] dclim commented on #4144
@Gowtham95india sorry I gave you a bad example - the topicPattern is actually a regex, so you can craft a regex that matches the topics you want to read into a datasource. In my example, it should actually have been something like `vtap_clickstream_.*` And yes, in your case you can do `.*_1`, or if you want to be explicit you can use something like topicPattern `discovery_engine_stats_1|vigeon_not

[2017-04-05 17:14] Gowtham95india commented on #4144
@dclim

Yea, thanks for the hint. I'll try and let you know. If required will reopen the issue. Closing  it now. Thanks :) 👍

[2017-04-05 17:14] #4144 closed

[2017-04-06 06:51] hamlet-lee commented on #3944
There are two upgrade points may should be mentioned in the release notes:

1. "segmentGranularity" semantics changed.
   If running in some locale other than "GMT", and set as "DAY" / "WEEK" / "MONTH", the result segments boundary may be changed.
  In my production running, I found that:
     In previous version, it generates segments in "local 00:00:00"
     In 0.10.0, it generates segments boun

[2017-04-06 08:22] elloooooo opened #4150 "Why druid can't ingest data from another HDFS cluster which is not used as its deep storage?"

[2017-04-06 14:34] b-slim commented on #4150
It certainly can if the hadoop tasks executors will be able to read this data. You can point to that data via `inputSpec` that is part of `IoConfig`

[2017-04-06 15:01] RobertErvin opened #4151 "Timeseries Period Granularity Query Not Working As Expected"
Druid Version: 0.9.2

On the frontend, I am creating a timeseries linegraph with the following requirements:

- The first timestamped bucket in the response must have the bucket timestamp be the date of the first (starting) interval in my query, the last timestamped bucket with the second (ending) interval in my query, and the rest of the bucket timestamps evenly spaced between those two dates.
-

[2017-04-06 19:38] knoguchi opened #4152 "maven test fails with timeout error"
The maven test failed for me.  It could be very well my environment, but I'm seeing this error.   BlockingPoolTest was added in Feb 2017.   Can we [increase the timeout](https://github.com/druid-io/druid/blame/7200dce112d8f69f3f59d16b2b8290d69459aa5e/common/src/test/java/io/druid/collections/BlockingPoolTest.java#L103) unless the 1000 milli sec is the hard requirement?

[code]

[2017-04-06 20:45] knoguchi commented on #4152
It was actually log4j taking up the time trying to lookup DNS for non existing host name.
I added /etc/hosts entry for the host.  Now the test finishes in 0.6sec.

I don't know the solution but it'd be great if we could segregate the tests from the environment.

[code]

[2017-04-06 21:05] knoguchi commented on #4152
log4j web page said:

[2017-04-07 00:09] #4151 closed

[2017-04-07 13:16] sixtus opened #4156 "If response is too large for memcache, no response is returned at all."
Expected behavior:

druid just doesn't cache, but returns the response.

Instead I get a 500:
[code]

That's not very nice.

[2017-04-07 14:19] b-slim commented on #4150
you need to provide the full URI like `hdfs://nn1.example.com/file1`.

[2017-04-07 17:29] mgastel commented on #4156
I'd put a +1 on this.   I've never enabled caching for group by's because I don't want to have my users potentially get an error.   I would also prefer "just doesn't cache" and maybe keep a stat or something

[2017-04-08 12:09] arpankhagram commented on #4011
@gianm  We have been able to make some progress by using groupBy queries to fetch those large result sets but the problem we are facing is with respect to inability of druid to response other small queries when we run these large groupBy queries. we have requests coming from multiple sources on demand to fetch the data - we can't let those requests timed out because of this large groupBy query.

C

[2017-04-08 16:59] knoguchi commented on #4133
I've never used that extension, so this is just a suggestion only.   The OrcNewSplit class is provided by `hive-exec` version 2.0.0 jar.  The first thing I'd do is [pull-deps](http://druid.io/docs/latest/operations/pull-deps.html) and make sure necessary jars for the plugin is downloaded.

`java -classpath "./lib/*" io.druid.cli.Main tools pull-deps --clean -c io.druid.extensions.contrib:druid-orc

[2017-04-10 00:38] #3652 closed

[2017-04-10 03:21] gianm commented on #4113
IMO, changes to response context should be motivated by use cases. There is no need to add complexity for things we might need but don't actually need. I suggest we combine this issue with #3803, they seem to be the same underlying problem.

Right now, response context is used for:

- tracking missing segments for query retries (see SpecificSegmentQueryRunner, ReportTimelineMissingSegmentQueryRunn

[2017-04-10 03:35] gianm commented on #3833
@arpankhagram no, I'm not aware of plans to fix the original disk spill issue.

[2017-04-10 07:41] mjaow opened #4158 "how to decompress segment to Raw data"
i had a need on moving data from druid to another app which don't know the format of druid segment.I have to decompress the segment from druid hdfs.Is there any function exists to get it done?Or is there a better way?

[2017-04-10 08:18] mjaow commented on #4158
i find a dump-segment tool in the version of 0.9.2.But i'm using 0.9.1.It seems i have to implement it with help of latest version

[2017-04-10 11:58] elloooooo commented on #4150
@b-slim Thank you very much. I will try it.

[2017-04-10 15:13] himanshug commented on #4113
response context is also used for tracking the "etag" field to implement https://github.com/druid-io/druid/pull/3955

[2017-04-10 15:36] knoguchi commented on #4158
I don't think you can extract raw data from 0.9.1.  The 0.9.2 introduced `rollup` option in the [granularity spec](http://druid.io/docs/0.9.2/ingestion/).  Unless the option is explicitly turned off the  raw data is aggregated and rolled up before saved into disk.

[2017-04-10 19:03] gianm commented on #3944
@hamlet-lee,

For (1) do you mean this is a behavior change when you're running Druid with some TZ other than UTC? If so, that configuration isn't supported (we officially only support running in UTC) and so behavior there is undefined and may change for any feature that relies on time zones. I'll add something to the release notes, but please run Druid in the UTC tz if at all possible, for your o

[2017-04-10 19:14] gianm commented on #3944
I added this to the release notes:

[2017-04-10 21:22] gianm commented on #4016
@pjain1, just wondering, are you still looking at this? anything we could help with?

[2017-04-10 22:20] pjain1 commented on #4016
Hey, sorry it got stretched out a bit. I am done with the coding and currently testing it on our metrics cluster. I am yet to write tests for it, however I will try to do a PR without it as soon as possible so that you can have a look. Thanks

[2017-04-11 02:44] mjaow commented on #4158
@knoguchi you are right.Anyway i can still get the aggregated data.Maybe that is just enough

[2017-04-11 16:26] drcrallen opened #4161 "Make `org.eclipse.jetty.server.HttpConfiguration` injectable"
This ask is that `org.eclipse.jetty.server.HttpConfiguration` be  made injectable for `io.druid.server.initialization.jetty.JettyServerModule#makeJettyServer`

[2017-04-11 16:27] drcrallen commented on #4161
Discovered when I was looking at https://github.com/druid-io/druid/pull/4160

[2017-04-11 19:00] gianm commented on #3944
I updated the groupBy section of the release notes based on the dev sync discussion today:

[2017-04-11 20:35] knoguchi commented on #3505
Now, I'm working on adding ETL capability to Druid, and considering Jackson JsonNode as the intermediate format.   I would like to introduce two modules.

- [Jacskon  standard binary dataformat backends](https://github.com/FasterXML/jackson-dataformats-binary)
- [Jackson-jq](https://github.com/eiiches/jackson-jq)

I'm thinking of adding flattenSpec type "jq" and accept the jq expression in the "ex

[2017-04-12 10:09] #4128 closed

[2017-04-12 10:18] hamlet-lee commented on #3944
@gianm
My mistake, it should be:
 tuningConfig: "rowFlushBoundary" has changed to "maxRowsInMemory"

[2017-04-12 10:57] arpankhagram opened #4165 "Query Timeout"
Hi Team,

We have observed different behavior with respect to query timeout settings.

Our select queries ( to fetch 7 days of raw data) for specific device port were taking longer time and making historical node inaccessible but them started running very fast as soon as we started setting query timeout.

Are there 2 different algorithm when timeout is set or not.

Regards,
Arpan Khagram

[2017-04-12 11:02] arpankhagram opened #4166 "Custom Aggregation"
Hi Team, We have requirement of having one aggregation where we want to find out count change in values within specific time ( if we value of specific metric say M1 was changed 5 timed then the aggregation value in return should be 5)

We are running group by query to perform bulk aggregation out of raw data as suggested by @gianm earlier and because of large dataset we can not run it single threa

[2017-04-12 11:12] arpankhagram opened #4167 "Overlord Logs : Warning"
Hi Team, I can see below warning continuously in my overlord logs for our Kafka supervisor. PFB the sample :

WARN[KafkaSupervisor-DSLAM] io.druid.segment.indexing.DataSchema - No metricsSpec has been specified. Are you sure this is what you want ?

This is in spite of the metrics specified in Kafka supervisor.

Is this something known and should be ignored ? Do not see impact of this anywhere exc

[2017-04-12 12:06] elloooooo commented on #4150
@b-slim when I provide the full URI like hdfs://mycluster-tj/XXX/XXX, I got the the exception below:

	at org.apache.hadoop.security.SecurityUtil.buildTokenService(SecurityUtil.java:377) ~[?:?]
	at org.apache.hadoop.hdfs.NameNodeProxies.createNonHAProxy(NameNodeProxies.java:237) ~[?:?]
	at org.apache.hadoop.hdfs.NameNodeProxies.createProxy(NameNodeProxies.java:141) ~[?:?]
	at org.apache.hadoop.hdf

[2017-04-12 13:33] b-slim commented on #4150
is `mycluster-tj` a fully qualified domain name ?  can you try to use the ip address instead  ?
to debug this you can try from one of the nodes `hdfs dfs -ls  hdfs://mycluster-tj/XXX/XXX`

[2017-04-12 15:31] #4152 closed

[2017-04-12 18:41] gianm commented on #3944
rowFlushBoundary should still work in 0.10.0 (but it is deprecated and has been since 0.9.0).

[2017-04-12 21:28] pjain1 commented on #4016
@gianm What is the expected behavior in case of stopGracefully being called on task. If a driver is at `mergeAndPush` stage then the task will not finish until all drivers have handed-off there segments otherwise just persist everything and be done ?
Also when the task fails to publish even after pending completion timeout, KafkaSupervisor stops the task gracefully and does not kill them. Is there

[2017-04-12 21:35] gianm commented on #4016
@pjain1

stopGracefully is used for the "restoreTasksOnRestart" feature. It's called on all restorable tasks (canRestore = true) when a middleManager shuts down and is meant to prepare for the task being restored when the middleManager starts back up. Any behavior is ok as long as it satisfies the needs of that feature.

I'm not sure, maybe @dclim knows.

[2017-04-12 21:40] dclim commented on #4016
@pjain1 I think the KafkaSupervisor generally first tries to stop tasks gracefully and then kills them after a timeout; in the case you mentioned, it should be fine to just kill them immediately

[2017-04-13 01:18] pjain1 commented on #4016
Thanks

[2017-04-13 21:56] jerchung opened #4170 "S3DataSegmentPusher writes incomplete descriptor.json segment data to S3"
In the code for the `S3DataSegmentPusher`, it appears that it tries to add some data to the `outSegment` (`size`, `loadSpec`, `binaryVersion`), but then it writes the old `inSegment` without the added data to deep storage, meaning that the `descriptor.json` files found in S3 deep storage are missing information.

https://github.com/druid-io/druid/blob/druid-0.10.0-rc2/extensions-core/s3-extensions